<section class="faq__area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
                <div class="faq__left wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                    <h2 class="sec-sub-title">FAQs</h2>
                    <h3 class="sec-title">Frequently <br> <span>asking questions.</span></h3>
                    <p>There are many variations of passages of Lorem Ipsum available, the majority have
                        suffered
                        alteration in
                        some form, by injected humour. randomised words which don't look even slightly
                        believable.
                        It uses a
                        dictionary of over 200 Latin words, combined with </p>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
                <div class="faq__right">

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            <h2 class="" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Our current payroll is a bit complex and manual. Can you create a customized
                                    solution for us?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>We can. We have a payroll and statutory compliance management solution
                                        that is flexible to include employee and management self-service. We
                                        also have a payroll administering team who resolves your queries and
                                        make your manual process a hassle-free online process.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <h2 class="" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What is the right time to outsource my business's process?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>It is at any time and it may not be linked to the end of a tax year.
                                        Whenever you feel to streamline the business processes of your
                                        organization, you can outsource it to bring the efficient, and
                                        cost-effective results.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>