<!-- Footer area start -->
<footer class="footer__area">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="footer__widgets">
                        <div class="widget__one">
                            <img src="assets/imgs/logo/logo-02-min.png" alt="Footer Logo" class="footer__logo">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered
                                alteration in some form, by injected humour</p>

                            <ul class="social-media">
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer__widget-two">
                            <h2 class="footer__widget-title">Quick Links</h2>
                            <ul class="footer__menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/services">Services</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                        <div class="footer__widget-three">
                            <h2 class="footer__widget-title">Address</h2>
                            <ul class="footer__menu">
                                <div class="contact__item" style="color: var(--gray-4);">
                                    <ul>
                                        <li style="color: var(--gray-4);"><span style="
                                            display: inline-flex; width: 30px;height: 30px;
                                        " class="icon mb-0 me-2"><i
                                                    class="fa-solid fa-location-dot"></i></span>3-6-883,<br>
                                            Street No.15,
                                            <br> Himayathnagar-500029
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                        <div class="footer__widget-four">
                            <h2 class="footer__widget-title">Map</h2>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58408.97484139959!2d90.33915680783855!3d23.798644768568714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c102e2ece5bb%3A0x446e9dc895326a70!2sBangladesh%20National%20Zoo!5e0!3m2!1sen!2sbd!4v1671466814402!5m2!1sen!2sbd"></iframe>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__btm">
        <p>© 2023 — Deepwork Consultancy. Developed By <a target="_blank" style="color: #D92027;"
                href="https://swio.in">Swio
                Corporate</a> With Love &
            Passion. <br> All Rights Reserved.</p>
    </div>
</footer>
<!-- Footer area end -->


<!-- All JS Files -->
<script src="assets/js/jquery-3.6.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/counter.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/jquery.meanmenu.min.js"></script>
<script src="assets/js/progressbar.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/main.js"></script>

</body>

</html>