<!-- Footer area start -->
<a href="https://api.whatsapp.com/send?phone=7416228777" class="wa-float" target="_blank">
    <!-- <i class="fa-solid fa-whatsapp-square wa-my-float"></i> -->
    <img src="/assets/imgs/whatsapp-brands.png" />
</a>
<style scoped="">
    .wa-float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 10px;
        right: 10px;
        background-color: #25d366;
        writing-mode: vertical-lr;
        -webkit-writing-mode: vertical-lr;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }

    .wa-my-float {
        margin-top: 16px;
    }
</style>
<footer class="footer__area">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="footer__widgets">
                        <div class="widget__one">
                            <img src="/assets/imgs/logo/logo-02-min.png" alt="Footer Logo" class="footer__logo">
                        </div>
                        <div class="footer__widget-four">
                            <p>We provide financial and tax consulting services including accounting, payroll
                                management, GST and income tax, and legal compliance.</p>

                            <ul class="social-media mt-3">
                                <li><a href="https://www.facebook.com/deepworkco.in" target="_blank"><i
                                            class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/deepworkco_in" target="_blank"><i
                                            class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/deepworkco_in/" target="_blank"><i
                                            class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/deepworkcoin" target="_blank"><i
                                            class="fa-brands fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer__widget-two">
                            <h2 class="footer__widget-title">Quick Links</h2>
                            <ul class="footer__menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a style="color: var(--gray-4);">Startup</a></li>
                                <li><a href="/services">Services</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                        <div class="footer__widget-three">
                            <h2 class="footer__widget-title">Address</h2>
                            <ul class="footer__menu">
                                <div class="contact__item" style="color: var(--gray-4);">
                                    <a target="_blank">
                                        <ul>
                                            <li style="color: var(--gray-4);"><span style="
                                            display: inline-flex; width: 30px;height: 30px;
                                        " class="icon mb-0 me-2"><i
                                                        class="fa-solid fa-location-dot"></i></span>3-6-883,<br>
                                                Street No.15,
                                                <br> Himayathnagar-500029
                                            </li>
                                        </ul>
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__btm">
        <p>© 2023 — Deepwork Consultancy. <br>Developed By <a target="_blank" style="color: #D92027;"
                href="https://swio.in">Swio
                Corporate</a> <br>With Love &
            Passion. <br> All Rights Reserved.</p>
    </div>
</footer>
<!-- Footer area end -->


<!-- All JS Files -->
<script src="/assets/js/jquery-3.6.1.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/counter.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/jquery.meanmenu.min.js"></script>
<script src="/assets/js/progressbar.js"></script>
<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/main.js"></script>

</body>

</html>