<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Deepwork">

    <!-- Site Title -->
    <title>
        <%= title %>
    </title>

    <!-- Site Favicon -->
    <link rel="shortcut icon" href="/assets/imgs/logo/favicon.png" type="image/x-icon">


    <!-- Fonts -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""> -->
    <!-- All CSS Files -->
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="/assets/css/progressbar.css">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/master.css">
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- Scroll to top -->
    <button id="scroll_top" class="scroll-top"><i class="fa-solid fa-arrow-up"></i></button>


    <!-- Header area start -->
    <header class="header__area" id="header__sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header__inner">
                        <div class="header__logo">
                            <a href="/">
                                <img src="/assets/imgs/logo/logo-02-min.png" alt="Logo" class="logo">
                                <img src="/assets/imgs/logo/DeepWork Logo.png" alt="Logo" class="sticky-logo">
                            </a>
                        </div>
                        <div class="header__menu">
                            <div class="main-menu">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About</a></li>
                                    <style scoped>
                                        .main-dropdown1 {
                                            display: none;
                                            column-count: 2;
                                            width: 420px !important;
                                        }

                                        .main-dropdown1 li:nth-child(-n+5) {
                                            border-right: 1px solid #fff;
                                            padding-right: 10px;
                                        }

                                        .has-dropdown1:hover .main-dropdown1 {
                                            display: block;
                                        }
                                    </style>
                                    <li class="has-dropdown has-dropdown1"><a style="color: var(--white);">Start-Up</a>
                                        <ul class="main-dropdown main-dropdown1">
                                            <li><a style="color: var(--white);text-decoration: underline;">Startup
                                                    Registration</a></li>
                                            <li><a href="/startup/private-limited-company-registration">Private Limited
                                                    Company</a>
                                            </li>
                                            <li><a href="/startup/llp-company-registration">Limited Liability
                                                    Partnership</a></li>
                                            <li><a href="/startup/opc-registration">One Person Company</a></li>
                                            <li><a href="/startup/ngo-registration">NGO</a></li>
                                            <li><a style="color: var(--white);text-decoration: underline;">Startup
                                                    Services</a></li>
                                            <li><a href="/startup/startup-registrations#startup-india-registration">Start-up
                                                    India Registration</a></li>
                                            <li><a
                                                    href="/startup/startup-registrations#msme-registration">Udyam/MSME</a>
                                            </li>
                                            <li><a href="/startup/startup-registrations#professional-tax-registration">Professional
                                                    Tax</a></li>
                                            <li><a href="/startup/startup-registrations#trademark-registration">Trademark
                                                    Registration</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="/services">Services</a>
                                        <ul class="main-dropdown">
                                            <li><a href="/services/accounting-and-bookkeeping-service">Accounting &
                                                    Bookkeeping</a></li>
                                            <li><a href="/services/gst-service">GST</a></li>
                                            <li><a href="/services/it-returns">Income Tax</a></li>
                                            <li><a href="/services/payroll-management">Payroll Management</a></li>
                                            <li><a href="/services/secretarial-services">Secretarial Services</a>
                                            </li>
                                            <li><a href="/services/statutory-and-other-compliances">Statutory & other
                                                    Compliance</a>
                                            </li>
                                            <li><a href="/services/outsourcing-and-virtual-cfo-services">Outsourcing &
                                                    Virtual CFO Services</a></li>
                                            <li><a href="/services/profitability-analytics-and-management">Profitability
                                                    Analytics and Management</a></li>
                                            <li><a href="/services/business-valuation">Business Valuation</a></li>
                                            <li><a href="/services/ipr-service">IPR</a></li>
                                            <li><a href="/services/mergers-and-acquisitions">Mergers & Acquisitions</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="header__others">
                            <button class="menu-icon"><i class="fa-solid fa-bars"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header area end -->

    <!-- Offcanvas area start -->
    <div class="offcanvas__area">
        <div class="offcanvas__inner">
            <div class="offcanvas__top">
                <img src="/assets/imgs/logo/logo-02-min.png" alt="Logo">
                <button id="offcanvas_close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="offcanvas__menu">
                <div class="offcanvas-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a style="color: var(--white);">Start-Up</a>
                            <ul>
                                <li><a href="/startup/private-limited-company-registration">Private Limited Company</a>
                                </li>
                                <li><a href="/startup/llp-company-registration">Limited Liability Partnership</a></li>
                                <li><a href="/startup/opc-registration">One Person Company</a></li>
                                <li><a href="/startup/ngo-registration">NGO</a></li>
                                <li><a href="/startup/startup-registrations#startup-india-registration">Start-up
                                        India Registration</a></li>
                                <li><a href="/startup/startup-registrations#msme-registration">Udyam/MSME</a></li>
                                <li><a href="/startup/startup-registrations#professional-tax-registration">Professional
                                        Tax</a></li>
                                <li><a href="/startup/startup-registrations#trademark-registration">Trademark
                                        Registration</a></li>
                            </ul>
                        </li>
                        <li><a href="/services">Services</a>
                            <ul>
                                <li><a href="/services/accounting-and-bookkeeping-service">Accounting &
                                        Bookkeeping</a></li>
                                <li><a href="/services/gst-service">GST</a></li>
                                <li><a href="/services/it-returns">Income Tax</a></li>
                                <li><a href="/services/payroll-management">Payroll Management</a></li>
                                <li><a href="/services/secretarial-services">Secretarial Services</a>
                                </li>
                                <li><a href="/services/statutory-and-other-compliances">Statutory & other
                                        Compliance</a>
                                </li>
                                <li><a href="/services/outsourcing-and-virtual-cfo-services">Outsourcing & Virtual CFO
                                        Services</a></li>
                                <li><a href="/services/profitability-analytics-and-management">Profitability Analytics
                                        and Management</a></li>
                                <li><a href="/services/business-valuation">Business Valuation</a></li>
                                <li><a href="/services/ipr-service">IPR</a></li>
                                <li><a href="/services/mergers-and-acquisitions">Mergers & Aquisitions</a>
                                </li>
                            </ul>
                        </li>

                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="offcanvas__map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58408.97484139959!2d90.33915680783855!3d23.798644768568714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c102e2ece5bb%3A0x446e9dc895326a70!2sBangladesh%20National%20Zoo!5e0!3m2!1sen!2sbd!4v1671466814402!5m2!1sen!2sbd"></iframe>
            </div> -->
            <div class="offcanvas__btm">
                <ul class="footer__location">
                    <li>
                        <i class="fa-solid fa-location-dot"></i>
                        <span>3-6-883,<br>
                            Street No.15,
                            <br> Himayathnagar-500029</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel: +917416228777">+91 74162 28777</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel: +917416536888">+91 74165 36888</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailto:contact@deepworkco.in">contact@deepworkco.in</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailto:info@deepworkco.in">info@deepworkco.in</a>
                    </li>
                </ul>
                <div class="separator"></div>
                <ul class="social-media">
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Offcanvas area end -->