<!-- Service area start -->
<section class="service__area pt-5">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="sec-title-wrap">
                    <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Our
                        Services
                    </h2>
                    <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">We make a
                        difference to your
                        <br>
                        <span>Financial Verticals.</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <a href="/startup/startup-registrations">
                    <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <div class="service__left">
                            <div class="icon">
                                <svg width="50" height="50" fill='var(--primary)' version="1.1" viewBox="0 0 1200 1200"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <path
                                            d="m149.34 506.88-0.19141-0.023438s67.539 70.598 67.539 164.91c0 78.91-6.5586 270.76-8.7031 331.36h93.262l13.652-129.94c0.5625-5.3477 5.0742-9.4102 10.453-9.4102 5.6719 0 10.32 4.5 10.504 10.168l4.2109 129.18h88.207c-0.12891-71.84-4.4844-218.48-7.8047-311.57 0.14453-12.379 2.3359-24.715 7.5781-35.93 16.793-35.93 13.977-73.734 9.5391-97.914-3.3516-18.27-0.082032-37.094 9.5625-52.965l14.441-23.773-0.10156 0.09375c48.969-62.102 58.273-147.7 59.352-194.47 0.42969-18.625-14.707-33.887-33.336-33.887-17.891 0-32.633 14.066-33.301 31.945-2.375 63.559-23.508 199.8-161.05 199.8s-158.68-136.24-161.05-199.8c-0.66797-17.879-15.41-31.945-33.301-31.945-18.629 0-33.766 15.262-33.336 33.887 1.2383 53.703 13.359 158.54 83.875 220.27z" />
                                        <path
                                            d="m210.32 317.43c-8.4805 14.098-13.445 30.547-13.445 48.195 0 51.777 41.973 93.75 93.75 93.75s93.75-41.973 93.75-93.75-41.973-93.75-93.75-93.75c-9.8125 0-19.27 1.5234-28.164 4.3203-0.20313-23.125-18.977-41.82-42.148-41.82-23.301 0-42.188 18.887-42.188 42.188 0 19.84 13.746 36.363 32.195 40.867zm80.305 123.2c-32.734 0-60.566-21.117-70.777-50.418 64.586-1.9102 87.152-39.621 94.836-69.422 10.453 5.4805 24.828 10.613 43.375 12.23 4.7969 9.875 7.5664 20.91 7.5664 32.609 0 41.355-33.645 75-75 75z" />
                                        <path
                                            d="m628.9 638.64c0.070312 0 0.13281-0.011719 0.20312-0.011719 17.148 22.094 43.891 36.367 74.023 36.367 51.777 0 93.75-41.973 93.75-93.75s-41.973-93.75-93.75-93.75c-23.18 0-44.355 8.457-60.723 22.395l-0.12109 0.03125-0.97266 0.96484-7.8164 7.7422-58.047 57.508c-5.7812 5.9727-6.9492 14.992-2.8828 22.242 8.832 15.727 27.262 40.262 56.336 40.262zm74.227 17.605c-20.441 0-38.98-8.2422-52.523-21.551 26.656-10.48 38.586-39.746 51.629-60.594 15.094-24.121 43.734-35.301 59.289-39.805 10.367 12.863 16.605 29.184 16.605 46.949 0 41.355-33.645 75-75 75z" />
                                        <path
                                            d="m899.01 536.32c-19.242-7.5781-40.992 1.7852-48.715 20.969l-25.992 64.598c-19.746 49.082-67.34 81.234-120.24 81.234h-39.141c-33.504 0-64.465 17.879-81.203 46.902l-106.56 184.71c-9.1328 15.832-3.543 36.074 12.418 44.977 14.445 8.0586 32.633 4.082 42.398-9.2734l94.492-129.21-24.977 161.9h7.8867c88 0 168.4-33 229.62-87.199 1.2773-70.562-10.664-112.31-10.664-112.31l91.574-217.68c8.1953-19.473-1.2422-41.871-20.895-49.613z" />
                                        <path
                                            d="m1140.4 357.34-62.539-126.88c-2.6758-106.7-84.215-171.59-87.742-174.34-3.3867-2.6367-8.1289-2.6367-11.516 0-3.4336 2.6719-80.75 64.242-87.344 165.91l-66.691 135.31c-6.1445 12.457 2.9258 27.035 16.816 27.035h49.227v18.75c0 5.1758 4.1914 9.375 9.375 9.375h44.945l-9.1797 24.879c-2.2578 6.1211 2.2695 12.621 8.7969 12.621h30.438v206.25c0 115.38-53.496 218.21-136.98 285.22-62.625 50.266-142.1 80.406-228.65 80.406h-515.62c-10.355 0-18.75 8.3945-18.75 18.75v75.75c0 10.41 8.457 18.75 18.73 18.75 0.35156 0 0.70703-0.007812 1.0625-0.03125l512.71-28.57c219.41-12.184 390.11-195.34 386.84-415.07l-0.58984-39.555v-201.9h30.438c6.5273 0 11.055-6.5 8.7969-12.621l-9.1797-24.879h44.945c5.1836 0 9.375-4.1992 9.375-9.375v-18.75h45.473c13.891 0 22.957-14.578 16.816-27.039zm-146.66 36.414v-75c0-5.1758-4.1914-9.375-9.375-9.375s-9.375 4.1992-9.375 9.375v75h-65.625v-158.03c0-14.754 1.8008-28.656 4.7422-41.738 11.633-51.742 42.223-89.762 60.883-108.96v64.973c0 5.1758 4.1914 9.375 9.375 9.375s9.375-4.1992 9.375-9.375v-65.023c16.535 16.961 42.48 48.656 56.277 91.727 5.7109 17.82 9.3477 37.562 9.3477 59.02v158.03z" />
                                        <path
                                            d="m984.38 187.5c-25.891 0-46.875 20.988-46.875 46.875s20.984 46.875 46.875 46.875 46.875-20.988 46.875-46.875-20.984-46.875-46.875-46.875zm0 75c-15.508 0-28.125-12.617-28.125-28.125s12.617-28.125 28.125-28.125 28.125 12.617 28.125 28.125-12.617 28.125-28.125 28.125z" />
                                    </g>
                                </svg>

                            </div>
                        </div>
                        <div class="service__right">
                            <h3 class="service__title">Startup</h3>
                            <p>Starting a new business can be a complex and challenging process, but with our trusted
                                and hassle-free startup registration services, we make it easy for you.
                            </p>
                        </div>
                    </div>
                    <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <span>01</span>
                    </div>
                </a>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <a href="/services/accounting-and-bookkeeping-service">
                    <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <div class="service__left">
                            <div class="icon">
                                <svg fill='var(--primary)' width="33.878" height="33.878" version="1.1" id="Capa_1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    viewBox="0 0 60 60" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M59,20H29c-0.6,0-1,0.4-1,1v38c0,0.6,0.4,1,1,1h30c0.6,0,1-0.4,1-1V21C60,20.4,59.6,20,59,20z M58,22v6H30
        c0-0.6,0-1.6,0-2h12v-2H30c0-0.2,0-2,0-2H58z M30,58c0,0,0-18.3,0-28h28v28H30z" />
                                            <rect x="35" y="32" width="3" height="2" />
                                            <rect x="40" y="32" width="3" height="2" />
                                            <rect x="45" y="32" width="3" height="2" />
                                            <rect x="50" y="32" width="3" height="2" />
                                            <rect x="33" y="37" width="4" height="2" />
                                            <rect x="39" y="37" width="4" height="2" />
                                            <rect x="45" y="37" width="4" height="2" />
                                            <rect x="51" y="37" width="4" height="2" />
                                            <rect x="33" y="41" width="4" height="2" />
                                            <rect x="39" y="41" width="4" height="2" />
                                            <rect x="45" y="41" width="4" height="2" />
                                            <rect x="51" y="41" width="4" height="2" />
                                            <rect x="33" y="45" width="4" height="2" />
                                            <rect x="39" y="45" width="4" height="2" />
                                            <rect x="45" y="45" width="4" height="2" />
                                            <rect x="51" y="45" width="4" height="2" />
                                            <rect x="33" y="49" width="4" height="2" />
                                            <rect x="39" y="49" width="4" height="2" />
                                            <rect x="45" y="49" width="4" height="2" />
                                            <rect x="51" y="49" width="4" height="2" />
                                            <rect x="33" y="53" width="4" height="2" />
                                            <rect x="39" y="53" width="4" height="2" />
                                            <rect x="45" y="53" width="4" height="2" />
                                            <rect x="51" y="53" width="4" height="2" />
                                            <path
                                                d="M2,14h11c0.6,0,1-0.4,1-1V2h34v14h2V1c0-0.6-0.4-1-1-1H13l0,0c-0.1,0-0.2,0-0.3,0.1h-0.1c-0.1,0.1-0.2,0.1-0.3,0.2l-12,12
        c-0.1,0.1-0.1,0.2-0.2,0.3v0.1C0.1,12.8,0,12.9,0,13l0,0v11h2C2,24,2,15.1,2,14z M12,12H3.4l4.3-4.3L12,3.4L12,12L12,12z" />
                                            <path d="M25,43H14v-4v-5v-5c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v5v5v5v5v5v5c0,0.6,0.4,1,1,1h12h12c0.6,0,1-0.4,1-1v-5v-5v-5
        C26,43.4,25.6,43,25,43z M2,45h10v3H2V45z M12,43H2v-3h10V43z M12,38H2v-3h10V38z M2,50h10v3H2V50z M14,50h10v3H14V50z M24,48H14
        v-3h10V48z M2,30h10v3H2V30z M2,55h10v3H2V55z M24,58H14v-3h10V58z" />
                                            <rect x="38" y="5" width="7" height="2" />
                                            <rect x="27" y="10" width="18" height="2" />
                                            <rect x="44" y="24" width="3" height="2" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="service__right">
                            <h3 class="service__title">Accounting & Bookkeeping</h3>
                            <p>Comprehensive accounting and bookkeeping services provide you with the accurate and
                                timely information necessary to make informed business decisions.
                            </p>
                        </div>
                    </div>
                    <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                        <span>02</span>
                    </div>
                </a>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <a href="/services/gst-service">
                    <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <div class="service__left">
                            <div class="icon">
                                <!-- <svg fill='var(--primary)' width="33.871" height="33.878" version="1.1"
                                    viewBox="85 0 550 550" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <path
                                            d="m131.25 437.5v-360.32l-26.25-5.25v419.46l188.03 32.375-156.94-78.383c-2.9805-1.4883-4.8594-4.543-4.8398-7.875z" />
                                        <path
                                            d="m551.25 432.09v-391.69l-192.5 96.25v58.758h-17.5v-58.758l-192.5-96.25v391.69l192.5 96.25v-64.594h17.5v64.594zm-122.5-28.945h17.5v2.7383c1.0508 6.9453 7.3398 11.859 14.332 11.199h6.3359c6.9922 0.66016 13.281-4.2539 14.332-11.199-0.66016-5.8828-5.3984-10.469-11.297-10.938l-15.391-2.625c-9.5859-0.76953-18.125-6.3555-22.664-14.832-4.543-8.4766-4.4609-18.68 0.21094-27.086 4.6719-8.4023 13.293-13.859 22.891-14.477v-12.18h17.5v12.18c7.0078 0.82422 13.492 4.1094 18.301 9.2695 4.8086 5.1641 7.625 11.867 7.9492 18.914v2.7383h-17.5v-2.7383c-1.0508-6.9453-7.3398-11.859-14.332-11.199h-6.3359c-6.9922-0.66016-13.281 4.2539-14.332 11.199 0.66016 5.8828 5.3984 10.469 11.297 10.938l15.391 2.625c9.5859 0.76953 18.125 6.3555 22.664 14.832 4.543 8.4766 4.4609 18.68-0.21094 27.086-4.6719 8.4023-13.293 13.859-22.891 14.477v12.18h-17.5v-12.18c-7.0078-0.82422-13.492-4.1094-18.301-9.2695-4.8086-5.1641-7.625-11.867-7.9492-18.914zm-87.5 25.602v-201.25h17.5v201.25z" />
                                        <path
                                            d="m568.75 77.176v360.32c0.019531 3.332-1.8594 6.3867-4.8398 7.875l-156.94 78.426 188.03-32.418v-419.46z" />
                                    </g>
                                </svg> -->
                                <svg fill='var(--primary)' width="40" height="40" version="1.1" viewBox="150 0 500 500"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <path
                                            d="m461.11 80.754c-28.113-28.113-73.695-28.113-101.81 0-28.113 28.113-28.113 73.695 0 101.81s73.695 28.113 101.81 0c28.109-28.113 28.109-73.699 0-101.81zm-50.961-32.258c45.922 0 83.215 37.297 83.215 83.215 0 45.922-37.297 83.215-83.215 83.215-45.922 0-83.215-37.297-83.215-83.215 0.10937-46.031 37.293-83.215 83.215-83.215zm-46.258 46.258c12.656-15.902 38.414-8.5117 40.656 11.648 2.3516 20.383-21.391 33.152-37.07 20.496-9.9688-7.9531-11.426-22.402-3.5859-32.145zm8.8477 6.832c-2.0156 2.9102-3.0234 5.2656-2.6875 8.8477 1.1211 9.8555 13.777 14.559 20.945 5.7109 6.0469-7.3906 0-19.938-10.641-18.703-2.8008 0.33594-5.5977 1.7891-7.6172 4.1445zm64.625 41.102c-9.8555 1.1211-14.559 13.777-5.7109 20.945 7.3906 6.0469 19.938 0.11328 18.703-10.641-0.78516-6.4961-6.6094-11.09-12.992-10.305zm-16.688-2.6875c12.656-16.016 38.414-8.5117 40.656 11.648 2.3516 20.383-21.391 33.152-37.07 20.496-9.7461-7.9531-11.426-21.953-3.5859-32.145zm-36.734 33.711c-1.9023 2.4648-5.375 2.8008-7.8398 0.89453-2.4648-1.9023-2.8008-5.375-0.89453-7.8398l61.262-77.164c1.9023-2.4648 5.375-2.8008 7.8398-0.89453 2.4648 1.9023 2.8008 5.375 0.89453 7.8398zm-129.92 36.176h-60.594v129.02h60.594zm6.9453-29.008h-74.367c-7.7266 0-11.871 9.5195-6.2734 15.121 2.3516 2.3516 4.5938 2.5742 7.6172 2.5742h73.023c7.7266 0 11.871-9.5195 6.2734-15.121-1.5703-1.5664-3.8086-2.5742-6.2734-2.5742zm0 169.23h-74.367c-7.7266 0-11.871 9.5195-6.2734 15.121 1.5664 1.5664 3.8086 2.5742 6.2734 2.5742h74.367c7.7266 0 11.871-9.5195 6.2734-15.121-1.5703-1.5664-3.8086-2.5742-6.2734-2.5742zm226.46-105.73h-138.32c-9.1836 0-16.801 7.6172-16.801 16.801v26.32c0 9.1836 7.5039 16.801 16.801 16.801h138.21c9.1836 0 16.801-7.5039 16.801-16.801v-26.32c0-9.1836-7.5039-16.801-16.688-16.801zm-166.21 39.203v-18.48h-55.887v18.48zm-45.918 124.09h-103.04c-7.0547 0-12.879 5.8242-12.879 12.879v13.328h128.91v-13.328c-0.11328-7.0547-5.9375-12.879-12.992-12.879zm50.398 37.41h-203.84c-7.0547 0-12.879 5.8242-12.879 12.879v13.328h229.49v-13.328c0-7.0586-5.7109-12.879-12.77-12.879zm-26.32-11.203h26.207c13.215 0 24.078 10.863 24.078 24.078v19.039c0 3.0234-2.4648 5.6016-5.6016 5.6016l-114.68 0.003906v43.789h361.65v-492.8h-361.65v136.08h31.586c17.695 0 26.879 21.504 14.223 34.273-2.6875 2.6875-6.0469 4.5938-9.8555 5.375v44.574h56.895c3.2461-11.984 14.223-20.719 26.992-20.719h138.21c15.344 0 28 12.543 28 28v26.32c0 15.344-12.543 28-28 28h-138.32c-12.77 0-23.742-8.625-26.992-20.719h-56.895l-0.003906 44.574c15.344 3.3594 21.281 22.398 9.8555 33.824-3.6953 3.5859-8.625 5.8242-14.223 5.8242h-31.586l0.003906 17.473h45.922c13.215 0 24.078 10.863 24.078 24.078v13.328zm179.09-7.168c-0.89453-7.2812 10.078-8.625 11.09-1.3438 0.44922 3.3594 3.3594 6.6094 7.8398 9.0703 18.367 10.191 47.711 2.0156 47.711-9.9688 0-10.527-14.336-12.543-28.559-14.559-19.152-2.8008-38.191-5.4883-38.191-25.648 0-7.7266 4.8164-14.336 12.434-19.039 5.6016-3.3594 12.77-5.7109 20.719-6.4961l-0.003906-8.1758c0-3.1367 2.4648-5.6016 5.9375-5.6016 3.2461 0 5.7109 2.5742 5.6016 5.7109l-0.22266 7.9531c8.0625 0.78516 15.344 3.0234 20.945 6.4961 7.7266 4.7031 12.434 11.312 12.434 19.039 0 7.3906-11.199 7.3906-11.199 0 0-12.207-30.465-20.383-48.496-9.4062-4.3672 2.6875-7.0547 6.0469-7.0547 9.4062 0 10.527 14.336 12.543 28.559 14.559 19.152 2.8008 38.191 5.4883 38.191 25.648 0 7.7266-4.8164 14.336-12.434 19.039-5.6016 3.3594-12.879 5.7109-20.832 6.4961l-0.22266 8.0625c0 7.3906-11.199 7.3906-11.199 0v-8.0625c-14.23-1.3398-31.145-8.8438-33.047-23.18zm-85.344-1.3438c-7.3906 0-7.3906-11.199 0-11.199h55.105c7.3906 0 7.3906 11.199 0 11.199zm0 37.52c-7.3906 0-7.3906-11.199 0-11.199h61.152c7.3906 0 7.3906 11.199 0 11.199zm0 37.41c-7.3906 0-7.3906-11.199 0-11.199h157.59c7.3906 0 7.3906 11.199 0 11.199z" />
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="service__right">
                            <h3 class="service__title">Goods and Services Tax (GST)</h3>
                            <p>Streamline your business and ensure compliance with GST regulations. Let us take the
                                hassle out of the process and get you on the path.
                            </p>
                        </div>
                    </div>
                    <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <span>03</span>
                    </div>
                </a>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <a href="/services/it-returns">
                    <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <div class="service__left">
                            <div class="icon">
                                <svg fill='var(--primary)' width="40" height="40" viewBox="150 100 400 400"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g fill-rule="evenodd">
                                        <path
                                            d="m258 173.25h184v13.125h-184zm0 46.145h184v13.125h-184zm0 46.145h184v13.125h-184zm230.36 67.723v-177.46c0-17.133-7.0039-32.707-18.289-43.992-11.285-11.285-26.859-18.289-43.992-18.289h-214.44v239.74z" />
                                        <path
                                            d="m488.36 339.82h-318.72v126.66h360.72v-126.66h-42.004zm-242.5 29.277h63.969v16.824h-21.473v51.285h-21.043v-51.285h-21.457v-16.824zm108.94 56.867h-23.977l-3.2969 11.242h-21.504l25.594-68.109h22.945l25.609 68.109h-22.027l-3.3477-11.242zm-4.4102-14.73-7.5312-24.484-7.4844 24.484zm31.828-42.133h23.168l12.082 20.949 11.703-20.949h22.961l-21.188 32.984 23.184 35.125h-23.645l-13.43-21.883-13.48 21.883h-23.5l23.5-35.488-21.359-32.621z" />
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="service__right">
                            <h3 class="service__title">Income Tax</h3>
                            <p>From individual tax returns to corporate tax planning, we offer comprehensive income tax
                                services tailored to your unique needs.
                            </p>
                        </div>
                    </div>
                    <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <span>04</span>
                    </div>
                </a>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <a href="/services/payroll-management">
                    <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                        <div class="service__left">
                            <div class="icon">
                                <svg width="40" height="40" fill='var(--primary)' version="1.1" viewBox="75 0 560 560"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <path
                                            d="m573.14 423.86c-30.211 46.875-73.734 82.535-125.87 103.12-31.277 12.348-64.02 18.562-96.949 18.562-23.055 0-46.195-3.0469-69.004-9.1523-68.484-18.352-125.72-62.27-161.17-123.67-35.434-61.406-44.855-132.93-26.504-201.41 18.352-68.484 62.27-125.72 123.67-161.17 61.398-35.453 132.93-44.867 201.41-26.516 51.176 13.715 96.559 42 131.25 81.797 2.3555 2.6992 4.6367 5.4766 6.8945 8.2852l-0.32812-20.16c-0.074218-4.7305 3.6992-8.6289 8.4219-8.7031 4.7383-0.082031 8.6211 3.6992 8.7031 8.4219l0.76562 47.379c0.039063 2.6289-1.125 5.1406-3.1719 6.7969-1.5391 1.25-3.4492 1.9062-5.3906 1.9062-0.64062 0-1.2852-0.070312-1.918-0.21484l-46.176-10.609c-4.6094-1.0625-7.4883-5.6602-6.4297-10.266 1.0625-4.6094 5.6523-7.4883 10.266-6.4297l24.262 5.5781c-2.8477-3.6562-5.7734-7.25-8.8086-10.727-32.441-37.23-74.891-63.684-122.77-76.512-64.062-17.168-130.98-8.3594-188.41 24.805-57.438 33.16-98.52 86.707-115.69 150.77-35.438 132.25 43.324 268.66 175.57 304.1 104.63 28.039 214.34-14.262 272.98-105.26 2.5625-3.9727 7.8633-5.1211 11.836-2.5625 3.9766 2.5703 5.1289 7.8672 2.5586 11.848zm42.371-251.88v216.03c0 4.7305-3.832 8.5625-8.5625 8.5625h-403.13c-4.7305 0-8.5625-3.832-8.5625-8.5625v-216.03c0-4.7305 3.832-8.5625 8.5625-8.5625h403.13c4.7305 0 8.5664 3.832 8.5664 8.5625zm-17.129 8.5625h-386v198.91h386zm-355.66 132.64v-66.367c0-4.7305 3.832-8.5625 8.5625-8.5625 9.4102 0 17.059-7.9258 17.059-17.668 0-4.7305 3.832-8.5625 8.5625-8.5625h256.94c4.7305 0 8.5625 3.832 8.5625 8.5625 0 9.7422 7.6523 17.668 17.059 17.668 4.7305 0 8.5625 3.832 8.5625 8.5625v66.371c0 4.7305-3.832 8.5625-8.5625 8.5625-9.4023 0-17.059 7.9219-17.059 17.664 0 4.7305-3.832 8.5625-8.5625 8.5625h-256.94c-4.7305 0-8.5625-3.832-8.5625-8.5625 0-9.7422-7.6523-17.664-17.059-17.664-4.7344-0.003906-8.5664-3.8359-8.5664-8.5664zm17.125-7.457c12.035 3.168 21.512 12.855 24.574 25.125h241.9c3.0625-12.266 12.543-21.957 24.574-25.125v-51.449c-12.035-3.168-21.512-12.855-24.574-25.125h-241.9c-3.0625 12.266-12.543 21.957-24.574 25.125zm49.508-17.16h38.629c4.7305 0 8.5625-3.832 8.5625-8.5625 0-4.7305-3.832-8.5625-8.5625-8.5625h-38.629c-4.7305 0-8.5625 3.832-8.5625 8.5625 0 4.7305 3.832 8.5625 8.5625 8.5625zm153.41 0h38.629c4.7305 0 8.5625-3.832 8.5625-8.5625 0-4.7305-3.832-8.5625-8.5625-8.5625h-38.629c-4.7305 0-8.5625 3.832-8.5625 8.5625 0 4.7305 3.832 8.5625 8.5625 8.5625zm-56.781 13.48c-4.7891 0.15625-10.887-1.7461-12.285-7.3633-1.1445-4.5898-5.793-7.3789-10.383-6.2422-4.5898 1.1445-7.3867 5.793-6.2344 10.383 2.3906 9.5898 9.8711 16.637 19.727 19.246v1.3477c0 4.7305 3.832 8.5625 8.5625 8.5625s8.5625-3.832 8.5625-8.5625v-1.1953c6.1484-1.4297 11.484-4.3906 15.008-8.4648 3.8867-4.4922 5.543-10.09 4.8008-16.203-1.4648-12.051-10.523-19.531-26.934-22.227-10.57-1.7383-10.738-5.2383-10.797-6.3945-0.23438-4.7422 4.9336-6.2891 6.5234-6.6445 3.6328-0.82812 10.512-0.46094 13.27 6.1094 1.832 4.3633 6.8477 6.4102 11.211 4.5781s6.4102-6.8477 4.5781-11.211c-3.6562-8.7109-10.402-13.668-17.668-15.75v-1.4297c0-4.7305-3.832-8.5625-8.5625-8.5625-4.7305 0-8.5625 3.832-8.5625 8.5625v1.5117c-11.312 3.3555-18.434 12.652-17.898 23.672 0.33203 6.9023 4.043 19 25.129 22.465 12.047 1.9766 12.508 5.7695 12.703 7.3867 0.19141 1.5938-0.24609 2.3555-0.75391 2.9414-1.6719 1.9453-5.7891 3.3828-9.9961 3.4844z" />
                                    </g>
                                </svg>

                            </div>
                        </div>
                        <div class="service__right">
                            <h3 class="service__title">Payroll Management</h3>
                            <p>Seamless and accurate payroll management services to ensure your employees are paid on
                                time and in compliance with all regulations. Trust us to be your partner to maintain
                                accurate record keeping to timely tax filings.
                            </p>
                        </div>
                    </div>
                    <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <span>05</span>
                    </div>
                </a>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <a href="/services/secretarial-services">
                    <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">
                        <div class="service__left">
                            <div class="icon">
                                <svg width="40" height="40" fill='var(--primary)' version="1.1" viewBox="100 30 500 500"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <path
                                            d="m571.75 90.703c0 22.23-18.02 40.254-40.254 40.254-22.23 0-40.25-18.023-40.25-40.254s18.02-40.254 40.25-40.254c22.234 0 40.254 18.023 40.254 40.254" />
                                        <path
                                            d="m430.61 252.45 33.141-15.793 31.988-42.934c1.9336-11.109 3.4648-18.234 3.6797-19.215 5.0859-23.238 28.078-37.969 51.285-32.879 23.246 5.0859 37.961 28.043 32.879 51.285-4.4727 20.453-14.875 82.68-9.375 124.46 1.9883 15.133-4.1562 29.43-15.02 38.574v126.28c0 15.293-12.395 27.691-27.691 27.691-15.289 0-27.691-12.398-27.691-27.691l-0.003906-126.27c-7.9531-6.6797-13.539-16.223-15.008-27.34-3.0703-23.262-2.6836-49.113-0.88672-72.895l-1.7578 2.3633c-1.5 2.0039-3.4609 3.6172-5.7188 4.6992l-36.578 17.434c-2.1328 1.0195-4.3906 1.5-6.6016 1.5-5.75 0-11.266-3.2383-13.91-8.7695-3.6562-7.668-0.39844-16.852 7.2695-20.508z" />
                                        <path d="m112.17 319.5h335.24v165.48h-335.24z" />
                                        <path
                                            d="m358.19 341.31v-75.141c0-40.207-38.41-58.688-59.762-63.156-6.0664-2.9531-12.863-4.6602-20.059-4.6602-7.1797 0-13.957 1.6914-20.004 4.6406-21.332 4.4297-59.863 22.91-59.863 63.18v75.141h29.227v-75.145c0-6.0703 1.8867-11.117 4.6992-15.348v90.492h91.879v-90.41c2.8164 4.2227 4.6523 9.2305 4.6523 15.27v75.141l29.23 0.003906z" />
                                        <path
                                            d="m331.37 124.27c0-12.137-22.172-21.293-51.57-21.293-29.406 0-51.574 9.1562-51.574 21.293 0 6.3164 5.9375 11.938 16.75 15.91l-4.9453 18.273c-0.074219 0.27344-0.10547 0.56641-0.078125 0.85156 0.027343 0.37891 0.50391 4.7617 4.6758 9.3008 4.9688 13.949 18.246 23.945 33.898 23.945 14.52 0 27.008-8.6133 32.703-20.996 4.5625-4.0195 5.582-9.1953 5.9023-14.441 0.011719-0.19531 0-0.38672-0.027344-0.58203l-2.7812-16.184-0.011718-0.054687c11.02-3.9609 17.059-9.6055 17.059-16.023zm-20.848 12.008c-1.2656 0.40234-2 1.7305-1.668 3.0195l3.1367 17.242-66.238-0.003906 4.0938-15.102 0.22266-1.2383c0.089844-0.49219 0.027344-1.0078-0.17188-1.4688l-0.67578-1.5352c-0.28125-0.63672-0.81641-1.1328-1.4766-1.3594-9.0703-3.1406-14.492-7.4648-14.492-11.562 0-7.6953 19.117-16.27 46.555-16.27 27.43 0 46.547 8.5742 46.547 16.27-0.007812 4.2773-6.0781 8.8828-15.832 12.008z" />
                                        <path
                                            d="m279.03 124.95c-6.0156 0-10.914 4.8945-10.914 10.91 0 6.0195 4.8984 10.914 10.914 10.914s10.914-4.8945 10.914-10.914c0-6.0156-4.9023-10.91-10.914-10.91zm0 16.801c-3.2461 0-5.8867-2.6445-5.8867-5.8906 0-3.2422 2.6367-5.8789 5.8867-5.8789 3.2461 0 5.8906 2.6367 5.8906 5.8789 0 3.2461-2.6445 5.8906-5.8906 5.8906z" />
                                        <path
                                            d="m423.87 97.254c-24.332 0-44.055 14.797-44.055 33.047 0 9.3906 5.2188 17.863 13.609 23.879l-5.6328 22.031 22.07-14.57c4.4023 1.1094 9.1172 1.707 14.012 1.707 4.9219 0 9.5703-1.0234 14.074-1.7188 10.348-1.6016 20.875-11.195 20.875-11.195 5.7188-5.5781 9.1211-12.555 9.1211-20.133-0.003906-18.258-19.738-33.047-44.074-33.047zm-20.312 37.848c-2.9961 0-5.4258-2.4297-5.4258-5.4258 0-2.9961 2.4297-5.4258 5.4258-5.4258 3 0 5.4336 2.4297 5.4336 5.4258 0 2.9922-2.4258 5.4258-5.4336 5.4258zm20.395 0c-2.9961 0-5.4336-2.4297-5.4336-5.4258 0-2.9961 2.4375-5.4258 5.4336-5.4258s5.4336 2.4297 5.4336 5.4258c0 2.9922-2.4375 5.4258-5.4336 5.4258zm20.391 0c-2.9922 0-5.4219-2.4297-5.4219-5.4258 0-2.9961 2.4297-5.4258 5.4219-5.4258 3 0 5.4336 2.4297 5.4336 5.4258-0.003906 2.9922-2.4336 5.4258-5.4336 5.4258z" />
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="service__right">
                            <h3 class="service__title">Secretarial Services</h3>
                            <p>From company incorporation to statutory compliance and record keeping, our team is here
                                to ensure your business runs smoothly and efficiently.
                            </p>
                        </div>
                    </div>
                    <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <span>06</span>
                    </div>
                </a>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <a href="/services/statutory-and-other-compliances">
                    <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.7s">
                        <div class="service__left">
                            <div class="icon">
                                <svg width="40" height="40" fill='var(--primary)' version="1.1" viewBox="50 0 560 560"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <path
                                            d="m413.31 162.76-7.6484 13.254c-2.9766 5.2461-1.1953 11.906 4 14.969l39.406 22.754 1.6367 0.94141h-0.003906c5.0625 2.8672 11.477 1.3242 14.68-3.5273l7.9336-13.746v-0.003906c0.25781-0.48047 0.32031-1.043 0.17578-1.5703-0.13281-0.53125-0.46484-0.98438-0.92969-1.2656l-56.422-32.551c-0.48047-0.25781-1.0469-0.31641-1.5742-0.16797-0.52734 0.13281-0.98047 0.46484-1.2656 0.92578zm-73.621 127.52-7.6523 13.238c-0.54687 1.0078-0.20703 2.2695 0.77344 2.8633l56.441 32.582 0.003906-0.003906c0.47656 0.25781 1.0391 0.31641 1.5625 0.16797 0.52344-0.12891 0.97656-0.46484 1.2578-0.92969l7.6562-13.25v0.003906c2.957-5.2227 1.1992-11.852-3.9531-14.926l-41.121-23.738c-5.25-2.957-11.902-1.1758-14.969 4.0078zm-18.348 113.25h106.5v-15.301c0-3.3125-1.3164-6.4922-3.6641-8.832-2.332-2.3477-5.5078-3.668-8.8164-3.6719h-81.52c-6.8867 0.035157-12.461 5.6055-12.496 12.492zm-36.863 55.332v-25.332c0.011719-6.7539 2.2969-13.305 6.4805-18.605 4.1875-5.2969 10.035-9.0312 16.602-10.605v-16.09c0.011719-6.9648 2.7852-13.641 7.7109-18.566 4.9219-4.9258 11.602-7.6953 18.566-7.707h81.5c6.9688 0 13.648 2.7734 18.566 7.7109 4.9297 4.9102 7.7031 11.578 7.7109 18.535v16.117c6.5664 1.5703 12.418 5.3008 16.609 10.598 4.1914 5.2969 6.4805 11.848 6.5 18.602v25.344c0 3.8086-3.0859 6.8945-6.8945 6.8945h-166.49c-3.793-0.015624-6.8633-3.0977-6.8633-6.8945zm13.781-25.336v18.449h152.68v-18.445c-0.011718-4.3047-1.7227-8.4297-4.7695-11.473-3.043-3.043-7.168-4.7578-11.469-4.7695h-120.25c-4.3047 0.007813-8.4297 1.7227-11.473 4.7656-3.043 3.0469-4.7578 7.1719-4.7656 11.477zm140.91-209.64-41.277 71.496-31.652-18.285 41.277-71.496 31.668 18.285zm67.723 108.25c1.9492 0.3125 3.6719 1.4414 4.7305 3.1055l45.41 29.82 0.55859 0.33984 0.003906 0.003906c2.8438 1.5898 6.2109 1.9648 9.3398 1.0391 3.375-0.93359 6.3008-3.0547 8.2383-5.9805l0.41406-0.66797 8.5742-14.867v-0.027344c1.5586-3.1328 1.9375-6.7227 1.0625-10.113-0.76172-3.168-2.7656-5.8984-5.5664-7.5703l-0.55859-0.3125-142.24-71.578-12.879 22.348 82.938 54.461zm-344.9-287.19-39.996 48.457h31.84c2.1641 0.003906 4.2422-0.85547 5.7695-2.3867 1.5312-1.5273 2.3906-3.6016 2.3867-5.7656v-40.32zm65.93 362.5 7.6953-8.3984h-0.003907c1.2188-1.375 2.9414-2.2031 4.7773-2.3008s3.6328 0.55078 4.9883 1.7891c1.3555 1.2422 2.1562 2.9766 2.2266 4.8125 0.066406 1.8398-0.60938 3.625-1.8711 4.9609l-9.0273 9.8438c8.4883 14.059 9.25 31.469 2.0156 46.215-7.2305 14.746-21.461 24.801-37.777 26.695-16.312 1.8945-32.469-4.6328-42.887-17.328-10.418-12.695-13.668-29.816-8.625-45.445 5.0391-15.633 17.684-27.625 33.555-31.84 15.875-4.2148 32.801-0.074219 44.934 10.996zm-52.926 37.488c-3.1016-2.0664-3.9883-6.2266-2.0039-9.3789 1.9844-3.1523 6.1172-4.1484 9.3203-2.2461l13.871 8.7578 22.398-24.461h0.003907c-8.4609-7.7109-20.203-10.703-31.32-7.9883-11.117 2.7188-20.156 10.789-24.105 21.531-3.9492 10.746-2.293 22.75 4.418 32.02 6.7109 9.2734 17.594 14.598 29.035 14.203 11.438-0.39453 21.93-6.457 27.984-16.168 6.0586-9.7109 6.8828-21.801 2.2031-32.246l-24.148 26.32c-2.1914 2.6758-6.0273 3.3047-8.9609 1.4727l-18.703-11.816zm102.08-140.3c-1.8633 0.050781-3.668-0.64844-5.0039-1.9492-1.332-1.2969-2.0859-3.0781-2.0859-4.9414s0.75391-3.6445 2.0859-4.9453c1.3359-1.2969 3.1406-2 5.0039-1.9453h19.16c1.8633-0.054687 3.668 0.64844 5.0039 1.9453 1.3359 1.3008 2.0859 3.082 2.0859 4.9453s-0.75 3.6445-2.0859 4.9414c-1.3359 1.3008-3.1406 2-5.0039 1.9492zm0 43.309c-1.8633 0.054687-3.668-0.64844-5.0039-1.9453-1.332-1.2969-2.0859-3.082-2.0859-4.9453 0-1.8633 0.75391-3.6445 2.0859-4.9414 1.3359-1.3008 3.1406-2 5.0039-1.9492h46.602c3.7305 0.10547 6.6992 3.1602 6.6992 6.8906 0 3.7305-2.9688 6.7852-6.6992 6.8906zm-49.156-60.223 7.6953-8.3984h-0.003907c2.5742-2.7227 6.8555-2.8789 9.6172-0.34766 2.7656 2.5273 2.9883 6.8086 0.50391 9.6094l-9.0273 9.8438c8.4883 14.059 9.25 31.469 2.0156 46.215-7.2305 14.746-21.461 24.805-37.777 26.695-16.312 1.8945-32.469-4.6328-42.887-17.328-10.418-12.695-13.668-29.816-8.625-45.445 5.0391-15.633 17.684-27.625 33.555-31.84 15.875-4.2148 32.801-0.070313 44.934 10.996zm-52.926 37.52c-3.2188-2.0117-4.1914-6.2539-2.1758-9.4688 2.0117-3.2188 6.2539-4.1914 9.4727-2.1758l13.871 8.7578 22.398-24.465v-0.003906c-8.4766-7.6914-20.227-10.66-31.336-7.918-11.113 2.7422-20.133 10.836-24.059 21.586s-2.2461 22.754 4.4883 32.008c6.7305 9.2578 17.629 14.559 29.066 14.141 11.438-0.42188 21.918-6.5078 27.949-16.234 6.0352-9.7266 6.832-21.816 2.1289-32.25l-24.141 26.32v-0.003907c-2.1953 2.6914-6.0508 3.3242-8.9883 1.4727l-18.703-11.809zm102.08-140.33c-1.8633 0.050781-3.668-0.64844-5.0039-1.9492-1.332-1.2969-2.0859-3.0781-2.0859-4.9414 0-1.8633 0.75391-3.6445 2.0859-4.9453 1.3359-1.2969 3.1406-2 5.0039-1.9453h92.652c1.8594-0.054688 3.6641 0.64844 5 1.9453 1.3359 1.3008 2.0898 3.082 2.0898 4.9453 0 1.8633-0.75391 3.6445-2.0898 4.9414-1.3359 1.3008-3.1406 2-5 1.9492zm0 43.316c-3.8086 0-6.8945-3.0859-6.8945-6.8945s3.0859-6.8945 6.8945-6.8945h78.348c3.8086 0 6.8945 3.0859 6.8945 6.8945s-3.0859 6.8945-6.8945 6.8945zm-49.156-60.234 7.6953-8.3984h-0.003907c2.582-2.668 6.8203-2.7969 9.5586-0.29297 2.7422 2.5078 2.9883 6.7383 0.5625 9.5469l-9.0273 9.8438v0.003906c8.4922 14.055 9.2578 31.465 2.0312 46.211-7.2266 14.75-21.457 24.809-37.77 26.707-16.312 1.9023-32.473-4.625-42.895-17.316-10.422-12.695-13.676-29.812-8.6367-45.445 5.0352-15.633 17.676-27.629 33.547-31.848 15.875-4.2188 32.801-0.078125 44.938 10.988zm-52.949 37.52c-3.1016-2.0664-3.9883-6.2266-2.0039-9.3789s6.1211-4.1484 9.3242-2.2461l13.871 8.7578 22.398-24.465c-8.4805-7.6875-20.23-10.652-31.344-7.9023-11.113 2.7461-20.129 10.844-24.047 21.602-3.918 10.754-2.2305 22.754 4.5117 32.008 6.7383 9.2539 17.641 14.547 29.078 14.117 11.438-0.42969 21.914-6.5234 27.938-16.258 6.0273-9.7305 6.8164-21.824 2.1016-32.254l-24.141 26.32c-2.1992 2.6836-6.0547 3.3125-8.9883 1.4648zm218.81-36.344c-2.543 4.4141-3.6641 9.5078-3.2031 14.578 0.45703 5.0742 2.4727 9.8828 5.7656 13.77l-42.727 73.957c-5.0117-0.90625-10.184-0.24609-14.805 1.8945-4.625 2.1406-8.4727 5.6602-11.023 10.07l-7.6484 13.254c-2.0938 3.6289-2.6602 7.9414-1.5781 11.988 1.0859 4.0508 3.7305 7.5 7.3594 9.6016l56.43 32.582v-0.003906c3.4531 1.9961 7.5312 2.6094 11.418 1.7188 3.8828-0.88672 7.2891-3.2148 9.5312-6.5117l0.15625-0.15625 9.0703-15.715 0.003906-0.19531c2.0195-4.293 2.7617-9.0742 2.1406-13.777s-2.582-9.1289-5.6484-12.75l8.0312-13.906 81.832 53.762v173.62c0.007812 2.1562-0.84766 4.2305-2.375 5.7578-1.5234 1.5312-3.5938 2.3906-5.7539 2.3945h-368.3c-4.5-0.015625-8.1406-3.6562-8.1562-8.1523v-409.77h39.535c5.8086 0 11.379-2.3164 15.473-6.4336 4.1172-4.0977 6.4336-9.6641 6.4375-15.473v-50.383h315.02c4.4961 0.015625 8.1367 3.6562 8.1523 8.1523v228.12l-55.176-27.758 8.0234-13.898v-0.003906c5.0117 0.91016 10.18 0.25 14.801-1.8867 4.6172-2.1367 8.4688-5.6523 11.016-10.059l7.6484-13.25 0.003907-0.019532c2.0977-3.6289 2.668-7.9414 1.582-11.988-1.0859-4.0508-3.7344-7.5-7.3672-9.5898l-56.41-32.59h-0.027344c-3.6328-2.1016-7.9492-2.6719-12-1.582-4.0508 1.0898-7.5039 3.7461-9.5898 7.3867z"
                                            fill-rule="evenodd" />
                                    </g>
                                </svg>

                            </div>
                        </div>
                        <div class="service__right">
                            <h3 class="service__title">Statutory & other Compliance</h3>
                            <p>Bespoke statutory and other compliance services for effective analysis of different acts.
                                These make the businesses stay up to date on all labor regulations.
                            </p>
                        </div>
                    </div>
                    <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <span>07</span>
                    </div>
                </a>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <a href="/services/outsouricng">
                    <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <div class="service__left">
                            <div class="icon">
                                <svg width="40" height="40" fill='var(--primary)' version="1.1" viewBox="100 30 500 500"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <path
                                            d="m159.19 280c0 4.5625 3.7344 8.2969 8.2969 8.2969h132.74c4.5859 0 8.2969-3.7148 8.2969-8.2969l-0.003907-66.367c0-4.5781-3.707-8.2969-8.2969-8.2969h-24.887v-107.85c0-4.5781-3.707-8.2969-8.2969-8.2969h-33.184c-3.1445 0-6.0156 1.7773-7.4258 4.5859l-14.293 28.598h-19.766v-24.891h16.594c3.3516 0 6.3867-2.0234 7.6641-5.1172 1.2852-3.1016 0.57422-6.6719-1.8008-9.043l-49.777-49.777c-3.2422-3.2422-8.4883-3.2422-11.73 0l-49.777 49.777c-2.3711 2.3711-3.0859 5.9414-1.8008 9.043 1.2773 3.0938 4.3125 5.1172 7.6641 5.1172h16.594v74.668c0 4.5781 3.707 8.2969 8.2969 8.2969h24.891zm66.371-8.2969h-16.594v-33.184h16.594zm33.184 0h-16.594v-33.184h16.594zm-19.762-165.92h19.762v16.594h-28.059zm-63.203 49.777h82.961v16.594h-82.961zm0 33.184h82.961v16.594h-82.961zm0 49.777h16.594v33.184h-16.594z" />
                                        <path
                                            d="m428.16 462.88c2.9766-4.9766 4.8047-10.734 4.8047-16.949v-33.184c0-18.301-14.883-33.184-33.184-33.184h-24.891c-4.5859 0-8.2969 3.7148-8.2969 8.2969v58.074c0 6.2148 1.8242 11.973 4.8047 16.949-16.641 1.7656-29.691 15.723-29.691 32.828v24.891c0 4.5781 3.707 8.2969 8.2969 8.2969h99.555c4.5859 0 8.2969-3.7148 8.2969-8.2969v-24.891c-0.003907-17.109-13.055-31.062-29.695-32.832zm-20.086 21.098-8.2969 8.2969-8.2969-8.2969v-6.0391c2.6719 0.69531 5.418 1.1797 8.2969 1.1797s5.625-0.48047 8.2969-1.1797zm8.2969-38.047c0 9.1523-7.4414 16.594-16.594 16.594s-16.594-7.4414-16.594-16.594v-16.594h33.184z" />
                                        <path
                                            d="m319.25 144.83c1.6172 1.6172 3.7422 2.4297 5.8672 2.4297s4.2461-0.8125 5.8672-2.4297c3.2422-3.2422 3.2422-8.4883 0-11.73l-2.4297-2.4297h42.91l-2.4297 2.4297c-3.2422 3.2422-3.2422 8.4883 0 11.73 1.6172 1.6172 3.7422 2.4297 5.8672 2.4297s4.2461-0.8125 5.8672-2.4297l16.594-16.594c3.2422-3.2422 3.2422-8.4883 0-11.73l-16.594-16.594c-3.2422-3.2422-8.4883-3.2422-11.73 0-3.2422 3.2422-3.2422 8.4883 0 11.73l2.4297 2.4297h-42.91l2.4297-2.4297c3.2422-3.2422 3.2422-8.4883 0-11.73-3.2422-3.2422-8.4883-3.2422-11.73 0l-16.594 16.594c-3.2422 3.2422-3.2422 8.4883 0 11.73z" />
                                        <path
                                            d="m402.21 244.39 2.4297 2.4297h-42.91l2.4297-2.4297c3.2422-3.2422 3.2422-8.4883 0-11.73-3.2422-3.2422-8.4883-3.2422-11.73 0l-16.594 16.594c-3.2422 3.2422-3.2422 8.4883 0 11.73l16.594 16.594c1.6172 1.6172 3.7422 2.4297 5.8672 2.4297s4.2461-0.8125 5.8672-2.4297c3.2422-3.2422 3.2422-8.4883 0-11.73l-2.4297-2.4297h42.91l-2.4297 2.4297c-3.2422 3.2422-3.2422 8.4883 0 11.73 1.6172 1.6172 3.7422 2.4297 5.8672 2.4297s4.2461-0.8125 5.8672-2.4297l16.594-16.594c3.2422-3.2422 3.2422-8.4883 0-11.73l-16.594-16.594c-3.2422-3.2422-8.4883-3.2422-11.73 0-3.2539 3.2422-3.2539 8.4844-0.007812 11.73z" />
                                        <path
                                            d="m364.56 365.17v-23.469c0-4.5781-3.707-8.2969-8.2969-8.2969-4.5859 0-8.2969 3.7148-8.2969 8.2969v3.4414l-30.34-30.34h3.4414c4.5859 0 8.2969-3.7148 8.2969-8.2969 0-4.5781-3.707-8.2969-8.2969-8.2969h-23.469c-4.5859 0-8.2969 3.7148-8.2969 8.2969v23.469c0 4.5781 3.707 8.2969 8.2969 8.2969 4.5859 0 8.2969-3.7148 8.2969-8.2969v-3.4414l30.34 30.34h-3.4336c-4.5859 0-8.2969 3.7148-8.2969 8.2969 0 4.5781 3.707 8.2969 8.2969 8.2969h23.461c4.5859 0 8.2969-3.7188 8.2969-8.2969z" />
                                        <path
                                            d="m227.99 335.64c1.6172 1.6172 3.7422 2.4297 5.8672 2.4297s4.2461-0.8125 5.8672-2.4297c3.2422-3.2422 3.2422-8.4883 0-11.73l-16.594-16.594c-3.2422-3.2422-8.4883-3.2422-11.73 0l-16.598 16.594c-3.2422 3.2422-3.2422 8.4883 0 11.73 3.2422 3.2422 8.4883 3.2422 11.73 0l2.4297-2.4297v26.316l-2.4297-2.4297c-3.2422-3.2422-8.4883-3.2422-11.73 0-3.2422 3.2422-3.2422 8.4883 0 11.73l16.594 16.594c1.6172 1.6172 3.7422 2.4297 5.8672 2.4297s4.2461-0.8125 5.8672-2.4297l16.594-16.594c3.2422-3.2422 3.2422-8.4883 0-11.73-3.2422-3.2422-8.4883-3.2422-11.73 0l-2.4297 2.4297v-26.316z" />
                                        <path
                                            d="m574 329.78h-16.594v-41.48c0-4.5781-3.707-8.2969-8.2969-8.2969h-49.777c-4.5859 0-8.2969 3.7148-8.2969 8.2969v41.48h-24.887c-13.723 0-24.891 11.168-24.891 24.891 0 13.723 11.168 24.891 24.891 24.891h107.85c13.723 0 24.891-11.168 24.891-24.891 0-13.723-11.168-24.891-24.891-24.891zm-82.961 33.188c-4.5781 0-8.2969-3.7148-8.2969-8.2969 0-4.5781 3.7148-8.2969 8.2969-8.2969 4.5781 0 8.2969 3.7148 8.2969 8.2969-0.003907 4.5781-3.7188 8.2969-8.2969 8.2969zm33.184 0c-4.5781 0-8.2969-3.7148-8.2969-8.2969 0-4.5781 3.7148-8.2969 8.2969-8.2969 4.5781 0 8.2969 3.7148 8.2969 8.2969 0 4.5781-3.7188 8.2969-8.2969 8.2969zm16.594-33.188h-33.188v-33.184h8.2969c0 4.5781 3.707 8.2969 8.2969 8.2969 4.5859 0 8.2969-3.7148 8.2969-8.2969h8.2969zm16.59 33.188c-4.5781 0-8.2969-3.7148-8.2969-8.2969 0-4.5781 3.7148-8.2969 8.2969-8.2969 4.5781 0 8.2969 3.7148 8.2969 8.2969 0 4.5781-3.7148 8.2969-8.2969 8.2969z" />
                                        <path
                                            d="m449.55 230.22c0 4.5781 3.707 8.2969 8.2969 8.2969h58.074v16.594h-49.777c-4.5859 0-8.2969 3.7148-8.2969 8.2969v33.184c0 3.1445 1.7773 6.0156 4.5859 7.4258l16.594 8.2969c4.1055 2.0586 9.0781 0.38281 11.133-3.707 2.0508-4.0977 0.39063-9.0859-3.707-11.133l-12.012-6.0078v-19.762h99.555v19.762l-12.004 6.0078c-4.0977 2.0508-5.7578 7.0352-3.707 11.133 1.4531 2.9023 4.3789 4.5781 7.4258 4.5781 1.2461 0 2.5156-0.28125 3.6992-0.87109l16.594-8.2969c2.8125-1.4102 4.5859-4.2812 4.5859-7.4258v-33.184c0-4.5781-3.707-8.2969-8.2969-8.2969h-49.777v-16.594h58.074c4.5859 0 8.2969-3.7148 8.2969-8.2969 0-4.5781-3.707-8.2969-8.2969-8.2969h-132.74c-4.5859 0-8.2969 3.7148-8.2969 8.2969z" />
                                        <path
                                            d="m250.45 404.45h-82.961c-13.723 0-24.891 11.168-24.891 24.891v41.48c0 13.723 11.168 24.891 24.891 24.891h15.363c-1.4258 5.293-4.0898 10.18-8.0742 14.16l-2.4297 2.4297h-4.8633c-4.5859 0-8.2969 3.7148-8.2969 8.2969 0 4.5781 3.707 8.2969 8.2969 8.2969h82.961c4.5859 0 8.2969-3.7148 8.2969-8.2969 0-4.5781-3.707-8.2969-8.2969-8.2969h-4.8633l-2.4297-2.4297c-3.9727-3.9805-6.6367-8.8672-8.0742-14.16h15.363c13.723 0 24.891-11.168 24.891-24.891v-41.48c0.007813-13.723-11.16-24.891-24.883-24.891zm8.2969 66.371c0 4.5703-3.7148 8.2969-8.2969 8.2969h-21.977l-39.207-31.367c-3.5938-2.8633-8.8008-2.2734-11.664 1.293-2.8633 3.5742-2.2734 8.8008 1.293 11.656l23.016 18.418h-34.422c-4.5781 0-8.2969-3.7266-8.2969-8.2969v-41.48c0-4.5703 3.7148-8.2969 8.2969-8.2969h30.422l30.969 23.23c1.4922 1.1211 3.2344 1.6602 4.9688 1.6602 2.5312 0 5.0117-1.1445 6.6445-3.3203 2.7539-3.668 2.0078-8.8672-1.6602-11.613l-13.273-9.957h24.891c4.5781 0 8.2969 3.7266 8.2969 8.2969z" />
                                        <path
                                            d="m441.26 180.45h99.555c4.5859 0 8.2969-3.7148 8.2969-8.2969v-24.891c0-17.105-13.051-31.062-29.691-32.828 2.9766-4.9766 4.8047-10.734 4.8047-16.949v-33.188c0-18.301-14.883-33.184-33.184-33.184-18.301 0-33.184 14.883-33.184 33.184v33.188c0 6.2148 1.8242 11.973 4.8047 16.949-16.641 1.7656-29.691 15.723-29.691 32.828v24.891c-0.003906 4.582 3.7031 8.2969 8.2891 8.2969zm58.074-44.914-8.2969 8.2969-8.2969-8.2969v-6.0391c2.6719 0.69531 5.418 1.1797 8.2969 1.1797s5.625-0.48047 8.2969-1.1797zm-24.887-54.641h33.184v16.594c0 9.1523-7.4414 16.594-16.594 16.594s-16.594-7.4414-16.594-16.594z" />
                                    </g>
                                </svg>

                            </div>
                        </div>
                        <div class="service__right">
                            <h3 class="service__title">Outsourcing</h3>
                            <p>Comprehensive outsourcing financial services tailored to meet the unique needs of your
                                business. Trust us to be your partner in financial excellence.
                            </p>
                        </div>
                    </div>
                    <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                        <span>08</span>
                    </div>
                </a>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <a href="/services/profitability-analytics-and-management">
                    <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <div class="service__left">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill='var(--primary)'
                                    viewbox="25 0 550 550">
                                    <g>
                                        <path
                                            d="m362.78 167.83 55.504-31.996c1.7812-1.0312 3.9023-1.3164 5.8945-0.79688l52.582 13.559 71.516-71.797-10.789 1.0898c-2.0898 0.25-4.1875-0.34766-5.832-1.6641-1.6406-1.3125-2.6836-3.2305-2.8945-5.3242-0.21484-2.0898 0.42578-4.1797 1.7695-5.7969 1.3438-1.6172 3.2812-2.625 5.3789-2.8008l32.594-3.2969-0.003906 0.003906c2.3711-0.23437 4.7227 0.625 6.3828 2.332 1.6641 1.7109 2.457 4.0859 2.1523 6.4492l-4.125 32.496v0.003906c-0.5 3.9023-3.8164 6.832-7.7539 6.8438-0.33203-0.003906-0.66406-0.023437-0.99609-0.066406-4.2891-0.54688-7.3242-4.4688-6.7773-8.7617l1.2305-9.6914-73.922 74.215 0.003906 0.003906c-1.9609 1.9609-4.8164 2.7461-7.5039 2.0547l-53.832-13.887-54.574 31.441c-1.1875 0.6875-2.5352 1.0469-3.9062 1.0508h-41.07c-4.2422-0.11719-7.6172-3.5898-7.6172-7.832 0-4.2422 3.375-7.7148 7.6172-7.832zm42.508 0.24219h-0.003906c-4.3242 0-7.832 3.5078-7.832 7.8359v106.77c0.003906 4.3242 3.5078 7.8281 7.832 7.8281h32.168c4.3242 0 7.832-3.5039 7.8359-7.8281v-106.77c0-2.0781-0.82422-4.0703-2.2969-5.5391-1.4688-1.4727-3.4609-2.2969-5.5391-2.2969zm63.391 16.012c-4.3242 0.003907-7.8242 3.5039-7.8281 7.8281v90.777c0.003907 4.3242 3.5039 7.8242 7.8281 7.8281h32.172c4.3242-0.003906 7.8242-3.5039 7.8281-7.8281v-90.777c-0.003907-4.3242-3.5039-7.8242-7.8281-7.8281zm95.566-53.809h-32.168c-4.3242 0-7.8281 3.5039-7.8281 7.8281v144.6c0 4.3242 3.5039 7.8281 7.8281 7.8281h32.168c4.3242 0 7.8281-3.5039 7.832-7.8281v-144.62c-0.019531-4.3164-3.5195-7.8008-7.832-7.8008zm52.027 170.75h-315.52c-4.3281 0-7.8359 3.5078-7.8359 7.832 0 4.3281 3.5078 7.8359 7.8359 7.8359h315.52c4.3281 0 7.8359-3.5078 7.8359-7.8359 0-4.3242-3.5078-7.832-7.8359-7.832zm-274.38-102.45c-4.3164 0.015625-7.8047 3.5195-7.8047 7.832v76.258c0 4.3203 3.5039 7.8242 7.8281 7.8281h32.168-0.003906c4.3281 0 7.832-3.5039 7.8359-7.8281v-76.258c0-2.0742-0.82422-4.0703-2.293-5.5391-1.4727-1.4688-3.4648-2.293-5.543-2.293zm-1.875 153.26c-34.09-0.027344-66.34-15.465-87.742-41.992-21.402-26.531-29.668-61.316-22.488-94.641 7.1797-33.32 29.035-61.613 59.465-76.977s66.176-16.148 97.25-2.1367l23.969-13.812c1.375-0.79297 2.8281-1.4414 4.3398-1.9375-29.945-18.875-65.914-25.73-100.7-19.191-34.785 6.5391-65.812 25.984-86.859 54.441-21.047 28.457-30.555 63.82-26.621 98.996s21.023 67.562 47.836 90.668c26.816 23.102 61.375 35.215 96.746 33.902 35.367-1.3086 68.938-15.941 93.969-40.965 1.8984-1.8984 3.7383-3.8477 5.5156-5.8477h-41.156c-18.734 12.73-40.871 19.52-63.52 19.488zm-153.14 8.6719h-0.003906c-4.9688-5.0195-12.973-5.3516-18.336-0.75391l-7.5352 6.3789 49.793 49.797 6.3828-7.5391h0.003906c4.5938-5.3672 4.2617-13.371-0.76172-18.336zm-98.711 67.293c-7.5742 6.582-12.016 16.055-12.23 26.086-0.47266 12.629 4.3359 24.883 13.27 33.82 8.9375 8.9375 21.191 13.75 33.816 13.277 10.039-0.20703 19.516-4.6523 26.098-12.23l51.52-60.832-51.645-51.641zm134.4-86.324-16.27 16.27 15.004 14.996 16.262-16.262c-2.6484-2.3203-5.2344-4.7305-7.7578-7.2383-2.5195-2.5078-4.9414-5.0938-7.2656-7.7617z" />
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="service__right">
                            <h3 class="service__title">Profitability Analytics and Management</h3>
                            <p>Maintain accurate and timely financial records, meet regulatory requirements, and achieve
                                profitability with Deepwork's services. Customized solutions tailored to achieve
                                financial excellence.</p>
                        </div>
                    </div>
                    <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <span>09</span>
                    </div>
                </a>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <a href="/services/business-valuation">
                    <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <div class="service__left">
                            <div class="icon">
                                <svg width="33.878" fill='var(--primary)' height="33.746" version="1.1"
                                    viewBox="50 0 550 550" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <path
                                            d="m426.36 423.39c-4.2422-1.6953-9.332 0.84766-11.031 5.0898l-31.395 89.09-5.0898-27.152c-0.84766-3.3945-2.5469-5.9375-5.9375-6.7891-2.5469-0.84766-5.9375 0-8.4844 1.6953l-20.363 18.668 35.637-104.36c1.6953-4.2422-0.84766-9.332-5.0898-11.031-4.2422-1.6953-9.332 0.84766-11.031 5.0898l-45.816 135.76c-0.84766 3.3945 0 7.6367 3.3945 10.184 3.3945 1.6953 7.6367 1.6953 10.184-0.84766l33.09-30.547 7.6367 44.121c0.84766 3.3945 3.3945 6.7891 7.6367 6.7891 3.3945 0 7.6367-1.6953 8.4844-5.9375l42.426-119.64c2.5391-3.3906-0.007812-8.4844-4.25-10.18z" />
                                        <path
                                            d="m629.15 526.06-51.758-127.27c-1.6953-4.2422-6.7891-6.7891-11.031-4.2422-4.2422 1.6953-6.7891 6.7891-4.2422 11.031l39.879 97.574-21.211-16.969c-2.5469-1.6953-5.9375-2.5469-8.4844-0.84766-2.5469 0.84766-5.0898 3.3945-5.0898 6.7891l-4.2461 25.449-36.484-87.395c-1.6953-4.2422-6.7891-6.7891-11.031-4.2422-4.2422 1.6992-5.9375 6.7891-4.2422 11.031l48.363 117.94c1.6953 3.3945 5.0898 5.9375 9.332 5.0898s6.7891-3.3945 7.6367-7.6367l5.0898-44.121 34.789 28c3.3945 2.5469 7.6367 2.5469 10.184 0 2.5469-2.543 4.2422-5.9336 2.5469-10.176z" />
                                        <path
                                            d="m472.18 222.3c-44.121 0-79.758 35.637-79.758 79.758s35.637 79.758 79.758 79.758 79.758-35.637 79.758-79.758c-0.003906-44.125-35.637-79.758-79.758-79.758zm0 142.54c-34.789 0-62.789-28-62.789-62.789 0-34.789 28-62.789 62.789-62.789 34.789 0 62.789 28 62.789 62.789-0.003906 33.941-28.004 62.789-62.789 62.789z" />
                                        <path
                                            d="m546 414.06 7.6367-28.848 28.848-6.7891c2.5469-0.84766 4.2422-1.6953 5.0898-3.3945 0.84766-1.6953 1.6953-4.2422 0.84766-6.7891l-7.6367-36.484 26.305-27.152c1.6953-1.6953 2.5469-3.3945 2.5469-5.9375 0-2.5469-0.84766-4.2422-2.5469-5.9375l-23.758-22.91 8.4844-32.242c0.84766-4.2422-1.6953-9.332-5.9375-10.184l-29.695-6.7891-6.7891-28.848c-0.84766-4.2422-5.9375-7.6367-10.184-6.7891l-36.484 8.4844-27.152-26.305c-3.3945-3.3945-8.4844-3.3945-11.879 0l-22.91 23.758-32.242-8.4844c-4.2422-0.84766-9.332 1.6953-10.184 5.9375l-7.6367 28.848-28.848 6.7891c-2.5469 0.84766-4.2422 1.6953-5.0898 3.3945-0.84766 1.6953-1.6953 4.2422-0.84766 6.7891l7.6367 36.484-26.305 27.152c-1.6953 1.6953-2.5469 3.3945-2.5469 5.9375 0 2.5469 0.84766 4.2422 2.5469 5.9375l23.758 22.91-8.4844 32.242c-0.84766 2.5469 0 4.2422 0.84766 6.7891 0.84766 1.6953 3.3945 3.3945 5.0898 4.2422l28.848 7.6367 6.7891 28.848c0.84766 4.2422 5.9375 7.6367 10.184 6.7891l36.484-7.6367 27.152 26.305c1.6953 1.6953 3.3945 2.5469 5.9375 2.5469 2.5469 0 4.2422-0.84766 5.9375-2.5469l22.91-23.758 32.242 8.4844c5.0977-0.84766 9.3398-3.3906 11.035-8.4805zm-43.273-19.516c-2.5469-0.84766-5.9375 0-8.4844 2.5469l-20.363 21.211-23.758-23.758c-1.6953-1.6953-3.3945-2.5469-5.9375-2.5469h-1.6953l-33.094 7.6367-5.9375-25.453c-0.84766-3.3945-3.3945-5.9375-5.9375-6.7891l-25.453-6.7891 7.6367-28.848c0.84766-2.5469 0-5.9375-2.5469-8.4844l-21.211-20.363 23.758-23.758c1.6953-1.6953 2.5469-5.0898 2.5469-7.6367l-7.6367-33.09 25.453-5.9375c3.3945-0.84766 5.9375-3.3945 6.7891-5.9375l6.7891-25.453 28.848 7.6367c2.5469 0.84766 5.9375 0 8.4844-2.5469l20.363-21.211 23.758 23.758c1.6953 1.6953 5.0898 2.5469 7.6367 2.5469l33.09-6.7891 5.9375 25.453c0.84766 3.3945 3.3945 5.9375 5.9375 6.7891l25.453 6.7891-8.4844 27.992c-0.84766 2.5469 0 5.9375 2.5469 8.4844l21.211 20.363-23.758 23.758c-1.6953 1.6953-2.5469 5.0898-2.5469 7.6367l8.4844 33.09-25.453 5.9375c-3.3945 0.84766-5.9375 3.3945-6.7891 5.9375l-6.7891 25.453z" />
                                        <path
                                            d="m516.3 274.91c-3.3945-3.3945-8.4844-4.2422-11.879-0.84766l-50.91 43.273-14.426-22.91c-2.5469-4.2422-7.6367-5.0898-11.879-2.5469-4.2422 2.5469-5.0898 7.6367-2.5469 11.879l19.516 31.395c1.6953 1.6953 3.3945 3.3945 5.9375 4.2422 2.5469 0 5.0898 0 6.7891-1.6953l58.547-49.211c3.3945-4.2461 4.2422-9.3359 0.85156-13.578z" />
                                        <path
                                            d="m350 407.27c0-5.0898-3.3945-8.4844-8.4844-8.4844h-235.88c-10.184 0-18.668-8.4844-18.668-18.668v-252.85h123.03v74.668c0 5.0898 3.3945 8.4844 8.4844 8.4844h144.24c5.0898 0 8.4844-3.3945 8.4844-8.4844v-74.668h123.03v39.879c0 5.0898 3.3945 8.4844 8.4844 8.4844 5.0898 0 8.4844-3.3945 8.4844-8.4844v-48.363c0-1.6953-0.84766-3.3945-0.84766-4.2422l-56.848-100.12c-5.0898-8.4844-14.426-14.426-24.605-14.426h-276.61c-10.184 0-19.516 5.0898-24.609 14.426l-56.848 100.12c0 0.84766-0.84766 2.543-0.84766 4.2422v260.48c0 20.363 16.121 36.484 35.637 36.484h235.88c5.0898 0 8.4844-4.2422 8.4844-8.4844zm-24.605-388.61 25.453 90.789-121.33-0.003906 25.453-90.789zm28.848 173.94h-127.27v-65.332h127.27zm84-169.7 49.211 87.395h-117.94l-26.305-93.336h85.695c3.3984 0 7.6406 2.5469 9.3359 5.9414zm-296.12 0c2.5469-3.3945 5.9414-5.9414 10.184-5.9414h85.695l-26.305 93.332-118.79 0.003907z" />
                                        <path
                                            d="m154 370.79c5.0898 0 8.4844-3.3945 8.4844-8.4844v-60.242l13.574 13.574c3.3945 3.3945 8.4844 3.3945 11.879 0s3.3945-8.4844 0-11.879l-28-28.848c-1.6953-1.6953-3.3945-2.5469-5.9375-2.5469-2.5469 0-4.2422 0.84766-5.9375 2.5469-1.6953 1.6953-26.305 27.152-28 28.848-3.3945 3.3945-3.3945 8.4844 0 11.879s8.4844 3.3945 11.879 0l13.574-13.574v60.242c0 5.0898 3.3945 8.4844 8.4844 8.4844z" />
                                        <path
                                            d="m239.7 370.79c5.0898 0 8.4844-3.3945 8.4844-8.4844v-60.242l13.574 13.574c3.3945 3.3945 8.4844 3.3945 11.879 0 3.3945-3.3945 3.3945-8.4844 0-11.879l-28-28.848c-1.6953-1.6953-3.3945-2.5469-5.9375-2.5469-2.5469 0-4.2422 0.84766-5.9375 2.5469l-28 29.695c-3.3945 3.3945-3.3945 8.4844 0 11.879 3.3945 3.3945 8.4844 3.3945 11.879 0l13.574-13.574v60.242c0 4.2422 3.3945 7.6367 8.4844 7.6367z" />
                                    </g>
                                </svg>

                            </div>
                        </div>
                        <div class="service__right">
                            <h3 class="service__title">Business Valuation</h3>
                            <p>Make informed decisions on your company's financial planning. We offer expert business
                                valuation services, utilizing advanced techniques and methodologies to provide accurate
                                and unbiased assessments of a company's value.
                            </p>
                        </div>
                    </div>
                    <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                        <span>10</span>
                    </div>
                </a>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <a href="/services/ipr-service">
                    <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <div class="service__left">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill='var(--primary)' width="40" height="40"
                                    viewbox="100 0 550 550">
                                    <g>
                                        <path
                                            d="m173.34 223.49c0-4.2422-3.3945-7.6367-7.6367-7.6367h-30.203c-4.2422 0-7.6367 3.3945-7.6367 7.6367 0 4.2422 3.3945 7.6367 7.6367 7.6367h30.207c4.2422 0 7.6328-3.4805 7.6328-7.6367z" />
                                        <path
                                            d="m357.55 53.965c4.2422 0 7.6367-3.3945 7.6367-7.6367v-30.207c0-4.2422-3.3945-7.6367-7.6367-7.6367-4.2422 0-7.6367 3.3945-7.6367 7.6367v30.289c0 4.1602 3.4805 7.5547 7.6367 7.5547z" />
                                        <path
                                            d="m260.48 74.414c1.4414 2.4609 3.9883 3.8164 6.6172 3.8164 1.2734 0 2.6289-0.33984 3.8164-1.0195 3.6484-2.1211 4.9219-6.7891 2.8008-10.438l-15.102-26.219c-2.1211-3.6445-6.7852-4.918-10.434-2.7969-3.6484 2.1211-4.9219 6.7891-2.8008 10.438z" />
                                        <path
                                            d="m170.89 128.29 26.219 15.102c1.1875 0.67969 2.5469 1.0195 3.8164 1.0195 2.6289 0 5.1758-1.3594 6.6172-3.8164 2.1211-3.6484 0.84766-8.3164-2.8008-10.438l-26.219-15.102c-3.6484-2.1211-8.3164-0.84766-10.438 2.8008-2.1172 3.6484-0.84375 8.3125 2.8047 10.434z" />
                                        <path
                                            d="m197.02 311.14-26.219 15.102c-3.6484 2.1211-4.9219 6.7891-2.8008 10.438 1.4414 2.4609 3.9883 3.8164 6.6172 3.8164 1.2734 0 2.6289-0.33984 3.8164-1.0195l26.219-15.102c3.6484-2.1211 4.9219-6.7891 2.8008-10.438s-6.7852-4.918-10.434-2.7969z" />
                                        <path
                                            d="m444.27 77.211c1.1875 0.67969 2.5469 1.0195 3.8164 1.0195 2.6289 0 5.1758-1.3594 6.6172-3.8164l15.102-26.219c2.1211-3.6484 0.84766-8.3164-2.8008-10.438-3.6484-2.1211-8.3164-0.84766-10.438 2.8008l-15.102 26.219c-2.1172 3.6484-0.84375 8.3125 2.8047 10.434z" />
                                        <path
                                            d="m566.7 131.86-87.395-25.965c-1.4414-0.42578-2.9688-0.42578-4.3281 0l-24.438 7.2969c-28.426-22.738-63.637-34.195-100.71-32.414-78.398 3.9883-142.04 71.188-141.78 149.76 0.085937 37.758 14.34 73.734 40.047 101.39 17.48 18.836 29.695 41.406 35.637 65.758h-5.1758c-4.2422 0-7.6367 3.3945-7.6367 7.6367v104.96c0 4.2422 3.3945 7.6367 7.6367 7.6367h20.789c1.9531 11.625 7.3828 22.57 15.695 31.223 1.4414 1.5273 3.3945 2.375 5.5156 2.375h74.156c2.0352 0 4.0742-0.84766 5.5156-2.375 8.3164-8.6562 13.746-19.516 15.695-31.223h20.789c4.2422 0 7.6367-3.3945 7.6367-7.6367l0.003906-104.87c0-4.2422-3.3945-7.6367-7.6367-7.6367h-5.2617c5.8555-24.184 17.902-46.582 35.129-65.164 2.6289 1.1016 5.1758 2.2891 7.9766 3.2227 0.84766 0.25391 1.6953 0.42578 2.5469 0.42578 0.84766 0 1.6953-0.16797 2.5469-0.42578 35.637-12.559 58.715-35.383 71.781-52.098 13.32-16.461 20.703-38.012 20.703-60.836v-83.66c-0.003907-3.3906-2.2109-6.3633-5.4336-7.3789zm-273.55 281.19h135.76v19.684h-142.71v-19.684zm-6.957 34.871h142.8v19.855h-142.8zm105.04 88.328h-67.371c-4.4141-5.3438-7.5508-11.625-9.0781-18.242h85.527c-1.5273 6.6172-4.582 12.898-9.0781 18.242zm-105.04-33.516v-19.684h142.8v19.684zm129.48-104.96h-116.24c-6.1953-28.254-20.023-54.473-40.219-76.195-23.078-24.777-35.805-57.102-35.891-91.043-0.25391-70.594 56.848-130.92 127.27-134.48 29.441-1.5273 57.613 6.6172 81.453 22.57l-44.461 13.238c-3.2227 0.93359-5.4297 3.9023-5.4297 7.2969v83.66c0 22.738 7.3828 44.375 20.617 60.668 10.184 13.066 26.387 29.527 49.551 42.254-18.238 20.785-30.797 45.395-36.652 72.035zm141.19-174.87c0 19.262-6.1094 37.418-17.395 51.25-11.539 14.848-31.648 34.789-62.363 46.328-30.715-11.539-50.824-31.48-62.535-46.414-11.113-13.746-17.309-31.902-17.309-51.164v-77.977l79.758-23.672 79.758 23.672 0.003906 77.977z" />
                                        <path
                                            d="m419.57 207.45c0 31.734 25.793 57.527 57.527 57.527 31.734 0 57.527-25.793 57.527-57.527s-25.793-57.527-57.527-57.527c-31.73-0.082031-57.527 25.797-57.527 57.527zm99.785 0c0 23.332-19.008 42.254-42.254 42.254-23.332 0-42.254-19.008-42.254-42.254 0-23.332 19.008-42.254 42.254-42.254 23.332-0.085938 42.254 18.922 42.254 42.254z" />
                                        <path
                                            d="m466.75 200.07c-2.0352-3.6484-6.7031-5.0078-10.352-2.8867-3.6484 2.0352-5.0078 6.7031-2.8867 10.438l6.2773 11.113c1.3594 2.4609 3.9883 3.9023 6.7031 3.9023 1.1875 0 2.4609-0.25391 3.6484-0.93359l27.746-14.934c3.7344-2.0352 5.0898-6.6172 3.1406-10.352-2.0352-3.7344-6.6172-5.0898-10.352-3.0547l-21.211 11.371z" />
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="service__right">
                            <h3 class="service__title">IPR</h3>
                            <p>Specialized IP experts with domestic and international experience in any aspect of
                                patent, trademark, licensing, and litigation.</p>
                        </div>
                    </div>
                    <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <span>11</span>
                    </div>
                </a>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <a href="/services/mergers-and-acquisitions">
                    <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <div class="service__left">
                            <div class="icon">
                                <svg width="40" height="40" fill='var(--primary)' version="1.1" viewBox="75 0 550 550"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <path
                                            d="m385 262.5h-17.5v-17.5c0-9.6641-7.8281-17.5-17.5-17.5s-17.5 7.8359-17.5 17.5v17.5h-17.5c-9.6719 0-17.5 7.8359-17.5 17.5s7.8281 17.5 17.5 17.5h17.5v17.5c0 9.6641 7.8281 17.5 17.5 17.5s17.5-7.8359 17.5-17.5v-17.5h17.5c9.6719 0 17.5-7.8359 17.5-17.5s-7.8281-17.5-17.5-17.5z" />
                                        <path
                                            d="m262.5 122.5c0 48.246 39.254 87.5 87.5 87.5s87.5-39.254 87.5-87.5-39.254-87.5-87.5-87.5-87.5 39.254-87.5 87.5zm96.25-61.25v1.2422c15.051 3.9141 26.25 17.496 26.25 33.758 0 4.8359-3.9141 8.75-8.75 8.75s-8.75-3.9141-8.75-8.75c0-9.6484-7.8438-17.5-17.5-17.5s-17.5 7.8516-17.5 17.5 7.8438 17.5 17.5 17.5c19.293 0 35 15.695 35 35 0 16.262-11.199 29.844-26.25 33.758v1.2422c0 4.8359-3.9141 8.75-8.75 8.75s-8.75-3.9141-8.75-8.75v-1.2422c-15.051-3.9141-26.25-17.496-26.25-33.758 0-4.8359 3.9141-8.75 8.75-8.75s8.75 3.9141 8.75 8.75c0 9.6484 7.8438 17.5 17.5 17.5s17.5-7.8516 17.5-17.5-7.8438-17.5-17.5-17.5c-19.293 0-35-15.695-35-35 0-16.262 11.199-29.844 26.25-33.758v-1.2422c0-4.8359 3.9141-8.75 8.75-8.75s8.75 3.9141 8.75 8.75z" />
                                        <path
                                            d="m591.17 199.07-70-87.5c-6.6641-8.3047-20.68-8.3047-27.344 0l-70 87.5c-2.4766 3.1016-3.8281 6.957-3.8281 10.93v297.5c0 9.6641 7.8281 17.5 17.5 17.5h35v-70c0-9.6641 7.8359-17.5 17.5-17.5h35c9.6641 0 17.5 7.8359 17.5 17.5v70h35c9.6719 0 17.5-7.8359 17.5-17.5v-297.5c0-3.9727-1.3516-7.8281-3.8281-10.93zm-101.17 203.43c0 9.6641-7.8359 17.5-17.5 17.5h-17.5c-9.6641 0-17.5-7.8359-17.5-17.5v-17.5c0-9.6641 7.8359-17.5 17.5-17.5h17.5c9.6641 0 17.5 7.8359 17.5 17.5zm0-70c0 9.6641-7.8359 17.5-17.5 17.5h-17.5c-9.6641 0-17.5-7.8359-17.5-17.5v-17.5c0-9.6641 7.8359-17.5 17.5-17.5h17.5c9.6641 0 17.5 7.8359 17.5 17.5zm0-70c0 9.6641-7.8359 17.5-17.5 17.5h-17.5c-9.6641 0-17.5-7.8359-17.5-17.5v-17.5c0-9.6641 7.8359-17.5 17.5-17.5h17.5c9.6641 0 17.5 7.8359 17.5 17.5zm87.5 140c0 9.6641-7.8359 17.5-17.5 17.5h-17.5c-9.6641 0-17.5-7.8359-17.5-17.5v-17.5c0-9.6641 7.8359-17.5 17.5-17.5h17.5c9.6641 0 17.5 7.8359 17.5 17.5zm0-70c0 9.6641-7.8359 17.5-17.5 17.5h-17.5c-9.6641 0-17.5-7.8359-17.5-17.5v-17.5c0-9.6641 7.8359-17.5 17.5-17.5h17.5c9.6641 0 17.5 7.8359 17.5 17.5zm0-70c0 9.6641-7.8359 17.5-17.5 17.5h-17.5c-9.6641 0-17.5-7.8359-17.5-17.5v-17.5c0-9.6641 7.8359-17.5 17.5-17.5h17.5c9.6641 0 17.5 7.8359 17.5 17.5z" />
                                        <path
                                            d="m276.17 199.07-70-87.5c-6.6641-8.3047-20.68-8.3047-27.344 0l-70 87.5c-2.4766 3.1016-3.8281 6.957-3.8281 10.93v297.5c0 9.6641 7.8281 17.5 17.5 17.5h35v-70c0-9.6641 7.8359-17.5 17.5-17.5h35c9.6641 0 17.5 7.8359 17.5 17.5v70h35c9.6719 0 17.5-7.8359 17.5-17.5v-297.5c0-3.9727-1.3516-7.8281-3.8281-10.93zm-101.17 203.43c0 9.6641-7.8359 17.5-17.5 17.5h-17.5c-9.6641 0-17.5-7.8359-17.5-17.5v-17.5c0-9.6641 7.8359-17.5 17.5-17.5h17.5c9.6641 0 17.5 7.8359 17.5 17.5zm0-70c0 9.6641-7.8359 17.5-17.5 17.5h-17.5c-9.6641 0-17.5-7.8359-17.5-17.5v-17.5c0-9.6641 7.8359-17.5 17.5-17.5h17.5c9.6641 0 17.5 7.8359 17.5 17.5zm0-70c0 9.6641-7.8359 17.5-17.5 17.5h-17.5c-9.6641 0-17.5-7.8359-17.5-17.5v-17.5c0-9.6641 7.8359-17.5 17.5-17.5h17.5c9.6641 0 17.5 7.8359 17.5 17.5zm87.5 140c0 9.6641-7.8359 17.5-17.5 17.5h-17.5c-9.6641 0-17.5-7.8359-17.5-17.5v-17.5c0-9.6641 7.8359-17.5 17.5-17.5h17.5c9.6641 0 17.5 7.8359 17.5 17.5zm0-70c0 9.6641-7.8359 17.5-17.5 17.5h-17.5c-9.6641 0-17.5-7.8359-17.5-17.5v-17.5c0-9.6641 7.8359-17.5 17.5-17.5h17.5c9.6641 0 17.5 7.8359 17.5 17.5zm0-70c0 9.6641-7.8359 17.5-17.5 17.5h-17.5c-9.6641 0-17.5-7.8359-17.5-17.5v-17.5c0-9.6641 7.8359-17.5 17.5-17.5h17.5c9.6641 0 17.5 7.8359 17.5 17.5z" />
                                    </g>
                                </svg>

                            </div>
                        </div>
                        <div class="service__right">
                            <h3 class="service__title">Mergers & Acquisitions</h3>
                            <p>Mergers and acquisitions (M&A) can be complex and high-stakes transactions. Trust us to
                                be your strategic partner throughout the entire M&A process, helping you achieve your
                                growth and expansion goals while minimizing risks and maximizing value.</p>
                        </div>
                    </div>
                    <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <span>12</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Service area end -->