<!-- Testimonial area start -->
<section class="testimonial__area py-5">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="sec-title-wrap">
                    <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        Testimonials</h2>
                    <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Customer's

                        <span>Feedback.</span>
                    </h3>
                </div>
                <div class="testimonial__slider-wrap">
                    <div class="swiper testimonial__slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial__slide">
                                    <!-- <img src="assets/imgs/testimonial/3.jpg" alt="Client"
                                        class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s"> -->
                                    <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">We have a
                                        complex finance and account structure. We are glad that Deepwork has made it
                                        hassle-free. All we did was, give them our organizational goals & targets. The
                                        rest of the responsibility is solely taken by them.
                                    </p>
                                    <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.7s"> L BHEEM SINGH </h4>
                                    <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.9s">
                                        Joint Secretary -
                                        Telangana State Board of Intermediate Education</h5>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__slide">
                                    <!-- <img src="assets/imgs/testimonial/1.jpg" alt="Client"
                                        class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s"> -->
                                    <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">Working
                                        with Deepwork has been a great experience. Their team provided us not only the
                                        service but an extensive knowledge & guidance we may need.</p>
                                    <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.7s">Shri. Jagdish Santdasani</h4>
                                    <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.9s">
                                        Secretary - Lions Club of Hyderabad Sadhuram Eye Hospital</h5>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__slide">
                                    <!-- <img src="assets/imgs/testimonial/2.jpg" alt="Client"
                                        class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s"> -->
                                    <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">Thank you
                                        so much to the Deepwork team. You really made my business set up a hassle-free
                                        process. You people are so informative and so resourceful. Happy to work with
                                        you.
                                    </p>
                                    <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.7s">Anuraag Jhunjhunwala</h4>
                                    <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.9s">
                                        CEO - Cappella</h5>
                                </div>
                            </div>
                            <!-- <div class="swiper-slide">
                                <div class="testimonial__slide">
                                    <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">For the
                                        first time in years of my organizational experience, I have peace of mind at
                                        executing payroll processes. I truly appreciate your workforce and the
                                        dedication to giving the best of industry services with less manual effort.
                                        I would highly recommend you!
                                    </p>
                                    <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.7s">Adhik Kalluri</h4>
                                    <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.9s">
                                        HR Manager</h5>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__slide">
                                    <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">We have
                                        approached Deepwork for all our accounting, tax, VAT, compliances, Payroll
                                        processing, and many more. I found the services professional and prompt.
                                        Anyone can happily rely on them for all financial, accounting, and
                                        compliance needs.

                                    </p>
                                    <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.7s">Balamohan Nadella</h4>
                                    <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.9s">
                                        CEO</h5>
                                </div>
                            </div> -->
                        </div>
                        <div class="swiper-pagination wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial area end -->