<!-- Testimonial area start -->
<section class="testimonial__area py-5">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="sec-title-wrap">
                    <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        Testimonials</h2>
                    <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Customer's

                        <span>Feedback.</span>
                    </h3>
                </div>
                <div class="testimonial__slider-wrap">
                    <div class="swiper testimonial__slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial__slide">
                                    <!-- <img src="assets/imgs/testimonial/3.jpg" alt="Client"
                                        class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s"> -->
                                    <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">We have
                                        a complex finance and account structure. We are glad that Deepwork has been
                                        really happy to take the pain for us. All we did was, give them our
                                        organizational goals, targets, pictures, and some basic parameters. The rest
                                        of the responsibility for streamlining is perfectly and solely taken by the
                                        Deepwork team. Such Hassle-free solutions they provide! We are just relaxed
                                        with that.

                                    </p>
                                    <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.7s">Animesh Chennubhotla</h4>
                                    <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.9s">
                                        Managing Director</h5>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__slide">
                                    <!-- <img src="assets/imgs/testimonial/1.jpg" alt="Client"
                                        class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s"> -->
                                    <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">Working
                                        with Deepwork has been a great experience. Their team of experts provided us
                                        with the guidance and support we needed to protect our intellectual property
                                        and secure our future.</p>
                                    <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.7s">Ghananand Kotapalli</h4>
                                    <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.9s">
                                        Managing Director</h5>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__slide">
                                    <!-- <img src="assets/imgs/testimonial/2.jpg" alt="Client"
                                        class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s"> -->
                                    <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">Thank
                                        you so much to the entire team of Deepwork. You really made my new business
                                        set up a hassle-free process. Even though I collected all the information,
                                        you people are so informative and let me know many more in-depth metrics.
                                        You are so resourceful and happy to work with you.
                                    </p>
                                    <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.7s">Dhinanta Sripada</h4>
                                    <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.9s">
                                        Founder</h5>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__slide">
                                    <!-- <img src="assets/imgs/testimonial/3.jpg" alt="Client"
                                        class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s"> -->
                                    <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">For the
                                        first time in years of my organizational experience, I have peace of mind at
                                        executing payroll processes. I truly appreciate your workforce and the
                                        dedication to giving the best of industry services with less manual effort.
                                        I would highly recommend you!
                                    </p>
                                    <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.7s">Adhik Kalluri</h4>
                                    <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.9s">
                                        HR Manager</h5>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__slide">
                                    <!-- <img src="assets/imgs/testimonial/3.jpg" alt="Client"
                                        class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s"> -->
                                    <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">We have
                                        approached Deepwork for all our accounting, tax, VAT, compliances, Payroll
                                        processing, and many more. I found the services professional and prompt.
                                        Anyone can happily rely on them for all financial, accounting, and
                                        compliance needs.

                                    </p>
                                    <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.7s">Balamohan Nadella</h4>
                                    <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                        data-wow-delay="0.9s">
                                        CEO</h5>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial area end -->