<%- include('partials/header'); -%>

    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__title">Contact Us</h1>
                        <p><a href="index.html">Home</a> <span>Contact Us</span></p>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Breadcrumb area end -->

    <!-- Contact area start -->
    <section class="contact__area">
        <div class="contact__top py-5">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-8 col-x-8 col-lg-9 mx-auto">
                        <div class="contact__top-inner">
                            <div class="contact__item">
                                <div class="icon"><i class="fa-solid fa-phone"></i></div>
                                <div class="title">Phone</div>
                                <ul>
                                    <li><a href="tel: +917416228777">+91 74162 28777</a></li>
                                    <li><a href="tel: +917416536888">+91 74165 36888</a></li>
                                </ul>
                            </div>
                            <div class="contact__item">
                                <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                                <div class="title">Email</div>
                                <ul>
                                    <li><a href="mailto:contact@deepworkco.in">contact@deepworkco.in</a></li>
                                    <li><a href="mailto:info@deepworkco.in">info@deepworkco.in</a></li>
                                </ul>
                            </div>
                            <div class="contact__item">
                                <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                                <div class="title">Location</div>
                                <ul>
                                    <li>3-6-883, Street No.15 <br>
                                        Himayathnagar-500029</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58408.97484139959!2d90.33915680783855!3d23.798644768568714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c102e2ece5bb%3A0x446e9dc895326a70!2sBangladesh%20National%20Zoo!5e0!3m2!1sen!2sbd!4v1671466814402!5m2!1sen!2sbd"></iframe>
        </div> -->

        <div class="contact__form py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-8 col-x-8 col-lg-6">
                        <h2 class="contact__title">Get in touch</h2>
                        <form id="contact-form">
                            <div class="input-grp">
                                <input type="text" id="name" placeholder="Your Name*" pattern="^[a-zA-Z ]+$" name="name"
                                    title="Please enter only alphabetic characters" required>
                                <input type="tel" id="phone" name="phone" placeholder="Mobile Number*"
                                    pattern="[+]?[0-9]{0,3}[\s]?\d{5}[\s]?\d{5}" title="Please enter your mobile number"
                                    required>
                            </div>
                            <input type="email" id="email" name="email" placeholder="Email*"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please recheck your email"
                                required>
                            <input type="text" id="business-type" name="business-type" pattern="^[a-zA-Z ]+$"
                                placeholder="Business Type*" title="Please enter only alphabetic characters" required>
                            <!-- <label for="category">Service you're looking for?</label>
                            <select name="category" id="category" required multiple>
                                <option value="" disabled></option>
                                <option value="Accounting">Accounting</option>
                                <option value="Bookkeeping">Bookkeeping</option>
                                <option value="Legal Compliances">Legal Compliances</option>
                                <option value="IPR Service">IPR Service</option>
                                <option value="Valuation Part">Valuation Part</option>
                                <option value="Payroll Service">Payroll Service</option>
                                <option value="Labour Compliances">Labour Compliances</option>
                                <option value="Monthly Compliances">Monthly Compliances</option>
                                <option value="Statutory Compliances">Statutory Compliances</option>
                            </select> -->
                            <!-- <textarea name="message" id="message" rows="3" placeholder="Write Your Messages"></textarea> -->
                            <!-- <input type="submit" value="Submit" id="submit" class="submit"> -->
                            <button class="submit" type="submit" id="submit">SEND</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="/assets/js/contact.js"></script>

        <!-- <img src="assets/imgs/bg/contact.png" alt="Contact image" class="bg"> -->
    </section>
    <!-- Contact area end -->


    <!-- Brand area start -->
    <!-- <section class="brand__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="brand__list">
                        <div class="brand__item">
                            <img src="assets/imgs/brand/1.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item">
                            <img src="assets/imgs/brand/2.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item">
                            <img src="assets/imgs/brand/3.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item">
                            <img src="assets/imgs/brand/4.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item">
                            <img src="assets/imgs/brand/2.png" alt="Brand Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Brand area end -->

    <%- include('partials/footer'); -%>