<%- include('partials/header'); -%>


    <!-- Hero area start -->
    <section class="hero__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="hero__content">
                        <h1 class="hero__sub-title cxufadeUp">Leave the numbers to us</h1>
                        <h2 class="hero__title cxufadeUp2">Deepwork</span></h2>
                        <p class="cxufadeUp3">Customized accounting services that maximize your time, resources, and
                            financials.
                        </p>
                        <a href="/about" class="cxu-btn-primary cxufadeUp4">DISCOVER MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
        <img src="assets/imgs/hero/shape.png" alt="overlay" class="shape-1">
        <img src="assets/imgs/hero/shape-2.png" alt="overlay" class="shape-2">
    </section>
    <!-- Hero area end -->

    <!-- Feature area start -->
    <!-- <style scoped>
        .feature__area .service__title {
            font-size: 24px;
        }
    </style>
    <section class="feature__area pt-5">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                            <div class="mb-0 wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                <h2 class="service__title">Streamline</h2>
                            </div>
                        </div>

                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                            <div class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                <h2 class="service__title">Simplify</h2>
                            </div>
                        </div>

                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                            <div class="mb-0 text-center wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                                <h2 class="service__title">Maximize</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <h3 class="sec-title">Your Financial Processes</h3>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Feature area end -->


    <!-- Feature area start -->
    <section class="feature__area pt-5 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/imgs/feature/1.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Rapidly Scalable team (Up/Down)</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <img src="assets/imgs/feature/9.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Processes set by seasoned professionals</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <img src="assets/imgs/feature/3.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Core leaders focussing on business scale-up</h2>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">
                        <img src="assets/imgs/feature/4.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Techno Savvy work process</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature area end -->


    <!-- About area start -->
    <section class="about__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__left">
                        <img src="assets/imgs/about/1.png" alt="Image" class="image">
                        <img src="assets/imgs/about/2.png" alt="Image" class="image-2">
                        <img src="assets/imgs/about/3.jpeg" alt="Image" class="image-3">
                        <img src="assets/imgs/about/s1.png" alt="shape" class="shape">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__right">
                        <div class="about__right-inner">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                About Company</h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">25+
                                YEARS WORKING
                                <span>EXPERIENCE.</span>
                            </h3>
                            <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">With diverse global
                                teams, Deepwork unlocks the potential in delivering integrated solutions. The robust
                                foundation for all your financial processes starts from Deepwork. Our purpose is to
                                bring clear insights paired with quality services in the capital markets and economies
                                of the businesses. In a fast-growing business world, our goal is to offer financial
                                assistance and consultants to the pioneers of different business areas. </p>
                            <ul class="list-check wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                <li>Proactive & Timely Advice</li>
                                <li>Skilled & Experienced</li>
                                <li>Strategic Planning</li>
                                <li>Hassel free & Easy</li>
                            </ul>
                            <a href="/services" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">READ
                                MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->


    <!-- Service area start -->
    <section class="service__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="sec-title-wrap">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Our
                            Services
                        </h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">We make a
                            difference to your
                            <br>
                            <span>Financial Verticals.</span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/accounting-service">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg fill='url("#a")' width="33.878" height="33.878" version="1.1" id="Capa_1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 60 60" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M59,20H29c-0.6,0-1,0.4-1,1v38c0,0.6,0.4,1,1,1h30c0.6,0,1-0.4,1-1V21C60,20.4,59.6,20,59,20z M58,22v6H30
			c0-0.6,0-1.6,0-2h12v-2H30c0-0.2,0-2,0-2H58z M30,58c0,0,0-18.3,0-28h28v28H30z" />
                                                <rect x="35" y="32" width="3" height="2" />
                                                <rect x="40" y="32" width="3" height="2" />
                                                <rect x="45" y="32" width="3" height="2" />
                                                <rect x="50" y="32" width="3" height="2" />
                                                <rect x="33" y="37" width="4" height="2" />
                                                <rect x="39" y="37" width="4" height="2" />
                                                <rect x="45" y="37" width="4" height="2" />
                                                <rect x="51" y="37" width="4" height="2" />
                                                <rect x="33" y="41" width="4" height="2" />
                                                <rect x="39" y="41" width="4" height="2" />
                                                <rect x="45" y="41" width="4" height="2" />
                                                <rect x="51" y="41" width="4" height="2" />
                                                <rect x="33" y="45" width="4" height="2" />
                                                <rect x="39" y="45" width="4" height="2" />
                                                <rect x="45" y="45" width="4" height="2" />
                                                <rect x="51" y="45" width="4" height="2" />
                                                <rect x="33" y="49" width="4" height="2" />
                                                <rect x="39" y="49" width="4" height="2" />
                                                <rect x="45" y="49" width="4" height="2" />
                                                <rect x="51" y="49" width="4" height="2" />
                                                <rect x="33" y="53" width="4" height="2" />
                                                <rect x="39" y="53" width="4" height="2" />
                                                <rect x="45" y="53" width="4" height="2" />
                                                <rect x="51" y="53" width="4" height="2" />
                                                <path
                                                    d="M2,14h11c0.6,0,1-0.4,1-1V2h34v14h2V1c0-0.6-0.4-1-1-1H13l0,0c-0.1,0-0.2,0-0.3,0.1h-0.1c-0.1,0.1-0.2,0.1-0.3,0.2l-12,12
			c-0.1,0.1-0.1,0.2-0.2,0.3v0.1C0.1,12.8,0,12.9,0,13l0,0v11h2C2,24,2,15.1,2,14z M12,12H3.4l4.3-4.3L12,3.4L12,12L12,12z" />
                                                <path d="M25,43H14v-4v-5v-5c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v5v5v5v5v5v5c0,0.6,0.4,1,1,1h12h12c0.6,0,1-0.4,1-1v-5v-5v-5
			C26,43.4,25.6,43,25,43z M2,45h10v3H2V45z M12,43H2v-3h10V43z M12,38H2v-3h10V38z M2,50h10v3H2V50z M14,50h10v3H14V50z M24,48H14
			v-3h10V48z M2,30h10v3H2V30z M2,55h10v3H2V55z M24,58H14v-3h10V58z" />
                                                <rect x="38" y="5" width="7" height="2" />
                                                <rect x="27" y="10" width="18" height="2" />
                                                <rect x="44" y="24" width="3" height="2" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Accounting</h3>
                                <p>Reliable and efficient financial services with high-quality analysis in presenting
                                    reports with respect to the latest reporting standards.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            <span>01</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/bookkeeping-service">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg fill='url("#a")' width="33.871" height="33.878" version="1.1"
                                        viewBox="85 0 550 550" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g>
                                            <path
                                                d="m131.25 437.5v-360.32l-26.25-5.25v419.46l188.03 32.375-156.94-78.383c-2.9805-1.4883-4.8594-4.543-4.8398-7.875z" />
                                            <path
                                                d="m551.25 432.09v-391.69l-192.5 96.25v58.758h-17.5v-58.758l-192.5-96.25v391.69l192.5 96.25v-64.594h17.5v64.594zm-122.5-28.945h17.5v2.7383c1.0508 6.9453 7.3398 11.859 14.332 11.199h6.3359c6.9922 0.66016 13.281-4.2539 14.332-11.199-0.66016-5.8828-5.3984-10.469-11.297-10.938l-15.391-2.625c-9.5859-0.76953-18.125-6.3555-22.664-14.832-4.543-8.4766-4.4609-18.68 0.21094-27.086 4.6719-8.4023 13.293-13.859 22.891-14.477v-12.18h17.5v12.18c7.0078 0.82422 13.492 4.1094 18.301 9.2695 4.8086 5.1641 7.625 11.867 7.9492 18.914v2.7383h-17.5v-2.7383c-1.0508-6.9453-7.3398-11.859-14.332-11.199h-6.3359c-6.9922-0.66016-13.281 4.2539-14.332 11.199 0.66016 5.8828 5.3984 10.469 11.297 10.938l15.391 2.625c9.5859 0.76953 18.125 6.3555 22.664 14.832 4.543 8.4766 4.4609 18.68-0.21094 27.086-4.6719 8.4023-13.293 13.859-22.891 14.477v12.18h-17.5v-12.18c-7.0078-0.82422-13.492-4.1094-18.301-9.2695-4.8086-5.1641-7.625-11.867-7.9492-18.914zm-87.5 25.602v-201.25h17.5v201.25z" />
                                            <path
                                                d="m568.75 77.176v360.32c0.019531 3.332-1.8594 6.3867-4.8398 7.875l-156.94 78.426 188.03-32.418v-419.46z" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Book Keeping</h3>
                                <p>Experienced professionals carry the perfect books for your business. Get the answers
                                    to all your inquiries in our bookkeeper's combined years of experience.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <span>02</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/legal-compliances">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg fill='url("#a")' width="33.878" height="33.875" viewBox="0 0 1024 1024"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M805.504 320 640 154.496V320h165.504zM832 384H576V128H192v768h640V384zM160 64h480l256 256v608a32 32 0 0 1-32 32H160a32 32 0 0 1-32-32V96a32 32 0 0 1 32-32zm318.4 582.144 180.992-180.992L704.64 510.4 478.4 736.64 320 578.304l45.248-45.312L478.4 646.144z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Legal Compliances</h3>
                                <p>Get your legal compliances checked by the global end-to-end Discovery and legal
                                    technology solutions provider.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <span>03</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/ipr-service">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg width="33.878" fill='url("#a")' height="33.746" version="1.1"
                                        viewBox="65 0 550 550" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g>
                                            <path
                                                d="m497 251.67c8.9688-81.156-49.438-154.33-130.59-163.3s-154.33 49.438-163.3 130.59c-1.2031 10.828-1.2031 21.766 0 32.703l1.3125 11.812c3.3906 30.953 16.516 60.156 37.516 83.125l30.625 33.688c6.0156 6.6719 11.156 14.109 15.094 22.203h36.094v17.5h-29.531c2.1875 8.2031 3.2812 16.625 3.2812 25.047v71.203c0 4.8125 3.9375 8.75 8.75 8.75h87.5c4.8125 0 8.75-3.9375 8.75-8.75v-71.203c0-8.4219 1.0938-16.953 3.2812-25.047h-29.531v-17.5h36.203c3.9375-8.0938 9.0781-15.531 15.094-22.203l30.625-33.688c21-23.078 34.125-52.172 37.516-83.125zm-38.281 25.047c-2.0781 16.406-13.234 30.188-28.766 35.766 6.2344 13.125 0.65625 28.766-12.359 35-3.5 1.6406-7.4375 2.5156-11.266 2.5156h-47.578v89.031c13.672 4.8125 20.781 19.797 15.969 33.469-2.625 7.4375-8.5312 13.344-15.969 15.969v19.031h-17.5v-19.031c-13.672-4.8125-20.781-19.797-15.969-33.469 2.625-7.4375 8.5312-13.344 15.969-15.969v-89.031h-47.578c-14.547 0-26.25-11.812-26.25-26.25 0-3.9375 0.875-7.7656 2.5156-11.266-22.75-8.0938-34.672-33.031-26.578-55.781 3.6094-10.062 10.609-18.375 20.016-23.625-0.98438-0.875-1.8594-1.8594-2.7344-2.8438-15.969-18.156-14.219-45.719 3.8281-61.797 7.9844-7.1094 18.266-10.938 28.984-10.938h1.75c-4.8125-13.672 2.2969-28.656 16.078-33.469 2.8438-0.98438 5.7969-1.5312 8.75-1.5312h60.156c14.547 0 26.25 11.812 26.25 26.25 0 2.9531-0.54688 5.9062-1.5312 8.75h1.75c24.172 0 43.75 19.578 43.75 43.75 0 10.609-3.9375 21-10.938 28.984-0.875 0.98438-1.8594 1.9688-2.7344 2.8438 15.531 8.6406 24.281 25.922 21.984 43.641z" />
                                            <path
                                                d="m341.25 140h-21.328c-4.8125 0-8.75 3.9375-8.75 8.75s3.9375 8.75 8.75 8.75h3.8281v17.5h-30.406c-14.547 0-26.25 11.703-26.25 26.25s11.703 26.25 26.25 26.25h4.1562c4.8125 0 8.75-3.9375 8.75-8.75s-3.9375-8.75-8.75-8.75h-8.75v-17.5h8.75c14.547 0 26.25 11.703 26.25 26.25s-11.703 26.25-26.25 26.25h-12.906c-14.547 0-26.25 11.703-26.25 26.25s11.703 26.25 26.25 26.25h12.906c4.8125 0 8.75-3.9375 8.75-8.75s-3.9375-8.75-8.75-8.75h-17.5v-17.5h17.5c14.547 0 26.25 11.703 26.25 26.25s-11.703 26.25-26.25 26.25h-3.8281c-4.8125 0-8.75 3.9375-8.75 8.75s3.9375 8.75 8.75 8.75h47.578z" />
                                            <path
                                                d="m358.75 463.75c0 4.832-3.918 8.75-8.75 8.75s-8.75-3.918-8.75-8.75 3.918-8.75 8.75-8.75 8.75 3.918 8.75 8.75" />
                                            <path
                                                d="m415.41 245h-12.906c-14.547 0-26.25-11.703-26.25-26.25s11.703-26.25 26.25-26.25h8.75v17.5h-8.75c-4.8125 0-8.75 3.9375-8.75 8.75s3.9375 8.75 8.75 8.75h4.1562c14.547 0 26.25-11.703 26.25-26.25s-11.703-26.25-26.25-26.25h-30.406v-17.5h3.8281c4.8125 0 8.75-3.9375 8.75-8.75s-3.9375-8.75-8.75-8.75h-21.328v192.5h47.578c4.8125 0 8.75-3.9375 8.75-8.75s-3.9375-8.75-8.75-8.75h-3.8281c-14.547 0-26.25-11.703-26.25-26.25s11.703-26.25 26.25-26.25h17.5v17.5h-17.5c-4.8125 0-8.75 3.9375-8.75 8.75s3.9375 8.75 8.75 8.75h12.906c14.547 0 26.25-11.703 26.25-26.25s-11.812-26.25-26.25-26.25z" />
                                            <path d="m533.75 236.25h78.75v17.5h-78.75z" />
                                            <path d="m429.66 57.355 17.512-35.02 15.652 7.8242-17.512 35.02z" />
                                            <path d="m493.3 98.156 43.73-34.984 10.934 13.664-43.73 34.984z" />
                                            <path d="m531.35 166.59 61.207-17.488 4.8086 16.828-61.207 17.488z" />
                                            <path d="m341.25 17.5h17.5v39.375h-17.5z" />
                                            <path d="m87.5 236.25h78.75v17.5h-78.75z" />
                                            <path d="m237.16 30.152 15.652-7.8242 17.512 35.02-15.652 7.8242z" />
                                            <path d="m152.05 76.84 10.934-13.664 43.73 34.984-10.934 13.664z" />
                                            <path d="m102.61 165.92 4.8086-16.828 61.207 17.488-4.8086 16.828z" />
                                            <path
                                                d="m227.5 437.5v-17.5h-7.7656c-29.531 0-53.484-24.391-53.484-54.25v-15.75h-17.5v15.75c0 29.859-23.953 54.25-53.484 54.25h-7.7656v17.5h7.7656c29.531 0 53.484 24.391 53.484 54.25v15.75h17.5v-15.75c0-29.859 23.953-54.25 53.484-54.25zm-70 19.797c-6.5625-12.031-16.297-21.875-28.328-28.547 11.922-6.6719 21.766-16.516 28.328-28.547 6.5625 12.031 16.297 21.875 28.328 28.547-12.031 6.6719-21.766 16.516-28.328 28.547z" />
                                            <path
                                                d="m551.25 358.75h-17.5c0 24.172-19.578 43.75-43.75 43.75v17.5c24.172 0 43.75 19.578 43.75 43.75v8.75h17.5v-8.75c0-24.172 19.578-43.75 43.75-43.75v-17.5c-24.172 0-43.75-19.578-43.75-43.75zm-8.75 73.5c-5.1406-8.6406-12.359-15.75-21-21 8.6406-5.1406 15.75-12.359 21-21 5.1406 8.6406 12.359 15.75 21 21-8.6406 5.1406-15.859 12.359-21 21z" />
                                            <path d="m533.75 297.5h17.5v17.5h-17.5z" />
                                            <path d="m463.75 490h17.5v17.5h-17.5z" />
                                            <path d="m218.75 472.5h17.5v17.5h-17.5z" />
                                            <path d="m122.5 297.5h17.5v17.5h-17.5z" />
                                            <path d="m87.5 341.25h17.5v17.5h-17.5z" />
                                            <path d="m595 323.75h17.5v17.5h-17.5z" />
                                            <path d="m183.75 525h17.5v17.5h-17.5z" />
                                            <path d="m568.75 516.25h17.5v17.5h-17.5z" />

                                        </g>
                                    </svg>

                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">IPR</h3>
                                <p>Specialized IP experts with domestic and international experience in any aspect of
                                    patent, trademark, licensing, and litigation.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <span>04</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/valuation-service">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">
                            <div class="service__left">
                                <div class="icon">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="33.878" height="33.746"
                                        viewbox="425.061 2394.127 33.878 33.746">
                                        <g data-name="001-web-development">
                                            <path
                                                d="M33.878 8.94V3.978A2.98 2.98 0 0 0 30.9 1H2.978A2.98 2.98 0 0 0 0 3.978V8.94h33.878ZM22.894 4.97h5.955a.993.993 0 0 1 0 1.985h-5.955a.993.993 0 0 1 0-1.985Zm-9.925 0a.993.993 0 1 1 0 1.985.993.993 0 0 1 0-1.985Zm-3.97 0a.993.993 0 1 1 0 1.985.993.993 0 0 1 0-1.985Zm-3.97 0a.993.993 0 1 1 0 1.985.993.993 0 0 1 0-1.985Z"
                                                fill-rule="evenodd" fill="url(&quot;#a&quot;)"
                                                transform="translate(425.061 2393.127)" data-name="Path 92"></path>
                                            <path
                                                d="M0 151v20.843a2.98 2.98 0 0 0 2.978 2.977H30.9a2.98 2.98 0 0 0 2.978-2.977V151H0Zm11.604 14.113a.992.992 0 1 1-1.24 1.55l-4.963-3.97a.993.993 0 0 1 0-1.55l4.963-3.97a.993.993 0 0 1 1.24 1.55l-3.994 3.195 3.994 3.195Zm9.225-9.752-5.955 13.895a.992.992 0 1 1-1.825-.782l5.955-13.895a.993.993 0 0 1 1.825.782Zm7.648 7.332-4.963 3.97a.992.992 0 1 1-1.24-1.55l3.994-3.195-3.994-3.195a.992.992 0 1 1 1.24-1.55l4.963 3.97a.993.993 0 0 1 0 1.55Z"
                                                fill-rule="evenodd" fill="url(&quot;#b&quot;)"
                                                transform="translate(425.061 2253.052)" data-name="Path 93"></path>
                                        </g>
                                        <defs>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="a5">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="b5">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                        </defs>
                                    </svg> -->
                                    <svg width="33.878" fill='url("#a")' height="33.746" version="1.1"
                                        viewBox="50 0 550 550" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g>
                                            <path
                                                d="m426.36 423.39c-4.2422-1.6953-9.332 0.84766-11.031 5.0898l-31.395 89.09-5.0898-27.152c-0.84766-3.3945-2.5469-5.9375-5.9375-6.7891-2.5469-0.84766-5.9375 0-8.4844 1.6953l-20.363 18.668 35.637-104.36c1.6953-4.2422-0.84766-9.332-5.0898-11.031-4.2422-1.6953-9.332 0.84766-11.031 5.0898l-45.816 135.76c-0.84766 3.3945 0 7.6367 3.3945 10.184 3.3945 1.6953 7.6367 1.6953 10.184-0.84766l33.09-30.547 7.6367 44.121c0.84766 3.3945 3.3945 6.7891 7.6367 6.7891 3.3945 0 7.6367-1.6953 8.4844-5.9375l42.426-119.64c2.5391-3.3906-0.007812-8.4844-4.25-10.18z" />
                                            <path
                                                d="m629.15 526.06-51.758-127.27c-1.6953-4.2422-6.7891-6.7891-11.031-4.2422-4.2422 1.6953-6.7891 6.7891-4.2422 11.031l39.879 97.574-21.211-16.969c-2.5469-1.6953-5.9375-2.5469-8.4844-0.84766-2.5469 0.84766-5.0898 3.3945-5.0898 6.7891l-4.2461 25.449-36.484-87.395c-1.6953-4.2422-6.7891-6.7891-11.031-4.2422-4.2422 1.6992-5.9375 6.7891-4.2422 11.031l48.363 117.94c1.6953 3.3945 5.0898 5.9375 9.332 5.0898s6.7891-3.3945 7.6367-7.6367l5.0898-44.121 34.789 28c3.3945 2.5469 7.6367 2.5469 10.184 0 2.5469-2.543 4.2422-5.9336 2.5469-10.176z" />
                                            <path
                                                d="m472.18 222.3c-44.121 0-79.758 35.637-79.758 79.758s35.637 79.758 79.758 79.758 79.758-35.637 79.758-79.758c-0.003906-44.125-35.637-79.758-79.758-79.758zm0 142.54c-34.789 0-62.789-28-62.789-62.789 0-34.789 28-62.789 62.789-62.789 34.789 0 62.789 28 62.789 62.789-0.003906 33.941-28.004 62.789-62.789 62.789z" />
                                            <path
                                                d="m546 414.06 7.6367-28.848 28.848-6.7891c2.5469-0.84766 4.2422-1.6953 5.0898-3.3945 0.84766-1.6953 1.6953-4.2422 0.84766-6.7891l-7.6367-36.484 26.305-27.152c1.6953-1.6953 2.5469-3.3945 2.5469-5.9375 0-2.5469-0.84766-4.2422-2.5469-5.9375l-23.758-22.91 8.4844-32.242c0.84766-4.2422-1.6953-9.332-5.9375-10.184l-29.695-6.7891-6.7891-28.848c-0.84766-4.2422-5.9375-7.6367-10.184-6.7891l-36.484 8.4844-27.152-26.305c-3.3945-3.3945-8.4844-3.3945-11.879 0l-22.91 23.758-32.242-8.4844c-4.2422-0.84766-9.332 1.6953-10.184 5.9375l-7.6367 28.848-28.848 6.7891c-2.5469 0.84766-4.2422 1.6953-5.0898 3.3945-0.84766 1.6953-1.6953 4.2422-0.84766 6.7891l7.6367 36.484-26.305 27.152c-1.6953 1.6953-2.5469 3.3945-2.5469 5.9375 0 2.5469 0.84766 4.2422 2.5469 5.9375l23.758 22.91-8.4844 32.242c-0.84766 2.5469 0 4.2422 0.84766 6.7891 0.84766 1.6953 3.3945 3.3945 5.0898 4.2422l28.848 7.6367 6.7891 28.848c0.84766 4.2422 5.9375 7.6367 10.184 6.7891l36.484-7.6367 27.152 26.305c1.6953 1.6953 3.3945 2.5469 5.9375 2.5469 2.5469 0 4.2422-0.84766 5.9375-2.5469l22.91-23.758 32.242 8.4844c5.0977-0.84766 9.3398-3.3906 11.035-8.4805zm-43.273-19.516c-2.5469-0.84766-5.9375 0-8.4844 2.5469l-20.363 21.211-23.758-23.758c-1.6953-1.6953-3.3945-2.5469-5.9375-2.5469h-1.6953l-33.094 7.6367-5.9375-25.453c-0.84766-3.3945-3.3945-5.9375-5.9375-6.7891l-25.453-6.7891 7.6367-28.848c0.84766-2.5469 0-5.9375-2.5469-8.4844l-21.211-20.363 23.758-23.758c1.6953-1.6953 2.5469-5.0898 2.5469-7.6367l-7.6367-33.09 25.453-5.9375c3.3945-0.84766 5.9375-3.3945 6.7891-5.9375l6.7891-25.453 28.848 7.6367c2.5469 0.84766 5.9375 0 8.4844-2.5469l20.363-21.211 23.758 23.758c1.6953 1.6953 5.0898 2.5469 7.6367 2.5469l33.09-6.7891 5.9375 25.453c0.84766 3.3945 3.3945 5.9375 5.9375 6.7891l25.453 6.7891-8.4844 27.992c-0.84766 2.5469 0 5.9375 2.5469 8.4844l21.211 20.363-23.758 23.758c-1.6953 1.6953-2.5469 5.0898-2.5469 7.6367l8.4844 33.09-25.453 5.9375c-3.3945 0.84766-5.9375 3.3945-6.7891 5.9375l-6.7891 25.453z" />
                                            <path
                                                d="m516.3 274.91c-3.3945-3.3945-8.4844-4.2422-11.879-0.84766l-50.91 43.273-14.426-22.91c-2.5469-4.2422-7.6367-5.0898-11.879-2.5469-4.2422 2.5469-5.0898 7.6367-2.5469 11.879l19.516 31.395c1.6953 1.6953 3.3945 3.3945 5.9375 4.2422 2.5469 0 5.0898 0 6.7891-1.6953l58.547-49.211c3.3945-4.2461 4.2422-9.3359 0.85156-13.578z" />
                                            <path
                                                d="m350 407.27c0-5.0898-3.3945-8.4844-8.4844-8.4844h-235.88c-10.184 0-18.668-8.4844-18.668-18.668v-252.85h123.03v74.668c0 5.0898 3.3945 8.4844 8.4844 8.4844h144.24c5.0898 0 8.4844-3.3945 8.4844-8.4844v-74.668h123.03v39.879c0 5.0898 3.3945 8.4844 8.4844 8.4844 5.0898 0 8.4844-3.3945 8.4844-8.4844v-48.363c0-1.6953-0.84766-3.3945-0.84766-4.2422l-56.848-100.12c-5.0898-8.4844-14.426-14.426-24.605-14.426h-276.61c-10.184 0-19.516 5.0898-24.609 14.426l-56.848 100.12c0 0.84766-0.84766 2.543-0.84766 4.2422v260.48c0 20.363 16.121 36.484 35.637 36.484h235.88c5.0898 0 8.4844-4.2422 8.4844-8.4844zm-24.605-388.61 25.453 90.789-121.33-0.003906 25.453-90.789zm28.848 173.94h-127.27v-65.332h127.27zm84-169.7 49.211 87.395h-117.94l-26.305-93.336h85.695c3.3984 0 7.6406 2.5469 9.3359 5.9414zm-296.12 0c2.5469-3.3945 5.9414-5.9414 10.184-5.9414h85.695l-26.305 93.332-118.79 0.003907z" />
                                            <path
                                                d="m154 370.79c5.0898 0 8.4844-3.3945 8.4844-8.4844v-60.242l13.574 13.574c3.3945 3.3945 8.4844 3.3945 11.879 0s3.3945-8.4844 0-11.879l-28-28.848c-1.6953-1.6953-3.3945-2.5469-5.9375-2.5469-2.5469 0-4.2422 0.84766-5.9375 2.5469-1.6953 1.6953-26.305 27.152-28 28.848-3.3945 3.3945-3.3945 8.4844 0 11.879s8.4844 3.3945 11.879 0l13.574-13.574v60.242c0 5.0898 3.3945 8.4844 8.4844 8.4844z" />
                                            <path
                                                d="m239.7 370.79c5.0898 0 8.4844-3.3945 8.4844-8.4844v-60.242l13.574 13.574c3.3945 3.3945 8.4844 3.3945 11.879 0 3.3945-3.3945 3.3945-8.4844 0-11.879l-28-28.848c-1.6953-1.6953-3.3945-2.5469-5.9375-2.5469-2.5469 0-4.2422 0.84766-5.9375 2.5469l-28 29.695c-3.3945 3.3945-3.3945 8.4844 0 11.879 3.3945 3.3945 8.4844 3.3945 11.879 0l13.574-13.574v60.242c0 4.2422 3.3945 7.6367 8.4844 7.6367z" />
                                        </g>
                                    </svg>

                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Valuation Part</h3>
                                <p>Get an insightful analysis and a detailed review of the facts about your business
                                    from professionals with expertise in your industry and goals.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <span>05</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/payroll-service">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.7s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg width="40" height="40" fill='url("#a")' version="1.1" viewBox="75 0 560 560"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g>
                                            <path
                                                d="m573.14 423.86c-30.211 46.875-73.734 82.535-125.87 103.12-31.277 12.348-64.02 18.562-96.949 18.562-23.055 0-46.195-3.0469-69.004-9.1523-68.484-18.352-125.72-62.27-161.17-123.67-35.434-61.406-44.855-132.93-26.504-201.41 18.352-68.484 62.27-125.72 123.67-161.17 61.398-35.453 132.93-44.867 201.41-26.516 51.176 13.715 96.559 42 131.25 81.797 2.3555 2.6992 4.6367 5.4766 6.8945 8.2852l-0.32812-20.16c-0.074218-4.7305 3.6992-8.6289 8.4219-8.7031 4.7383-0.082031 8.6211 3.6992 8.7031 8.4219l0.76562 47.379c0.039063 2.6289-1.125 5.1406-3.1719 6.7969-1.5391 1.25-3.4492 1.9062-5.3906 1.9062-0.64062 0-1.2852-0.070312-1.918-0.21484l-46.176-10.609c-4.6094-1.0625-7.4883-5.6602-6.4297-10.266 1.0625-4.6094 5.6523-7.4883 10.266-6.4297l24.262 5.5781c-2.8477-3.6562-5.7734-7.25-8.8086-10.727-32.441-37.23-74.891-63.684-122.77-76.512-64.062-17.168-130.98-8.3594-188.41 24.805-57.438 33.16-98.52 86.707-115.69 150.77-35.438 132.25 43.324 268.66 175.57 304.1 104.63 28.039 214.34-14.262 272.98-105.26 2.5625-3.9727 7.8633-5.1211 11.836-2.5625 3.9766 2.5703 5.1289 7.8672 2.5586 11.848zm42.371-251.88v216.03c0 4.7305-3.832 8.5625-8.5625 8.5625h-403.13c-4.7305 0-8.5625-3.832-8.5625-8.5625v-216.03c0-4.7305 3.832-8.5625 8.5625-8.5625h403.13c4.7305 0 8.5664 3.832 8.5664 8.5625zm-17.129 8.5625h-386v198.91h386zm-355.66 132.64v-66.367c0-4.7305 3.832-8.5625 8.5625-8.5625 9.4102 0 17.059-7.9258 17.059-17.668 0-4.7305 3.832-8.5625 8.5625-8.5625h256.94c4.7305 0 8.5625 3.832 8.5625 8.5625 0 9.7422 7.6523 17.668 17.059 17.668 4.7305 0 8.5625 3.832 8.5625 8.5625v66.371c0 4.7305-3.832 8.5625-8.5625 8.5625-9.4023 0-17.059 7.9219-17.059 17.664 0 4.7305-3.832 8.5625-8.5625 8.5625h-256.94c-4.7305 0-8.5625-3.832-8.5625-8.5625 0-9.7422-7.6523-17.664-17.059-17.664-4.7344-0.003906-8.5664-3.8359-8.5664-8.5664zm17.125-7.457c12.035 3.168 21.512 12.855 24.574 25.125h241.9c3.0625-12.266 12.543-21.957 24.574-25.125v-51.449c-12.035-3.168-21.512-12.855-24.574-25.125h-241.9c-3.0625 12.266-12.543 21.957-24.574 25.125zm49.508-17.16h38.629c4.7305 0 8.5625-3.832 8.5625-8.5625 0-4.7305-3.832-8.5625-8.5625-8.5625h-38.629c-4.7305 0-8.5625 3.832-8.5625 8.5625 0 4.7305 3.832 8.5625 8.5625 8.5625zm153.41 0h38.629c4.7305 0 8.5625-3.832 8.5625-8.5625 0-4.7305-3.832-8.5625-8.5625-8.5625h-38.629c-4.7305 0-8.5625 3.832-8.5625 8.5625 0 4.7305 3.832 8.5625 8.5625 8.5625zm-56.781 13.48c-4.7891 0.15625-10.887-1.7461-12.285-7.3633-1.1445-4.5898-5.793-7.3789-10.383-6.2422-4.5898 1.1445-7.3867 5.793-6.2344 10.383 2.3906 9.5898 9.8711 16.637 19.727 19.246v1.3477c0 4.7305 3.832 8.5625 8.5625 8.5625s8.5625-3.832 8.5625-8.5625v-1.1953c6.1484-1.4297 11.484-4.3906 15.008-8.4648 3.8867-4.4922 5.543-10.09 4.8008-16.203-1.4648-12.051-10.523-19.531-26.934-22.227-10.57-1.7383-10.738-5.2383-10.797-6.3945-0.23438-4.7422 4.9336-6.2891 6.5234-6.6445 3.6328-0.82812 10.512-0.46094 13.27 6.1094 1.832 4.3633 6.8477 6.4102 11.211 4.5781s6.4102-6.8477 4.5781-11.211c-3.6562-8.7109-10.402-13.668-17.668-15.75v-1.4297c0-4.7305-3.832-8.5625-8.5625-8.5625-4.7305 0-8.5625 3.832-8.5625 8.5625v1.5117c-11.312 3.3555-18.434 12.652-17.898 23.672 0.33203 6.9023 4.043 19 25.129 22.465 12.047 1.9766 12.508 5.7695 12.703 7.3867 0.19141 1.5938-0.24609 2.3555-0.75391 2.9414-1.6719 1.9453-5.7891 3.3828-9.9961 3.4844z" />
                                        </g>
                                    </svg>

                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Payroll - Complete</h3>
                                <p>Manage your operational and mandatory payroll processes consistently and effectively
                                    with proven processes.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <span>06</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/labour-compliances">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg width="40" height="40" fill='url("#a")' version="1.1" viewBox="100 30 500 500"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g>
                                            <path
                                                d="m571.75 90.703c0 22.23-18.02 40.254-40.254 40.254-22.23 0-40.25-18.023-40.25-40.254s18.02-40.254 40.25-40.254c22.234 0 40.254 18.023 40.254 40.254" />
                                            <path
                                                d="m430.61 252.45 33.141-15.793 31.988-42.934c1.9336-11.109 3.4648-18.234 3.6797-19.215 5.0859-23.238 28.078-37.969 51.285-32.879 23.246 5.0859 37.961 28.043 32.879 51.285-4.4727 20.453-14.875 82.68-9.375 124.46 1.9883 15.133-4.1562 29.43-15.02 38.574v126.28c0 15.293-12.395 27.691-27.691 27.691-15.289 0-27.691-12.398-27.691-27.691l-0.003906-126.27c-7.9531-6.6797-13.539-16.223-15.008-27.34-3.0703-23.262-2.6836-49.113-0.88672-72.895l-1.7578 2.3633c-1.5 2.0039-3.4609 3.6172-5.7188 4.6992l-36.578 17.434c-2.1328 1.0195-4.3906 1.5-6.6016 1.5-5.75 0-11.266-3.2383-13.91-8.7695-3.6562-7.668-0.39844-16.852 7.2695-20.508z" />
                                            <path d="m112.17 319.5h335.24v165.48h-335.24z" />
                                            <path
                                                d="m358.19 341.31v-75.141c0-40.207-38.41-58.688-59.762-63.156-6.0664-2.9531-12.863-4.6602-20.059-4.6602-7.1797 0-13.957 1.6914-20.004 4.6406-21.332 4.4297-59.863 22.91-59.863 63.18v75.141h29.227v-75.145c0-6.0703 1.8867-11.117 4.6992-15.348v90.492h91.879v-90.41c2.8164 4.2227 4.6523 9.2305 4.6523 15.27v75.141l29.23 0.003906z" />
                                            <path
                                                d="m331.37 124.27c0-12.137-22.172-21.293-51.57-21.293-29.406 0-51.574 9.1562-51.574 21.293 0 6.3164 5.9375 11.938 16.75 15.91l-4.9453 18.273c-0.074219 0.27344-0.10547 0.56641-0.078125 0.85156 0.027343 0.37891 0.50391 4.7617 4.6758 9.3008 4.9688 13.949 18.246 23.945 33.898 23.945 14.52 0 27.008-8.6133 32.703-20.996 4.5625-4.0195 5.582-9.1953 5.9023-14.441 0.011719-0.19531 0-0.38672-0.027344-0.58203l-2.7812-16.184-0.011718-0.054687c11.02-3.9609 17.059-9.6055 17.059-16.023zm-20.848 12.008c-1.2656 0.40234-2 1.7305-1.668 3.0195l3.1367 17.242-66.238-0.003906 4.0938-15.102 0.22266-1.2383c0.089844-0.49219 0.027344-1.0078-0.17188-1.4688l-0.67578-1.5352c-0.28125-0.63672-0.81641-1.1328-1.4766-1.3594-9.0703-3.1406-14.492-7.4648-14.492-11.562 0-7.6953 19.117-16.27 46.555-16.27 27.43 0 46.547 8.5742 46.547 16.27-0.007812 4.2773-6.0781 8.8828-15.832 12.008z" />
                                            <path
                                                d="m279.03 124.95c-6.0156 0-10.914 4.8945-10.914 10.91 0 6.0195 4.8984 10.914 10.914 10.914s10.914-4.8945 10.914-10.914c0-6.0156-4.9023-10.91-10.914-10.91zm0 16.801c-3.2461 0-5.8867-2.6445-5.8867-5.8906 0-3.2422 2.6367-5.8789 5.8867-5.8789 3.2461 0 5.8906 2.6367 5.8906 5.8789 0 3.2461-2.6445 5.8906-5.8906 5.8906z" />
                                            <path
                                                d="m423.87 97.254c-24.332 0-44.055 14.797-44.055 33.047 0 9.3906 5.2188 17.863 13.609 23.879l-5.6328 22.031 22.07-14.57c4.4023 1.1094 9.1172 1.707 14.012 1.707 4.9219 0 9.5703-1.0234 14.074-1.7188 10.348-1.6016 20.875-11.195 20.875-11.195 5.7188-5.5781 9.1211-12.555 9.1211-20.133-0.003906-18.258-19.738-33.047-44.074-33.047zm-20.312 37.848c-2.9961 0-5.4258-2.4297-5.4258-5.4258 0-2.9961 2.4297-5.4258 5.4258-5.4258 3 0 5.4336 2.4297 5.4336 5.4258 0 2.9922-2.4258 5.4258-5.4336 5.4258zm20.395 0c-2.9961 0-5.4336-2.4297-5.4336-5.4258 0-2.9961 2.4375-5.4258 5.4336-5.4258s5.4336 2.4297 5.4336 5.4258c0 2.9922-2.4375 5.4258-5.4336 5.4258zm20.391 0c-2.9922 0-5.4219-2.4297-5.4219-5.4258 0-2.9961 2.4297-5.4258 5.4219-5.4258 3 0 5.4336 2.4297 5.4336 5.4258-0.003906 2.9922-2.4336 5.4258-5.4336 5.4258z" />
                                        </g>
                                    </svg>

                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Labour Compliances</h3>
                                <p>Minimize risks and ensure compliance as we keep track of changes in regulations and
                                    updates that may need to ensure your ongoing compliance.

                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            <span>07</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/monthly-compliances">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33.871" height="33.878"
                                        viewbox="1228.9 2394.54 33.871 33.878">
                                        <g data-name="003-copywriting">
                                            <path d="M16.214 399.359V392H8.789l7.425 7.359Z" fill-rule="evenodd"
                                                fill="url(&quot;#a&quot;)" transform="translate(1220.693 2028.478)"
                                                data-name="Path 95"></path>
                                            <path
                                                d="m221.609 221.609 1.403 4.211.703.703 2.806-2.808-.702-.702-4.21-1.404Z"
                                                fill-rule="evenodd" fill="url(&quot;#b&quot;)"
                                                transform="translate(1021.955 2187.595)" data-name="Path 96"></path>
                                            <path d="M0 0h3.97v13.278H0V0Z" fill-rule="evenodd"
                                                fill="url(&quot;#c&quot;)"
                                                transform="rotate(-45 3539.33 -297.58) scale(.99985)"
                                                data-name="Path 97">
                                            </path>
                                            <path d="M0 0h3.97v2.978H0V0Z" fill-rule="evenodd"
                                                fill="url(&quot;#d&quot;)"
                                                transform="rotate(-45 3557.75 -305.21) scale(.99985)"
                                                data-name="Path 98">
                                            </path>
                                            <path
                                                d="M25.872 20.258V0H0v23.953h9.991v9.925h15.88v-2.392l-11.54-11.539-2.806-8.423 8.421 2.809 5.926 5.925ZM8.006 3.044h13.896v1.985H8.006V3.044Zm-3.97 0h1.985v1.985H4.036V3.044Zm0 5.955V7.014h17.866v1.985H4.036Z"
                                                fill-rule="evenodd" fill="url(&quot;#e&quot;)"
                                                transform="translate(1228.9 2394.54)" data-name="Path 99"></path>
                                        </g>
                                        <defs>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="a">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="b">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="c">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="d">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="e">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Monthly Compliances</h3>
                                <p>Stay on top of the game every month with the monthly compliance services from our
                                    experts. We help you keep your business run smoothly with legally complaint.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <span>08</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/statutory-compliances">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg width="33.878" height="33.875" fill='url("#a")' version="1.1"
                                        viewBox="75 0 550 550" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g>
                                            <path
                                                d="m350 113.75h210c4.8125 0 8.75-3.9375 8.75-8.75s-3.9375-8.75-8.75-8.75h-210c-4.8125 0-8.75 3.9375-8.75 8.75s3.9375 8.75 8.75 8.75z" />
                                            <path
                                                d="m350 157.5h210c4.8125 0 8.75-3.9375 8.75-8.75s-3.9375-8.75-8.75-8.75h-210c-4.8125 0-8.75 3.9375-8.75 8.75s3.9375 8.75 8.75 8.75z" />
                                            <path
                                                d="m476.44 450.62h-35.875v-4.375c0-12.25-7-21.875-16.188-22.312 2.625-17.062 7-28.875 11.812-38.5 1.75-3.9375 4.375-7.4375 7.4375-10.938 10.062-11.812 15.312-26.688 15.312-42 0-35.875-29.312-65.188-65.625-65.188s-65.625 29.312-65.625 65.188c0 15.75 5.6875 30.625 16.188 42.438 3.9375 4.375 6.5625 8.75 8.75 12.688 4.375 9.1875 8.3125 20.125 10.938 36.312-9.1875 0.4375-16.188 10.062-16.188 22.312v4.375h-35.875c-12.25 0-22.312 10.062-22.312 22.312v29.75c0 12.25 10.062 22.312 22.312 22.312h164.94c12.25 0 22.312-10.062 22.312-22.312v-29.75c0-12.25-10.062-22.312-22.312-22.312zm4.8125 52.062c0 2.625-2.1875 4.8125-4.8125 4.8125h-165.38c-2.625 0-4.8125-2.1875-4.8125-4.8125v-29.75c0-2.625 2.1875-4.8125 4.8125-4.8125h44.625c4.8125 0 8.75-3.9375 8.75-8.75v-13.125c0-2.1875 0.4375-3.9375 0.875-4.8125h7.4375c2.625 0 4.8125-0.875 6.5625-3.0625s2.625-4.375 2.1875-6.5625c-2.1875-24.062-7.875-39.375-13.562-51.625-2.625-5.6875-6.125-10.938-11.375-17.062-7.4375-8.75-11.812-19.688-11.812-31.062 0-26.25 21.438-47.688 48.125-47.688s48.125 21.438 48.125 47.688c0 11.375-3.9375 21.875-11.375 30.625-4.375 4.8125-7.4375 9.625-9.625 14.875-6.125 13.125-12.25 28.438-14.438 54.25-0.4375 2.625 0.4375 4.8125 2.1875 6.5625s3.9375 3.0625 6.5625 3.0625h7.4375c0.4375 0.875 0.875 2.625 0.875 4.8125v13.125c0 4.8125 3.9375 8.75 8.75 8.75h44.625c2.625 0 4.8125 2.1875 4.8125 4.8125v29.75z" />
                                            <path
                                                d="m402.5 455c0 4.832-3.918 8.75-8.75 8.75s-8.75-3.918-8.75-8.75 3.918-8.75 8.75-8.75 8.75 3.918 8.75 8.75" />
                                            <path
                                                d="m402.5 332.5c0 4.832-3.918 8.75-8.75 8.75s-8.75-3.918-8.75-8.75 3.918-8.75 8.75-8.75 8.75 3.918 8.75 8.75" />
                                            <path
                                                d="m560 227.5h-192.5v17.5h192.5c4.8125 0 8.75-3.9375 8.75-8.75s-3.9375-8.75-8.75-8.75z" />
                                            <path
                                                d="m560 183.75h-210c-3.5 0-6.5625 2.1875-7.875 4.8125 8.3125 1.3125 15.312 6.125 19.688 12.688h198.19c4.8125 0 8.75-3.9375 8.75-8.75s-3.9375-8.75-8.75-8.75z" />
                                            <path
                                                d="m603.75 30.625h-297.5c-14.438 0-26.25 11.812-26.25 26.25v131.25h17.5v-131.25c0-4.8125 3.9375-8.75 8.75-8.75h297.5c4.8125 0 8.75 3.9375 8.75 8.75v446.25c0 4.8125-3.9375 8.75-8.75 8.75h-88.812c-1.75 6.5625-4.8125 12.688-9.1875 17.5h98c14.438 0 26.25-11.812 26.25-26.25v-446.25c0-14.438-11.812-26.25-26.25-26.25z" />
                                            <path
                                                d="m560 446.25h-54.25c4.375 4.8125 7.875 10.938 9.1875 17.5h45.062c4.8125 0 8.75-3.9375 8.75-8.75s-3.9375-8.75-8.75-8.75z" />
                                            <path
                                                d="m96.25 511.88c-4.8125 0-8.75-3.9375-8.75-8.75v-26.25c0-4.8125 3.9375-8.75 8.75-8.75h175.44c0.875-6.5625 3.0625-12.25 6.5625-17.5h-164.5c-4.8125 0-8.75-3.9375-8.75-8.75v-26.25c0-4.8125 3.9375-8.75 8.75-8.75h227.5c-2.1875-6.125-8.75-17.5-8.75-17.5h-236.25c-4.8125 0-8.75-3.9375-8.75-8.75v-26.25c0-4.8125 3.9375-8.75 8.75-8.75h215.25c-0.875-4.375-0.875-16.188-0.875-17.5h-196.88c-4.8125 0-8.75-3.9375-8.75-8.75v-26.25c0-4.8125 3.9375-8.75 8.75-8.75h211.75c1.3125-2.1875 19.688-19.688 24.5-22.75v-42.875c0-7.4375-5.6875-13.125-13.125-13.125h-240.62c-14.438 0-26.25 11.812-26.25 26.25v26.25c0 12.25 8.3125 22.312 19.25 25.375-0.875 3.0625-1.75 6.125-1.75 9.625v26.25c0 3.5 0.875 6.5625 1.75 9.625-10.938 3.0625-19.25 13.125-19.25 25.375v26.25c0 12.25 8.3125 22.312 19.25 25.375-0.875 3.0625-1.75 6.125-1.75 9.625v26.25c0 3.5 0.875 6.5625 1.75 9.625-10.938 3.0625-19.25 13.125-19.25 25.375v26.25c0 14.438 11.812 26.25 26.25 26.25h185.5c-4.375-4.8125-7.875-10.938-9.1875-17.5zm-8.75-253.75v-26.25c0-4.8125 3.9375-8.75 8.75-8.75h236.25v43.75h-236.25c-4.8125 0-8.75-3.9375-8.75-8.75z" />
                                            <path
                                                d="m560 315h-85.312c1.3125 5.6875 1.75 11.375 1.75 17.062v0.4375h83.562c4.8125 0 8.75-3.9375 8.75-8.75s-3.9375-8.75-8.75-8.75z" />
                                            <path
                                                d="m560 358.75h-88.375c-2.1875 6.125-4.8125 11.812-8.3125 17.5h96.688c4.8125 0 8.75-3.9375 8.75-8.75s-3.9375-8.75-8.75-8.75z" />
                                            <path
                                                d="m560 402.5h-112.44c-1.3125 3.5-2.625 7-3.5 11.375 2.1875 1.75 3.9375 3.9375 5.6875 6.125h110.25c4.8125 0 8.75-3.9375 8.75-8.75s-3.9375-8.75-8.75-8.75z" />
                                            <path
                                                d="m560 271.25h-110.69c5.6875 5.25 10.5 10.938 14.438 17.5h96.25c4.8125 0 8.75-3.9375 8.75-8.75s-3.9375-8.75-8.75-8.75z" />
                                        </g>
                                    </svg>

                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Statutory Compliances</h3>
                                <p>We help you stay ahead of legal curve. Navigate the complex regulations with ease and
                                    protect your business from potential legal pitfalls.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <span>09</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <!-- Service area end -->


    <!-- Counter area start -->
    <style scoped>
        @media (min-width: 768px) {
            .w-md-20 {
                width: 20% !important;
            }
        }
    </style>

    <section class="counter__area-2 pt-100 pb-100">
        <div class="container">
            <div class="counter__inner-2">
                <div class="row">
                    <div class="w-md-20">
                        <div class="counter__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                            <h3 class="counter__text-2"><br /></h3>
                            <div class="counter-active counter__number-2">25+</div>
                            <h3 class="counter__text-2">SERVICES OFFERED</h3>
                        </div>
                    </div>
                    <div class="w-md-20 mt-2 mt-md-0">
                        <div class="counter__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            <h3 class="counter__text-2">TRUSTED BY</h3>
                            <div class="counter-active counter__number-2">500+</div>
                            <h3 class="counter__text-2">BUSINESSES</h3>
                        </div>
                    </div>
                    <div class="w-md-20">
                        <div class="counter__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                            <h3 class="counter__text-2"><br /></h3>
                            <div class="counter-active counter__number-2">58%</div>
                            <h3 class="counter__text-2">CUSTOMER RETENTION</h3>
                        </div>
                    </div>
                    <div class="w-md-20">
                        <div class="counter__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                            <h3 class="counter__text-2"><br /></h3>
                            <div class="counter-active counter__number-2">15+</div>
                            <h3 class="counter__text-2">Industry Verticals</h3>
                        </div>
                    </div>
                    <div class="w-md-20">
                        <div class="counter__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.75s">
                            <h3 class="counter__text-2"><br /></h3>
                            <div class="counter-active counter__number-2">600+</div>
                            <h3 class="counter__text-2"> Experienced Professionals</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/imgs/hero/overlay-2.png" alt="overlay" class="overlay">
        <img src="assets/imgs/shape/1.png" alt="shape" class="shape-1">
        <img src="assets/imgs/shape/2.png" alt="shape" class="shape-2">
        <img src="assets/imgs/shape/3.png" alt="shape" class="shape-3">
        <img src="assets/imgs/shape/3.png" alt="shape" class="shape-4">
    </section>
    <!-- Counter area end -->

    <!-- Experience area start -->
    <section class="experience__area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="experience__left">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Skills &
                            Experiences
                        </h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">People
                            Compare To <br>
                            Our Team Leaders & <br> <span>Their Skills.</span></h3>
                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">There are many
                            variations of
                            passages of Lorem Ipsum available, the majority have suffered alteration in
                            some form, by injected humour. randomised words which don't look even slightly believable.
                            It uses a
                            dictionary of over 200 Latin words, combined with </p>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="experience__right">
                        <div class="experience__item wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                            <div class="exp-active" data-width="90" data-target="100">Branding Designs</div>
                        </div>
                        <div class="experience__item wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            <div class="exp-active" data-width="70" data-target="100">Marketing</div>
                        </div>
                        <div class="experience__item wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                            <div class="exp-active" data-width="95" data-target="100">Marketing</div>
                        </div>
                        <div class="experience__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                            <div class="exp-active" data-width="80" data-target="100">Corporate Solution</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Experience area end -->

    <!-- Testimonial area start -->
    <section class="testimonial__area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="sec-title-wrap">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            Testimonials</h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Customer's
                            Awesome <br>
                            <span>Feedback.</span>
                        </h3>
                    </div>
                    <div class="testimonial__slider-wrap">
                        <div class="swiper testimonial__slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial__slide">
                                        <img src="assets/imgs/testimonial/1.jpg" alt="Client"
                                            class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">Donec
                                            scelerisque dolor id
                                            nunc dictum, interdum gravida mauris rhoncus. Aliquam at ultrices
                                            nunc. In sem leo, fermentum at lorem in, porta finibus mauris. Aliquam
                                            consectetur, ex in gravida
                                            porttitor. There are many variations of passages </p>
                                        <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                            data-wow-delay="0.7s">Nirob
                                            Aronno</h4>
                                        <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                            data-wow-delay="0.9s">
                                            Marketing Manager</h5>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial__slide">
                                        <img src="assets/imgs/testimonial/2.jpg" alt="Client"
                                            class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">Donec
                                            scelerisque dolor id
                                            nunc dictum, interdum gravida mauris rhoncus. Aliquam at ultrices
                                            nunc. In sem leo, fermentum at lorem in, porta finibus mauris. Aliquam
                                            consectetur, ex in gravida
                                            porttitor. There are many variations of passages </p>
                                        <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                            data-wow-delay="0.7s">Jonathon
                                            Fedrik</h4>
                                        <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                            data-wow-delay="0.9s">
                                            Marketing Manager</h5>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial__slide">
                                        <img src="assets/imgs/testimonial/3.jpg" alt="Client"
                                            class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">Donec
                                            scelerisque dolor id
                                            nunc dictum, interdum gravida mauris rhoncus. Aliquam at ultrices
                                            nunc. In sem leo, fermentum at lorem in, porta finibus mauris. Aliquam
                                            consectetur, ex in gravida
                                            porttitor. There are many variations of passages </p>
                                        <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                            data-wow-delay="0.7s">Samrat
                                            Devnath </h4>
                                        <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                            data-wow-delay="0.9s">
                                            Marketing Manager</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-pagination wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.8s">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial area end -->

    <!-- Process area start -->
    <section class="process__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="process__content">
                        <h2 class="process__title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Our
                            Working Process
                            With Team Leaders</h2>
                        <button data-bs-toggle="modal" data-bs-target="#workProcessModal"
                            class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s"><img
                                src="assets/imgs/work-process/1.png" alt="Icon"></button>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Process area end -->

    <!-- Modal -->
    <div class="modal fade modal__wkprocess" id="workProcessModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="modal-close" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
                <div class="modal-body">
                    <iframe src="https://www.youtube.com/embed/CH50zuS8DD0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Brand area start -->
    <div class="brand__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="brand__list">
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                            <img src="assets/imgs/brand/1.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            <img src="assets/imgs/brand/2.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                            <img src="assets/imgs/brand/3.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                            <img src="assets/imgs/brand/4.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.75s">
                            <img src="assets/imgs/brand/2.png" alt="Brand Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Brand area end -->

    <!-- Faq area start -->
    <section class="faq__area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="faq__left wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <h2 class="sec-sub-title">FAQs</h2>
                        <h3 class="sec-title">Frequently <br> <span>asking questions.</span></h3>
                        <p>There are many variations of passages of Lorem Ipsum available, the majority have suffered
                            alteration in
                            some form, by injected humour. randomised words which don't look even slightly believable.
                            It uses a
                            dictionary of over 200 Latin words, combined with </p>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="faq__right">

                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                <h2 class="" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        showing and hiding via CSS transitions
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>This is the third item's accordion body. It is hidden by default, until the
                                            collapse plugin adds the appropriate classes that we use to style each
                                            element. These classes
                                            control the overall appearance, as well as the showing and hiding via CSS
                                            transitions. You can
                                            modify any of this with custom CSS or overriding our default variables.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                <h2 class="" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        custom CSS or overriding our default variables
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>This is the third item's accordion body. It is hidden by default, until the
                                            collapse plugin adds the appropriate classes that we use to style each
                                            element. These classes
                                            control the overall appearance, as well as the showing and hiding via CSS
                                            transitions.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                                <h2 class="" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        showing and hiding via CSS transitions
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>This is the third item's accordion body. It is hidden by default, until the
                                            collapse plugin adds the appropriate classes that we use to style each
                                            element.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                                <h2 class="" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        we use to style each element
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>This is the third item's accordion body. It is hidden by default, until the
                                            collapse plugin adds the appropriate classes that we use to style each
                                            element.</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq area end -->

    <%- include('partials/footer'); -%>