<%- include('partials/header'); -%>
    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            We are Pioneers.
                        </h1>
                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s"><a href="/">Home</a>
                            <span>Services</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Breadcrumb area end -->


    <!-- Video area start -->
    <section class="video__area pt-5">
        <div class="container">
            <div class="video__top">
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="video__left">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">We
                                Promise For
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Great
                                <span>Solutions</span> for your Business.

                            </h3>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="video__right wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">
                            <p>We are the partners who have equal share holding in driving the streamlining of business
                                operations. We constantly endeavor to outperform setting new benchmarks of service
                                delivery from client-to-client.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xxl-12">
                <div class="video__wrap wow animate__animated animate__zoomIn" data-wow-delay="0.2s">
                    <img src="assets/imgs/service/1.png" alt="Service full image">
                </div>
            </div> -->
        </div>
    </section>
    <!-- Video area end -->


    <%- include('partials/services'); -%>


        <!-- Hire area start -->
        <section class="hire__area">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="hire__content">
                            <h2 class="hire__title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Do You
                                Have a Project
                                In Your Mind ?</h2>
                            <a href="/contact" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">CONTACT US NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
        </section>
        <!-- Hire area end -->

        <!-- Testimonial area start -->
        <%- include('partials/testimonial'); -%>
            <!-- Testimonial area end -->

            <!-- Price area start pt-130-->
            <!-- <section class="package__area">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="sec-title-wrap">
                                <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                    Pricing
                                    Plans</h2>
                                <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">We
                                    Made
                                    The
                                    Plans <br>
                                    <span>For You.</span>
                                </h3>
                            </div>
                            <div class="package__duration wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.6s">
                                <div class="monthly">
                                    <p>MONTHLY</p>
                                </div>
                                <div class="pkg-btn">
                                    <input type="checkbox" name="package" class="price-type">
                                </div>
                                <div class="yearly">
                                    <p>YEARLY</p>
                                </div>
                            </div>
                            <div class="package__list">
                                <div class="package__type starter wow animate__animated animate__fadeInUp"
                                    data-wow-delay="0.2s">
                                    <div class="package__top">
                                        <div class="package__title-wrap">
                                            <h4 class="package__title">Starter</h4>
                                            <h5 class="package__sub-title">Monthly Package</h5>
                                        </div>
                                        <div class="package__price">$<span class="monthly_price">39</span><span
                                                class="yearly_price">59</span>
                                        </div>
                                    </div>
                                    <div class="package__feature">
                                        <ul>
                                            <li>Strategy & Research</li>
                                            <li>SEO Optimization</li>
                                            <li>Business & Finance Analyzing</li>
                                            <li class="disabled">Website Design</li>
                                            <li class="disabled">Website Development</li>
                                            <li class="disabled">10 Email Address</li>
                                        </ul>
                                        <a href="price-2.html" class="plan-2">Choose Plan</a>
                                    </div>
                                </div>
                                <div class="package__type standard wow animate__animated animate__fadeInUp"
                                    data-wow-delay="0.4s">
                                    <div class="package__top">
                                        <div class="package__title-wrap">
                                            <h4 class="package__title">standard</h4>
                                            <h5 class="package__sub-title">Monthly Package</h5>
                                        </div>
                                        <div class="package__price">$<span class="monthly_price">59</span><span
                                                class="yearly_price">99</span>
                                        </div>
                                    </div>
                                    <div class="package__feature">
                                        <ul>
                                            <li>Strategy & Research</li>
                                            <li>SEO Optimization</li>
                                            <li>Business & Finance Analyzing</li>
                                            <li>Website Design</li>
                                            <li class="disabled">Website Development</li>
                                            <li class="disabled">10 Email Address</li>
                                        </ul>
                                        <a href="price-2.html" class="plan">Choose Plan</a>
                                    </div>
                                </div>
                                <div class="package__type premium wow animate__animated animate__fadeInUp"
                                    data-wow-delay="0.6s">
                                    <div class="package__top">
                                        <div class="package__title-wrap">
                                            <h4 class="package__title">premium</h4>
                                            <h5 class="package__sub-title">Monthly Package</h5>
                                        </div>
                                        <div class="package__price">$<span class="monthly_price">99</span><span
                                                class="yearly_price">149</span>
                                        </div>
                                    </div>
                                    <div class="package__feature">
                                        <ul>
                                            <li>Strategy & Research</li>
                                            <li>SEO Optimization</li>
                                            <li>Business & Finance Analyzing</li>
                                            <li>Website Design</li>
                                            <li>Website Development</li>
                                            <li>10 Email Address</li>
                                        </ul>
                                        <a href="price-2.html" class="plan-2">Choose Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- Price area end -->


            <!-- Brand area start -->
            <!-- <section class="brand__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="brand__list">
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                            <img src="assets/imgs/brand/1.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            <img src="assets/imgs/brand/2.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                            <img src="assets/imgs/brand/3.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                            <img src="assets/imgs/brand/4.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.75s">
                            <img src="assets/imgs/brand/2.png" alt="Brand Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
            <!-- Brand area end -->
            <%- include('partials/footer'); -%>