<%- include('partials/header'); -%>
    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            Services</h1>
                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s"><a
                                href="index.html">Home</a>
                            <span>Services</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Breadcrumb area end -->


    <!-- Video area start -->
    <section class="video__area pt-100 pb-100">
        <div class="container">
            <div class="video__top">
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="video__left">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">We
                                Promise For
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Quality
                                & Amazing <br>
                                Global <span>Services.</span></h3>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="video__right wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">
                            <p>There are many variations of passages of Lorem Ipsum available, the majority have
                                suffered alteration
                                in
                                some form, by injected humour. randomised words which don't look even slightly
                                believable. It uses a
                                dictionary of over 200 Latin words, combined with </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-12">
                <div class="video__wrap wow animate__animated animate__zoomIn" data-wow-delay="0.2s">
                    <img src="assets/imgs/service/1.png" alt="Service full image">
                </div>
            </div>
        </div>
    </section>
    <!-- Video area end -->


    <!-- Service area start -->
    <section class="service__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="sec-title-wrap">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Our
                            Services
                        </h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">We make a
                            difference to your
                            <br>
                            <span>Financial Verticals.</span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/accounting-service">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg fill='url("#a")' width="33.878" height="33.878" version="1.1" id="Capa_1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 60 60" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M59,20H29c-0.6,0-1,0.4-1,1v38c0,0.6,0.4,1,1,1h30c0.6,0,1-0.4,1-1V21C60,20.4,59.6,20,59,20z M58,22v6H30
			c0-0.6,0-1.6,0-2h12v-2H30c0-0.2,0-2,0-2H58z M30,58c0,0,0-18.3,0-28h28v28H30z" />
                                                <rect x="35" y="32" width="3" height="2" />
                                                <rect x="40" y="32" width="3" height="2" />
                                                <rect x="45" y="32" width="3" height="2" />
                                                <rect x="50" y="32" width="3" height="2" />
                                                <rect x="33" y="37" width="4" height="2" />
                                                <rect x="39" y="37" width="4" height="2" />
                                                <rect x="45" y="37" width="4" height="2" />
                                                <rect x="51" y="37" width="4" height="2" />
                                                <rect x="33" y="41" width="4" height="2" />
                                                <rect x="39" y="41" width="4" height="2" />
                                                <rect x="45" y="41" width="4" height="2" />
                                                <rect x="51" y="41" width="4" height="2" />
                                                <rect x="33" y="45" width="4" height="2" />
                                                <rect x="39" y="45" width="4" height="2" />
                                                <rect x="45" y="45" width="4" height="2" />
                                                <rect x="51" y="45" width="4" height="2" />
                                                <rect x="33" y="49" width="4" height="2" />
                                                <rect x="39" y="49" width="4" height="2" />
                                                <rect x="45" y="49" width="4" height="2" />
                                                <rect x="51" y="49" width="4" height="2" />
                                                <rect x="33" y="53" width="4" height="2" />
                                                <rect x="39" y="53" width="4" height="2" />
                                                <rect x="45" y="53" width="4" height="2" />
                                                <rect x="51" y="53" width="4" height="2" />
                                                <path
                                                    d="M2,14h11c0.6,0,1-0.4,1-1V2h34v14h2V1c0-0.6-0.4-1-1-1H13l0,0c-0.1,0-0.2,0-0.3,0.1h-0.1c-0.1,0.1-0.2,0.1-0.3,0.2l-12,12
			c-0.1,0.1-0.1,0.2-0.2,0.3v0.1C0.1,12.8,0,12.9,0,13l0,0v11h2C2,24,2,15.1,2,14z M12,12H3.4l4.3-4.3L12,3.4L12,12L12,12z" />
                                                <path d="M25,43H14v-4v-5v-5c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v5v5v5v5v5v5c0,0.6,0.4,1,1,1h12h12c0.6,0,1-0.4,1-1v-5v-5v-5
			C26,43.4,25.6,43,25,43z M2,45h10v3H2V45z M12,43H2v-3h10V43z M12,38H2v-3h10V38z M2,50h10v3H2V50z M14,50h10v3H14V50z M24,48H14
			v-3h10V48z M2,30h10v3H2V30z M2,55h10v3H2V55z M24,58H14v-3h10V58z" />
                                                <rect x="38" y="5" width="7" height="2" />
                                                <rect x="27" y="10" width="18" height="2" />
                                                <rect x="44" y="24" width="3" height="2" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Accounting</h3>
                                <p>Reliable and efficient financial services with high-quality analysis in presenting
                                    reports with respect to the latest reporting standards.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            <span>01</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/bookkeeping-service">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg fill='url("#a")' width="33.871" height="33.878" version="1.1"
                                        viewBox="85 0 550 550" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g>
                                            <path
                                                d="m131.25 437.5v-360.32l-26.25-5.25v419.46l188.03 32.375-156.94-78.383c-2.9805-1.4883-4.8594-4.543-4.8398-7.875z" />
                                            <path
                                                d="m551.25 432.09v-391.69l-192.5 96.25v58.758h-17.5v-58.758l-192.5-96.25v391.69l192.5 96.25v-64.594h17.5v64.594zm-122.5-28.945h17.5v2.7383c1.0508 6.9453 7.3398 11.859 14.332 11.199h6.3359c6.9922 0.66016 13.281-4.2539 14.332-11.199-0.66016-5.8828-5.3984-10.469-11.297-10.938l-15.391-2.625c-9.5859-0.76953-18.125-6.3555-22.664-14.832-4.543-8.4766-4.4609-18.68 0.21094-27.086 4.6719-8.4023 13.293-13.859 22.891-14.477v-12.18h17.5v12.18c7.0078 0.82422 13.492 4.1094 18.301 9.2695 4.8086 5.1641 7.625 11.867 7.9492 18.914v2.7383h-17.5v-2.7383c-1.0508-6.9453-7.3398-11.859-14.332-11.199h-6.3359c-6.9922-0.66016-13.281 4.2539-14.332 11.199 0.66016 5.8828 5.3984 10.469 11.297 10.938l15.391 2.625c9.5859 0.76953 18.125 6.3555 22.664 14.832 4.543 8.4766 4.4609 18.68-0.21094 27.086-4.6719 8.4023-13.293 13.859-22.891 14.477v12.18h-17.5v-12.18c-7.0078-0.82422-13.492-4.1094-18.301-9.2695-4.8086-5.1641-7.625-11.867-7.9492-18.914zm-87.5 25.602v-201.25h17.5v201.25z" />
                                            <path
                                                d="m568.75 77.176v360.32c0.019531 3.332-1.8594 6.3867-4.8398 7.875l-156.94 78.426 188.03-32.418v-419.46z" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Book Keeping</h3>
                                <p>Experienced professionals carry the perfect books for your business. Get the answers
                                    to all your inquiries in our bookkeeper's combined years of experience.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <span>02</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/legal-compliances">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg fill='url("#a")' width="33.878" height="33.875" viewBox="0 0 1024 1024"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M805.504 320 640 154.496V320h165.504zM832 384H576V128H192v768h640V384zM160 64h480l256 256v608a32 32 0 0 1-32 32H160a32 32 0 0 1-32-32V96a32 32 0 0 1 32-32zm318.4 582.144 180.992-180.992L704.64 510.4 478.4 736.64 320 578.304l45.248-45.312L478.4 646.144z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Legal Compliances</h3>
                                <p>Get your legal compliances checked by the global end-to-end Discovery and legal
                                    technology solutions provider.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <span>03</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/ipr-service">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33.878" height="33.746"
                                        viewbox="425.061 2394.127 33.878 33.746">
                                        <g data-name="001-web-development">
                                            <path
                                                d="M33.878 8.94V3.978A2.98 2.98 0 0 0 30.9 1H2.978A2.98 2.98 0 0 0 0 3.978V8.94h33.878ZM22.894 4.97h5.955a.993.993 0 0 1 0 1.985h-5.955a.993.993 0 0 1 0-1.985Zm-9.925 0a.993.993 0 1 1 0 1.985.993.993 0 0 1 0-1.985Zm-3.97 0a.993.993 0 1 1 0 1.985.993.993 0 0 1 0-1.985Zm-3.97 0a.993.993 0 1 1 0 1.985.993.993 0 0 1 0-1.985Z"
                                                fill-rule="evenodd" fill="url(&quot;#a&quot;)"
                                                transform="translate(425.061 2393.127)" data-name="Path 92"></path>
                                            <path
                                                d="M0 151v20.843a2.98 2.98 0 0 0 2.978 2.977H30.9a2.98 2.98 0 0 0 2.978-2.977V151H0Zm11.604 14.113a.992.992 0 1 1-1.24 1.55l-4.963-3.97a.993.993 0 0 1 0-1.55l4.963-3.97a.993.993 0 0 1 1.24 1.55l-3.994 3.195 3.994 3.195Zm9.225-9.752-5.955 13.895a.992.992 0 1 1-1.825-.782l5.955-13.895a.993.993 0 0 1 1.825.782Zm7.648 7.332-4.963 3.97a.992.992 0 1 1-1.24-1.55l3.994-3.195-3.994-3.195a.992.992 0 1 1 1.24-1.55l4.963 3.97a.993.993 0 0 1 0 1.55Z"
                                                fill-rule="evenodd" fill="url(&quot;#b&quot;)"
                                                transform="translate(425.061 2253.052)" data-name="Path 93"></path>
                                        </g>
                                        <defs>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="a5">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="b5">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                        </defs>
                                    </svg>

                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">IPR</h3>
                                <p>Specialized IP experts with domestic and international experience in any aspect of
                                    patent, trademark, licensing, and litigation.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <span>04</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/valuation-service">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33.878" height="33.746"
                                        viewbox="425.061 2394.127 33.878 33.746">
                                        <g data-name="001-web-development">
                                            <path
                                                d="M33.878 8.94V3.978A2.98 2.98 0 0 0 30.9 1H2.978A2.98 2.98 0 0 0 0 3.978V8.94h33.878ZM22.894 4.97h5.955a.993.993 0 0 1 0 1.985h-5.955a.993.993 0 0 1 0-1.985Zm-9.925 0a.993.993 0 1 1 0 1.985.993.993 0 0 1 0-1.985Zm-3.97 0a.993.993 0 1 1 0 1.985.993.993 0 0 1 0-1.985Zm-3.97 0a.993.993 0 1 1 0 1.985.993.993 0 0 1 0-1.985Z"
                                                fill-rule="evenodd" fill="url(&quot;#a&quot;)"
                                                transform="translate(425.061 2393.127)" data-name="Path 92"></path>
                                            <path
                                                d="M0 151v20.843a2.98 2.98 0 0 0 2.978 2.977H30.9a2.98 2.98 0 0 0 2.978-2.977V151H0Zm11.604 14.113a.992.992 0 1 1-1.24 1.55l-4.963-3.97a.993.993 0 0 1 0-1.55l4.963-3.97a.993.993 0 0 1 1.24 1.55l-3.994 3.195 3.994 3.195Zm9.225-9.752-5.955 13.895a.992.992 0 1 1-1.825-.782l5.955-13.895a.993.993 0 0 1 1.825.782Zm7.648 7.332-4.963 3.97a.992.992 0 1 1-1.24-1.55l3.994-3.195-3.994-3.195a.992.992 0 1 1 1.24-1.55l4.963 3.97a.993.993 0 0 1 0 1.55Z"
                                                fill-rule="evenodd" fill="url(&quot;#b&quot;)"
                                                transform="translate(425.061 2253.052)" data-name="Path 93"></path>
                                        </g>
                                        <defs>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="a5">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="b5">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Valuation Part</h3>
                                <p>Get an insightful analysis and a detailed review of the facts about your business
                                    from professionals with expertise in your industry and goals.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <span>05</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/payroll-service">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.7s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33.878" height="33.878"
                                        viewbox="425.061 2061.061 33.878 33.878">
                                        <g data-name="vector">
                                            <g data-name="Group 68">
                                                <g data-name="Group 67">
                                                    <path
                                                        d="M32.885 0H28.85a.992.992 0 0 0-.992.993v.992h-8.123A2.973 2.973 0 0 0 16.939 0a2.973 2.973 0 0 0-2.795 1.985H6.021V.993A.992.992 0 0 0 5.03 0H.993A.992.992 0 0 0 0 .993v3.97c0 .548.444.992.993.992h4.036a.992.992 0 0 0 .992-.992V3.957h4.076C6.653 6.109 4.382 9.888 4.11 14.12a2.972 2.972 0 0 0-2.059 2.818 2.98 2.98 0 0 0 2.978 2.978 2.98 2.98 0 0 0 2.977-2.978 2.976 2.976 0 0 0-1.915-2.773c.34-4.72 3.632-8.697 8.213-9.832a2.97 2.97 0 0 0 2.635 1.621 2.97 2.97 0 0 0 2.635-1.621c4.58 1.135 7.874 5.113 8.212 9.832a2.976 2.976 0 0 0-1.914 2.773 2.98 2.98 0 0 0 2.977 2.978 2.98 2.98 0 0 0 2.978-2.978c0-1.32-.868-2.428-2.06-2.818-.27-4.233-2.542-8-5.987-10.15h4.077v.992c0 .548.444.992.992.992h4.036a.992.992 0 0 0 .993-.992V.993A.992.992 0 0 0 32.885 0Z"
                                                        fill-rule="evenodd" fill="url(&quot;#a&quot;)"
                                                        transform="translate(425.061 2061.061)" data-name="Path 88">
                                                    </path>
                                                </g>
                                            </g>
                                            <g data-name="Group 70">
                                                <g data-name="Group 69">
                                                    <path
                                                        d="M166.842 453.805c-.519-1.588-2.015-2.805-3.775-2.805h-5.955c-1.76 0-3.256 1.217-3.775 2.805-.2.613.321 1.231.966 1.231h11.574c.644 0 1.165-.618.965-1.23Z"
                                                        fill-rule="evenodd" fill="url(&quot;#b&quot;)"
                                                        transform="translate(281.91 1639.903)" data-name="Path 89">
                                                    </path>
                                                </g>
                                            </g>
                                            <g data-name="Group 72">
                                                <g data-name="Group 71">
                                                    <path
                                                        d="m138.698 143.12-7.773-11.661v9.416a2.973 2.973 0 0 1 1.985 2.795 2.98 2.98 0 0 1-2.977 2.977 2.98 2.98 0 0 1-2.978-2.977c0-1.293.832-2.384 1.985-2.795v-9.416l-7.773 11.66a.992.992 0 0 0 .124 1.252c1.822 1.823 2.986 4.17 3.436 6.688a5.91 5.91 0 0 1 2.228-.442h5.955c.789 0 1.539.162 2.228.442.45-2.518 1.614-4.865 3.436-6.688a.992.992 0 0 0 .124-1.252Z"
                                                        fill-rule="evenodd" fill="url(&quot;#c&quot;)"
                                                        transform="translate(312.067 1938.3)" data-name="Path 90">
                                                    </path>
                                                </g>
                                            </g>
                                            <g data-name="Group 74">
                                                <g data-name="Group 73">
                                                    <path
                                                        d="M241.993 301a.993.993 0 1 0 .001 1.986.993.993 0 0 0-.001-1.986Z"
                                                        fill-rule="evenodd" fill="url(&quot;#d&quot;)"
                                                        transform="translate(200.007 1779.978)" data-name="Path 91">
                                                    </path>
                                                </g>
                                            </g>
                                        </g>
                                        <defs>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="a6">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="b6">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="c6">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="d6">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Payroll - Complete</h3>
                                <p>Manage your operational and mandatory payroll processes consistently and effectively
                                    with proven processes.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <span>06</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/labour-compliances">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33.878" height="33.878"
                                        viewbox="425.061 2061.061 33.878 33.878">
                                        <g data-name="vector">
                                            <g data-name="Group 68">
                                                <g data-name="Group 67">
                                                    <path
                                                        d="M32.885 0H28.85a.992.992 0 0 0-.992.993v.992h-8.123A2.973 2.973 0 0 0 16.939 0a2.973 2.973 0 0 0-2.795 1.985H6.021V.993A.992.992 0 0 0 5.03 0H.993A.992.992 0 0 0 0 .993v3.97c0 .548.444.992.993.992h4.036a.992.992 0 0 0 .992-.992V3.957h4.076C6.653 6.109 4.382 9.888 4.11 14.12a2.972 2.972 0 0 0-2.059 2.818 2.98 2.98 0 0 0 2.978 2.978 2.98 2.98 0 0 0 2.977-2.978 2.976 2.976 0 0 0-1.915-2.773c.34-4.72 3.632-8.697 8.213-9.832a2.97 2.97 0 0 0 2.635 1.621 2.97 2.97 0 0 0 2.635-1.621c4.58 1.135 7.874 5.113 8.212 9.832a2.976 2.976 0 0 0-1.914 2.773 2.98 2.98 0 0 0 2.977 2.978 2.98 2.98 0 0 0 2.978-2.978c0-1.32-.868-2.428-2.06-2.818-.27-4.233-2.542-8-5.987-10.15h4.077v.992c0 .548.444.992.992.992h4.036a.992.992 0 0 0 .993-.992V.993A.992.992 0 0 0 32.885 0Z"
                                                        fill-rule="evenodd" fill="url(&quot;#a&quot;)"
                                                        transform="translate(425.061 2061.061)" data-name="Path 88">
                                                    </path>
                                                </g>
                                            </g>
                                            <g data-name="Group 70">
                                                <g data-name="Group 69">
                                                    <path
                                                        d="M166.842 453.805c-.519-1.588-2.015-2.805-3.775-2.805h-5.955c-1.76 0-3.256 1.217-3.775 2.805-.2.613.321 1.231.966 1.231h11.574c.644 0 1.165-.618.965-1.23Z"
                                                        fill-rule="evenodd" fill="url(&quot;#b&quot;)"
                                                        transform="translate(281.91 1639.903)" data-name="Path 89">
                                                    </path>
                                                </g>
                                            </g>
                                            <g data-name="Group 72">
                                                <g data-name="Group 71">
                                                    <path
                                                        d="m138.698 143.12-7.773-11.661v9.416a2.973 2.973 0 0 1 1.985 2.795 2.98 2.98 0 0 1-2.977 2.977 2.98 2.98 0 0 1-2.978-2.977c0-1.293.832-2.384 1.985-2.795v-9.416l-7.773 11.66a.992.992 0 0 0 .124 1.252c1.822 1.823 2.986 4.17 3.436 6.688a5.91 5.91 0 0 1 2.228-.442h5.955c.789 0 1.539.162 2.228.442.45-2.518 1.614-4.865 3.436-6.688a.992.992 0 0 0 .124-1.252Z"
                                                        fill-rule="evenodd" fill="url(&quot;#c&quot;)"
                                                        transform="translate(312.067 1938.3)" data-name="Path 90">
                                                    </path>
                                                </g>
                                            </g>
                                            <g data-name="Group 74">
                                                <g data-name="Group 73">
                                                    <path
                                                        d="M241.993 301a.993.993 0 1 0 .001 1.986.993.993 0 0 0-.001-1.986Z"
                                                        fill-rule="evenodd" fill="url(&quot;#d&quot;)"
                                                        transform="translate(200.007 1779.978)" data-name="Path 91">
                                                    </path>
                                                </g>
                                            </g>
                                        </g>
                                        <defs>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="a1">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="b1">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="c1">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="d1">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Labour Compliances</h3>
                                <p>Minimize risks and ensure compliance as we keep track of changes in regulations and
                                    updates that may need to ensure your ongoing compliance.

                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            <span>07</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/monthly-compliances">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33.871" height="33.878"
                                        viewbox="1228.9 2394.54 33.871 33.878">
                                        <g data-name="003-copywriting">
                                            <path d="M16.214 399.359V392H8.789l7.425 7.359Z" fill-rule="evenodd"
                                                fill="url(&quot;#a&quot;)" transform="translate(1220.693 2028.478)"
                                                data-name="Path 95"></path>
                                            <path
                                                d="m221.609 221.609 1.403 4.211.703.703 2.806-2.808-.702-.702-4.21-1.404Z"
                                                fill-rule="evenodd" fill="url(&quot;#b&quot;)"
                                                transform="translate(1021.955 2187.595)" data-name="Path 96"></path>
                                            <path d="M0 0h3.97v13.278H0V0Z" fill-rule="evenodd"
                                                fill="url(&quot;#c&quot;)"
                                                transform="rotate(-45 3539.33 -297.58) scale(.99985)"
                                                data-name="Path 97">
                                            </path>
                                            <path d="M0 0h3.97v2.978H0V0Z" fill-rule="evenodd"
                                                fill="url(&quot;#d&quot;)"
                                                transform="rotate(-45 3557.75 -305.21) scale(.99985)"
                                                data-name="Path 98">
                                            </path>
                                            <path
                                                d="M25.872 20.258V0H0v23.953h9.991v9.925h15.88v-2.392l-11.54-11.539-2.806-8.423 8.421 2.809 5.926 5.925ZM8.006 3.044h13.896v1.985H8.006V3.044Zm-3.97 0h1.985v1.985H4.036V3.044Zm0 5.955V7.014h17.866v1.985H4.036Z"
                                                fill-rule="evenodd" fill="url(&quot;#e&quot;)"
                                                transform="translate(1228.9 2394.54)" data-name="Path 99"></path>
                                        </g>
                                        <defs>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="a">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="b">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="c">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="d">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="e">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Monthly Compliances</h3>
                                <p>Stay on top of the game every month with the monthly compliance services from our
                                    experts. We help you keep your business run smoothly with legally complaint.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <span>08</span>
                        </div>
                    </a>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <a href="/services/statutory-compliances">
                        <div class="service__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                            <div class="service__left">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33.878" height="33.875"
                                        viewbox="1225.061 2061.062 33.878 33.875">
                                        <g data-name="004-support">
                                            <path
                                                d="M33.852 5.916c-.144-1.637-2.132-2.366-3.296-1.203l-1.662 1.662a.976.976 0 0 1-1.36.014c-.392-.378-.372-1.029.014-1.415l1.635-1.635c1.162-1.162.436-3.15-1.203-3.295-4.454-.392-7.987 3.75-6.806 8.144L.94 28.422a3.204 3.204 0 0 0 0 4.534 3.21 3.21 0 0 0 4.534 0l20.229-20.23c4.34 1.181 8.545-2.315 8.149-6.81Z"
                                                fill-rule="evenodd" fill="url(&quot;#a&quot;)"
                                                transform="translate(1225.061 2061.044)" data-name="Path 85"></path>
                                            <path
                                                d="M4.311 10.055c.048.093.11.179.184.253l2.872 2.872a.992.992 0 0 0 1.403 0l1.461-1.46 2.79 2.79-2.983 2.981a1.989 1.989 0 0 0 .001 2.807l.313.313 10.179-10.178-.313-.313a1.985 1.985 0 0 0-2.808 0l-2.986 2.985-2.79-2.789 1.461-1.46a.992.992 0 0 0 0-1.404L10.223 4.58a.99.99 0 0 0-.256-.186L6.296 2.55a.992.992 0 0 0-1.148.185L2.64 5.244a.992.992 0 0 0-.183 1.15l1.854 3.66Z"
                                                fill-rule="evenodd" fill="url(&quot;#b&quot;)"
                                                transform="translate(1222.867 2058.778)" data-name="Path 86"></path>
                                            <path
                                                d="m265.214 258.046-7.065 7.065 8.114 8.116a4.993 4.993 0 0 0 7.064 0 5 5 0 0 0 0-7.065l-8.113-8.116Zm5.814 12.88a.993.993 0 0 1-1.403 0l-5.634-5.634a.992.992 0 1 1 1.404-1.403l5.633 5.633a.992.992 0 0 1 0 1.404Z"
                                                fill-rule="evenodd" fill="url(&quot;#c&quot;)"
                                                transform="translate(983.993 1820.09)" data-name="Path 87"></path>
                                        </g>
                                        <defs>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="a3">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="b3">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                            <lineargradient x1=".5" y1="0" x2=".5" y2="1" id="c3">
                                                <stop stop-color="#f50366" offset="0"></stop>
                                                <stop stop-color="#fc5904" offset="1"></stop>
                                            </lineargradient>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                            <div class="service__right">
                                <h3 class="service__title">Statutory Compliances</h3>
                                <p>We help you stay ahead of legal curve. Navigate the complex regulations with ease and
                                    protect your business from potential legal pitfalls.
                                </p>
                            </div>
                        </div>
                        <div class="service__serial wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            <span>09</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <!-- Service area end -->


    <!-- Hire area start -->
    <section class="hire__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="hire__content">
                        <h2 class="hire__title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Do You
                            Have a Project
                            In Your Mind ?</h2>
                        <a href="project.html" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                            data-wow-delay="0.4s">HIRE US NOW</a>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Hire area end -->

    <!-- Testimonial area start -->
    <section class="testimonial__area pt-130 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="sec-title-wrap">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            Testimonials</h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Customer's
                            Awesome <br>
                            <span>Feedback.</span>
                        </h3>
                    </div>
                    <div class="testimonial__slider-wrap">
                        <div class="swiper testimonial__slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial__slide">
                                        <img src="assets/imgs/testimonial/1.jpg" alt="Client"
                                            class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">Donec
                                            scelerisque dolor id
                                            nunc dictum, interdum gravida mauris rhoncus. Aliquam at ultrices
                                            nunc. In sem leo, fermentum at lorem in, porta finibus mauris. Aliquam
                                            consectetur, ex in gravida
                                            porttitor. There are many variations of passages </p>
                                        <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                            data-wow-delay="0.7s">Nirob
                                            Aronno</h4>
                                        <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                            data-wow-delay="0.9s">
                                            Marketing Manager</h5>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial__slide">
                                        <img src="assets/imgs/testimonial/2.jpg" alt="Client"
                                            class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">Donec
                                            scelerisque dolor id
                                            nunc dictum, interdum gravida mauris rhoncus. Aliquam at ultrices
                                            nunc. In sem leo, fermentum at lorem in, porta finibus mauris. Aliquam
                                            consectetur, ex in gravida
                                            porttitor. There are many variations of passages </p>
                                        <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                            data-wow-delay="0.7s">Jonathon
                                            Fedrik</h4>
                                        <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                            data-wow-delay="0.9s">
                                            Marketing Manager</h5>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial__slide">
                                        <img src="assets/imgs/testimonial/3.jpg" alt="Client"
                                            class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">Donec
                                            scelerisque dolor id
                                            nunc dictum, interdum gravida mauris rhoncus. Aliquam at ultrices
                                            nunc. In sem leo, fermentum at lorem in, porta finibus mauris. Aliquam
                                            consectetur, ex in gravida
                                            porttitor. There are many variations of passages </p>
                                        <h4 class="testimonial__name wow animate__animated animate__fadeInUp"
                                            data-wow-delay="0.7s">Samrat
                                            Devnath </h4>
                                        <h5 class="testimonial__role wow animate__animated animate__fadeInUp"
                                            data-wow-delay="0.9s">
                                            Marketing Manager</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-pagination wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.8s"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial area end -->

    <!-- Price area start pt-130-->
    <section class="package__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="sec-title-wrap">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Pricing
                            Plans</h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">We Made The
                            Plans <br>
                            <span>For You.</span>
                        </h3>
                    </div>
                    <div class="package__duration wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <div class="monthly">
                            <p>MONTHLY</p>
                        </div>
                        <div class="pkg-btn">
                            <input type="checkbox" name="package" class="price-type">
                        </div>
                        <div class="yearly">
                            <p>YEARLY</p>
                        </div>
                    </div>
                    <div class="package__list">
                        <div class="package__type starter wow animate__animated animate__fadeInUp"
                            data-wow-delay="0.2s">
                            <div class="package__top">
                                <div class="package__title-wrap">
                                    <h4 class="package__title">Starter</h4>
                                    <h5 class="package__sub-title">Monthly Package</h5>
                                </div>
                                <div class="package__price">$<span class="monthly_price">39</span><span
                                        class="yearly_price">59</span>
                                </div>
                            </div>
                            <div class="package__feature">
                                <ul>
                                    <li>Strategy & Research</li>
                                    <li>SEO Optimization</li>
                                    <li>Business & Finance Analyzing</li>
                                    <li class="disabled">Website Design</li>
                                    <li class="disabled">Website Development</li>
                                    <li class="disabled">10 Email Address</li>
                                </ul>
                                <a href="price-2.html" class="plan-2">Choose Plan</a>
                            </div>
                        </div>
                        <div class="package__type standard wow animate__animated animate__fadeInUp"
                            data-wow-delay="0.4s">
                            <div class="package__top">
                                <div class="package__title-wrap">
                                    <h4 class="package__title">standard</h4>
                                    <h5 class="package__sub-title">Monthly Package</h5>
                                </div>
                                <div class="package__price">$<span class="monthly_price">59</span><span
                                        class="yearly_price">99</span>
                                </div>
                            </div>
                            <div class="package__feature">
                                <ul>
                                    <li>Strategy & Research</li>
                                    <li>SEO Optimization</li>
                                    <li>Business & Finance Analyzing</li>
                                    <li>Website Design</li>
                                    <li class="disabled">Website Development</li>
                                    <li class="disabled">10 Email Address</li>
                                </ul>
                                <a href="price-2.html" class="plan">Choose Plan</a>
                            </div>
                        </div>
                        <div class="package__type premium wow animate__animated animate__fadeInUp"
                            data-wow-delay="0.6s">
                            <div class="package__top">
                                <div class="package__title-wrap">
                                    <h4 class="package__title">premium</h4>
                                    <h5 class="package__sub-title">Monthly Package</h5>
                                </div>
                                <div class="package__price">$<span class="monthly_price">99</span><span
                                        class="yearly_price">149</span>
                                </div>
                            </div>
                            <div class="package__feature">
                                <ul>
                                    <li>Strategy & Research</li>
                                    <li>SEO Optimization</li>
                                    <li>Business & Finance Analyzing</li>
                                    <li>Website Design</li>
                                    <li>Website Development</li>
                                    <li>10 Email Address</li>
                                </ul>
                                <a href="price-2.html" class="plan-2">Choose Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Price area end -->


    <!-- Brand area start -->
    <section class="brand__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="brand__list">
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                            <img src="assets/imgs/brand/1.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            <img src="assets/imgs/brand/2.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                            <img src="assets/imgs/brand/3.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                            <img src="assets/imgs/brand/4.png" alt="Brand Logo">
                        </div>
                        <div class="brand__item wow animate__animated animate__fadeInUp" data-wow-delay="0.75s">
                            <img src="assets/imgs/brand/2.png" alt="Brand Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Brand area end -->
    <%- include('partials/footer'); -%>