<%- include('../partials/header'); -%>
    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area" style="background-image: url('/assets/imgs/corporate\ secretarial/1.Home.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__title">Limited Liability Partnership (LLP) Registration
                        </h1>
                        <p><a href="/">Home</a> <a href="/startup">Startup</a> <span>LLP
                                Registration</span></p>
                    </div>
                </div>
            </div>
        </div>
        <img src="/assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Breadcrumb area end -->

    <style scoped>
        table td:first-child {
            font-weight: bold;
        }

        @media (max-width: 767px) {
            table tr {
                display: block;
                margin-bottom: 30px;
            }
        }
    </style>

    <div class="container py-5">
        <div class="row">
            <div class="col-md-6" style="align-self: center;">
                <%- include('../partials/how-it-works'); -%>
            </div>
            <div class="col-md-6 align-self-center">
                <form class="p-3" id="startup-contact-form">
                    <div class="form-group mb-3">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="phone">Mobile:</label>
                        <input type="tel" class="form-control" id="phone" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <input type="hidden" id="subject" value="LLP Registration - New Form Submission">
                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>


    <!-- Process area start -->
    <section class="process__area-2 steps-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 align-self-center">
                    <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Make your
                        mark
                        on the world. </h2>
                    <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">LLP registration
                        for a secure and flexible business structure!
                    </h3>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 align-self-center">
                    <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">As the name conveys, a
                        Limited Liability Company is an independent entity with the flexibility of changing partners. It
                        is a body of corporate registered under the LLP Act, 2008. Small businesses are recommended to
                        register under this as they are easy to maintain and cost-effective. LLP-registered companies
                        cannot raise capital from the public as there is no equity distribution allowed for this type of
                        firm.
                    </p>
                    <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.8s">The main object behind
                        this is to ensure that the partner should not be liable for the acts of negligence of other
                        partners. LLP is for people who want to run the business risk-free and are not willing to raise
                        external funding.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Process area end -->

    <!-- About area start -->
    <section class="about__area  py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__left">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            Overview of </h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Limited
                            Liability Proprietorship
                            <span></span>
                        </h3>
                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">LLP is a hybrid company
                            that allows only its members to avail the benefits of a company as well as a partnership
                            firm. In India, LLP registration was bought into action in 2009 according to the LLP act
                            2008. LLP registration is administered by the Ministry of Corporate Affairs (MCA) through
                            the Office of the Registrar of Companies. The time taken for LLP registration depends on the
                            verification process. At most after 14 days of submitting Form-2, an LLP incorporation
                            certificate is issued in Form-16.
                            <br /><br />Though LLP is not associated with a limited partnership, it carries out the same
                            operations. In LLP-registered firms, the Liability of one partner will not affect the other
                            partners and no partner is responsible for the other partner’s fraud or mistake or the loss
                            incurred. A Limited Liability Partnership (LLP) is a form of business structure that
                            combines the benefits of a traditional partnership with the protection of limited liability.
                            In an LLP, the partners are not personally liable for the debts and obligations of the
                            business. Instead, their liability is limited to their investment in the partnership.
                            <br /><br />Get your company registered online with Deepwork. Just give us your details and
                            our expert team will contact you to explain the process. Find a hassle-free solution for
                            Private Limited company registrations.
                        </p>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__right">
                        <div class="about__right-inner">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Assured
                                Benefits
                                <span></span>
                            </h3>
                            <style>
                                .from-left {
                                    /* grid-column: 2 / 3; */
                                    -webkit-transform: translateX(-50%);
                                    transform: translateX(-50%);
                                }

                                .from-right {
                                    /* grid-column: 3 / 4; */
                                    -webkit-transform: translateX(50%);
                                    transform: translateX(50%);
                                }

                                .from-left,
                                .from-right {
                                    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
                                    transition: opacity 250ms ease-in, transform 400ms ease-in;
                                    transition: opacity 250ms ease-in, transform 400ms ease-in,
                                        -webkit-transform 400ms ease-in;
                                    opacity: 0;
                                }

                                .from-left.appear,
                                .from-right.appear {
                                    -webkit-transform: translateX(0);
                                    transform: translateX(0);
                                    opacity: 1;
                                }
                            </style>


                            <ul class="list-check wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                <li class="slide-in from-left">Liability without imposing any comprehensive legal and
                                    procedural requirements.
                                </li>
                                <li class="slide-in from-left">Less compliance & regulation.
                                </li>
                                <li class="slide-in from-left">Secure and Seamless.
                                </li>
                                <li class="slide-in from-left">Perpetual succession- Existence of company even if
                                    partners exit.</li>
                                <li class="slide-in from-left">The liability of the partners depends on their
                                    contribution.
                                </li>
                            </ul>
                            <script>

                                const sliders = document.querySelectorAll(".slide-in");

                                const appearOptions = {
                                    threshold: 0,
                                    rootMargin: "0px 0px -150px 0px"
                                };

                                const appearOnScroll = new IntersectionObserver(function (
                                    entries,
                                    appearOnScroll
                                ) {
                                    entries.forEach(entry => {
                                        if (!entry.isIntersecting) {
                                            return;
                                        } else {
                                            entry.target.classList.add("appear");
                                            appearOnScroll.unobserve(entry.target);
                                        }
                                    });
                                },
                                    appearOptions);
                                sliders.forEach(slider => {
                                    appearOnScroll.observe(slider);
                                });

                            </script>
                            <a href="/services" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">GET IN TOUCH</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <!-- Process -->
    <style scoped>
        .steps-section {
            padding: 40px 20px;
            background-image: -webkit-gradient(linear, left top, right top, from(var(--secondary)), to(var(--primary)));
            background-image: linear-gradient(to right, var(--secondary), var(--primary));
            color: var(--white);
        }

        .steps-section h2 {
            font-weight: 600;
            font-size: 20px;
            color: var(--white-color) !important;
        }

        .steps-section .sec-title-wrap {
            padding-bottom: 0;
        }

        .steps-section .sec-title {
            color: var(--white-color);
        }

        .steps-section p {
            /* font-size: 16px; */
            font-weight: 400;
            color: var(--white);
        }

        .steps-section .steps-container {
            margin-top: 40px;
            color: #fff !important;
        }

        .steps-section .steps-container .step h2 {
            font-weight: 600;
            /* font-size: 16px; */
        }

        .steps-section .steps-container .step h2::after {
            content: '';
            /* font-size: 24px; */
            color: var(--white-color);
            /* border-radius: 50%; */
            float: right;
            margin-left: 5px;
            transform: rotate(135deg);
            /* height: 24px;
    width: 24px; */
            width: 14px;
            height: 14px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            margin-top: 0px;
        }

        .steps-section .steps-container .step.active h2::after {
            content: '';
            /* font-size: 24px; */
            color: var(--white-color);
            /* border-radius: 50%; */
            float: right;
            margin-left: 5px;
            transform: rotate(-45deg);
            /* height: 24px;
    width: 24px; */
            width: 14px;
            height: 14px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            margin-top: 10px;
        }

        .steps-section .steps-container .step p {
            margin-top: 10px;
            display: none;
        }

        .steps-section .steps-container .step.active p {
            display: block;
        }

        .steps-section .steps-container .step {
            margin: 20px 0;
            cursor: pointer;
        }
    </style>
    <section class="steps-section service__area-2 py-5">
        <div class="container">
            <div class="col-xxl-12">
                <div class="sec-title-wrap">
                    <h2 class="sec-sub-title wow animate__ animate__fadeInUp animated" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">The
                        Process of
                    </h2>
                    <h3 class="sec-title wow animate__ animate__fadeInUp animated" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        Incorporation</h3>
                </div>
            </div>
            <div class="steps-container">
                <div class="step active">
                    <h2 class="service__title">Step 1: Obtain DSC, DIN & Name Approval</h2>
                    <div class="service__btm-2">
                        <p>Digital Signature Certificates (DSC) and Digital Identification Numbers (DIN) for all the
                            partners are one of the primaries. Next primary thing is to get the name approval for your
                            company. DSC can be obtained from any authorized certifying authorities. To obtain DIN, the
                            partners have to apply in the SPICe form. Get the name approval by filing the RUN LLP form.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 2: Filing of LLP Incorporation Documents with MCA</h2>
                    <div class="service__btm-2">
                        <p>The next step of the process is to file the FiLLiP form with MCA along with the essential
                            documents. Ensure that all the required documents are attached and attested as per the
                            documentation constraints. These are to be digitally signed with the DSC of all the
                            partners. This process may take 2 to 3 days.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 3: LLP Incorporation Certificate</h2>
                    <div class="service__btm-2">
                        <p>Upon verifying the registration documents, the Registrar of Companies (ROC) will issue a
                            Certificate of Incorporation, confirming that the LLP is registered. This certificate of
                            incorporation will be provided through e-mail that confirms the registration of the company.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 4: Drafting of LLP Deed/LLP Agreement</h2>
                    <div class="service__btm-2">
                        <p>After receiving the incorporation certificate, the company should draft the LLP agreement.
                            This Agreement outlines the terms and conditions governing the partnership, including the
                            rights and duties of the partners, profit-sharing ratio, and capital contribution.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 5: Apply for Your PAN, TAN, & Bank Account</h2>
                    <div class="service__btm-2">
                        <p>You are now a legally authorized company. The next step is to apply for company PAN, TAN, and
                            Bank accounts to continue the operations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        // Steps Section
        const stepsEl = document.querySelectorAll(".steps-section .steps-container .step");
        // Add click event listeners to each list item
        stepsEl.forEach((step) => {
            step.addEventListener('click', () => {
                // Remove the active class from all list items
                stepsEl.forEach(li => li.classList.remove('active'));
                // Add the active class to the clicked list item
                step.classList.add('active');
            });
        });
    </script>
    <!-- Process end -->

    <!-- About area start -->
    <section class="about__area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="sec-title wow animate__animated animate__fadeInUp text-center" data-wow-delay="0.4s">THE
                        <span>TAKEAWAYS</span>
                    </h3>
                    <ul class="list-check wow animate__animated animate__fadeInUp row" style="grid-gap: 0px;"
                        data-wow-delay="0.4s">
                        <li class="col-12 col-md-6 col-lg-4">2 Digital Signature Certificates</li>
                        <li class="col-12 col-md-6 col-lg-4">2 Director Identification Numbers</li>
                        <li class="col-12 col-md-6 col-lg-4">1 Name approval Application under RUN</li>
                        <li class="col-12 col-md-6 col-lg-4">LLP Incorporation certificate</li>
                        <li class="col-12 col-md-6 col-lg-4">PAN
                        </li>
                        <li class="col-12 col-md-6 col-lg-4">Document support for company bank account opening</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <style scoped>
        .faq__area .service__btm-2 ul li,
        .faq__area .service__btm-2 p {
            color: #000;
        }
    </style>

    <!-- Faq area start -->
    <section class="faq__area steps-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="sec-title-wrap">
                                <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">

                                </h2>
                                <h3 class="sec-title wow animate__animated text-center animate__fadeInUp"
                                    data-wow-delay="0.4s">
                                    Basic Requirements for Limited Liability Partnership Company registration
                                </h3>
                            </div>
                        </div>
                    </div>
                    <style scoped>
                        .service__item-2 {
                            margin-bottom: 0;
                            padding: 20px 20px;
                        }

                        .service__item-2 .service__title {
                            padding-bottom: 0;
                        }
                    </style>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                                <div class="">
                                    <h3 class="service__title">At least 2 partners are a must to start LLP in India</h3>
                                </div>
                                <!-- <div class="service__btm-2">
                                    <ul>
                                        <li>✅ Minimum 2 Directors and maximum 15</li>
                                        <li>✅ Minimum 2 Shareholders</li>
                                        <li>✅ For directors, DIN is issued by MCA for each Director</li>
                                    </ul>
                                </div> -->
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.3s">
                                <div class="">
                                    <h3 class="service__title">There should be an agreed contribution to capital from
                                        each partner.</h3>
                                </div>
                                <!-- <div class="service__btm-2">
                                    <p>Consider naming the business reflecting principle activity & private limited
                                        company.</p>
                                </div> -->
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                                <div class="">
                                    <h3 class="service__title">Authorized capital is Rs. 1 Lakh is required </h3>
                                </div>
                                <!-- <div class="service__btm-2">
                                    <p>The permanent address of the business registrar is to be submitted to the company
                                        registrar after the registration process.
                                    </p>
                                </div> -->
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.6s">
                                <div class="">
                                    <h3 class="service__title">DIN of both partners</h3>
                                </div>
                                <!-- <div class="service__btm-2">
                                    <p>Acquire a DSC (Digital Signature Certificate) to validate the legitimacy of
                                        documents submitted electronically. The authorized share capital should be INR
                                        1,00,000.
                                    </p>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.6s">
                                <div class="">
                                    <h3 class="service__title">DSC of one of the partners</h3>
                                </div>
                                <!-- <div class="service__btm-2">
                                    <p>Acquire a DSC (Digital Signature Certificate) to validate the legitimacy of
                                        documents submitted electronically. The authorized share capital should be INR
                                        1,00,000.
                                    </p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq area end -->

    <!-- About area start -->
    <section class="about__area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="sec-title wow animate__animated animate__fadeInUp text-center" data-wow-delay="0.4s">
                        Documents
                        required for
                        <span>Limited Liability Partnership Company registration</span>
                    </h3>
                    <ul class="list-check wow animate__animated animate__fadeInUp row" style="grid-gap: 0px;"
                        data-wow-delay="0.4s">
                        <li class="col-12 col-md-6 col-lg-4">Passport-size photos, PAN Card, of all partners</li>
                        <li class="col-12 col-md-6 col-lg-4">ID Proof (Driving License, Voter ID, Passport) of the
                            partner</li>
                        <li class="col-12 col-md-6 col-lg-4">Address Proof (Utility Bill/Bank Statement, of not more
                            than 2 months old)</li>
                        <li class="col-12 col-md-6 col-lg-4">Business Address Proof of Owned property (Copy of registry
                            and latest electricity or water bill)</li>
                        <li class="col-12 col-md-6 col-lg-4">Business Address Proof of rented property (Copy of rent
                            agreement or latest electricity or water bill)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->
    <script src="/assets/js/contact2.js"></script>
    <%- include('../partials/footer'); -%>