<%- include('../partials/header'); -%>
    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area" style="background-image: url('/assets/imgs/corporate\ secretarial/1.Home.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__title">Empower your social impact with our hassle-free Section 8 company
                            registration services!
                        </h1>
                        <p><a href="/">Home</a> <a href="/startup">Startup</a> <span>NGO
                                Registration</span></p>
                    </div>
                </div>
            </div>
        </div>
        <img src="/assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Breadcrumb area end -->

    <style scoped>
        table td:first-child {
            font-weight: bold;
        }

        @media (max-width: 767px) {
            table tr {
                display: block;
                margin-bottom: 30px;
            }
        }
    </style>

    <div class="container py-5">
        <div class="row">
            <div class="col-md-6" style="align-self: center;">
                <%- include('../partials/how-it-works'); -%>
            </div>
            <div class="col-md-6 align-self-center">
                <form class="p-3" id="startup-contact-form">
                    <div class="form-group mb-3">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="phone">Mobile:</label>
                        <input type="tel" class="form-control" id="phone" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <input type="hidden" id="subject" value="NGO Registration - New Form Submission">
                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>


    <!-- Process area start -->
    <section class="process__area-2 steps-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 align-self-center">
                    <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">NGO/Section
                        8 Company Registration</h2>
                    <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Empower your
                        cause,<br> register your NGO,<br> and make an impact<br> in your community!
                    </h3>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 align-self-center">
                    <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">A Section 8 company is
                        a type of non-profit organization registered under the Companies Act, 2013 of India. It is also
                        known as a Non-Governmental Organization (NGO) or a not-for-profit organization (NPO). The
                        primary objective of a Section 8 company is to promote charitable activities, social welfare,
                        religious activities, education, or any other form of non-profit objectives.
                    </p>
                    <!-- <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.8s">The main object behind
                        this is to ensure that the partner should not be liable for the acts of negligence of other
                        partners. LLP is for people who want to run the business risk-free and are not willing to raise
                        external funding.
                    </p> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Process area end -->

    <!-- About area start -->
    <section class="about__area  py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__left">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            Overview of </h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">NGO
                            Registration
                            <span></span>
                        </h3>
                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">A Section 8 entity must
                            have at least two subscribers and two directors in order to be registered. Also,
                            establishing such a corporation is not required to have a minimum amount of paid-up capital.
                            The main benefit of creating a Section- 8 Corporation is Tax benefits. Since Section-8's
                            goal is nonprofit and public warfare, the government doesn't charge much, which is why the
                            registration fees are little, even with stamp duty.
                            <br /><br />Deepwork professionals make One-Person Company Registrations easier while
                            offering flexible solutions. Our team of experts provides you with the best assistance and
                            timely delivery guaranteeing 100% customer satisfaction.
                        </p>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__right">
                        <div class="about__right-inner">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Assured
                                Benefits
                                <span></span>
                            </h3>
                            <style>
                                .from-left {
                                    /* grid-column: 2 / 3; */
                                    -webkit-transform: translateX(-50%);
                                    transform: translateX(-50%);
                                }

                                .from-right {
                                    /* grid-column: 3 / 4; */
                                    -webkit-transform: translateX(50%);
                                    transform: translateX(50%);
                                }

                                .from-left,
                                .from-right {
                                    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
                                    transition: opacity 250ms ease-in, transform 400ms ease-in;
                                    transition: opacity 250ms ease-in, transform 400ms ease-in,
                                        -webkit-transform 400ms ease-in;
                                    opacity: 0;
                                }

                                .from-left.appear,
                                .from-right.appear {
                                    -webkit-transform: translateX(0);
                                    transform: translateX(0);
                                    opacity: 1;
                                }
                            </style>


                            <ul class="list-check wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                <li class="slide-in from-left">100% tax exemption under u/s 12AA of the IT act
                                </li>
                                <li class="slide-in from-left">A section 8 company holds its own legal identity
                                </li>
                                <li class="slide-in from-left">Greater credibility
                                </li>
                                <li class="slide-in from-left">It is exempted from paying dividends to its members</li>
                            </ul>
                            <script>

                                const sliders = document.querySelectorAll(".slide-in");

                                const appearOptions = {
                                    threshold: 0,
                                    rootMargin: "0px 0px -150px 0px"
                                };

                                const appearOnScroll = new IntersectionObserver(function (
                                    entries,
                                    appearOnScroll
                                ) {
                                    entries.forEach(entry => {
                                        if (!entry.isIntersecting) {
                                            return;
                                        } else {
                                            entry.target.classList.add("appear");
                                            appearOnScroll.unobserve(entry.target);
                                        }
                                    });
                                },
                                    appearOptions);
                                sliders.forEach(slider => {
                                    appearOnScroll.observe(slider);
                                });

                            </script>
                            <a href="/services" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">GET IN TOUCH</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <!-- Process -->
    <style scoped>
        .steps-section {
            padding: 40px 20px;
            background-image: -webkit-gradient(linear, left top, right top, from(var(--secondary)), to(var(--primary)));
            background-image: linear-gradient(to right, var(--secondary), var(--primary));
            color: var(--white);
        }

        .steps-section h2 {
            font-weight: 600;
            font-size: 20px;
            color: var(--white-color) !important;
        }

        .steps-section .sec-title-wrap {
            padding-bottom: 0;
        }

        .steps-section .sec-title {
            color: var(--white-color);
        }

        .steps-section p {
            /* font-size: 16px; */
            font-weight: 400;
            color: var(--white);
        }

        .steps-section .steps-container {
            margin-top: 40px;
            color: #fff !important;
        }

        .steps-section .steps-container .step h2 {
            font-weight: 600;
            /* font-size: 16px; */
        }

        .steps-section .steps-container .step h2::after {
            content: '';
            /* font-size: 24px; */
            color: var(--white-color);
            /* border-radius: 50%; */
            float: right;
            margin-left: 5px;
            transform: rotate(135deg);
            /* height: 24px;
    width: 24px; */
            width: 14px;
            height: 14px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            margin-top: 0px;
        }

        .steps-section .steps-container .step.active h2::after {
            content: '';
            /* font-size: 24px; */
            color: var(--white-color);
            /* border-radius: 50%; */
            float: right;
            margin-left: 5px;
            transform: rotate(-45deg);
            /* height: 24px;
    width: 24px; */
            width: 14px;
            height: 14px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            margin-top: 10px;
        }

        .steps-section .steps-container .step p {
            margin-top: 10px;
            display: none;
        }

        .steps-section .steps-container .step.active p {
            display: block;
        }

        .steps-section .steps-container .step {
            margin: 20px 0;
            cursor: pointer;
        }
    </style>
    <section class="steps-section service__area-2 py-5">
        <div class="container">
            <div class="col-xxl-12">
                <div class="sec-title-wrap">
                    <h2 class="sec-sub-title wow animate__ animate__fadeInUp animated" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">The
                        Process of
                    </h2>
                    <h3 class="sec-title wow animate__ animate__fadeInUp animated" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        Incorporation</h3>
                </div>
            </div>
            <div class="steps-container">
                <div class="step active">
                    <h2 class="service__title">Step 1: Obtain DIN, DSC, and Name Approval</h2>
                    <div class="service__btm-2">
                        <p>The first step in registering a Section 8 company is to obtain a Digital Signature
                            Certificate (DSC) and Director Identification Number (DIN) for all the proposed directors of
                            the company. Once the DSC and DIN are obtained, the next step is to select a suitable name
                            for the company and apply for its approval. After the name is approved by the Registrar of
                            Companies (ROC), it is valid for 20 days.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 2: Memorandum of Association (MOA) and Articles of Association (AOA)
                    </h2>
                    <div class="service__btm-2">
                        <p>The next step is to prepare the Memorandum of Association (MOA) and Articles of Association
                            (AOA) of the company. They should be prepared in accordance with the Companies Act, 2013.
                            After the MOA and AOA are prepared, the next step is to file Form INC-12 with the ROC. Form
                            INC-12 is an application for obtaining a license to operate as a Section 8 company.</p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 3: Obtaining a License from ROC</h2>
                    <div class="service__btm-2">
                        <p>After Form INC-12 is filed, the ROC will scrutinize the application and documents. If
                            everything is found to be in order, the ROC will issue a license to operate as a Section 8
                            company. The license is valid for the lifetime of the company, and it cannot be transferred
                            or sold.</p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 4: Incorporation of Company</h2>
                    <div class="service__btm-2">
                        <p>After obtaining the license, the final step is to file Form INC-32 with the ROC for
                            incorporation of the company. Form INC-32 is a simplified proforma for incorporating a
                            company electronically. It should be filed along with the MOA, AOA, and other necessary
                            documents.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        // Steps Section
        const stepsEl = document.querySelectorAll(".steps-section .steps-container .step");
        // Add click event listeners to each list item
        stepsEl.forEach((step) => {
            step.addEventListener('click', () => {
                // Remove the active class from all list items
                stepsEl.forEach(li => li.classList.remove('active'));
                // Add the active class to the clicked list item
                step.classList.add('active');
            });
        });
    </script>
    <!-- Process end -->

    <!-- About area start -->
    <section class="about__area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="sec-title wow animate__animated animate__fadeInUp text-center" data-wow-delay="0.4s">THE
                        <span>TAKEAWAYS</span>
                    </h3>
                    <ul class="list-check wow animate__animated animate__fadeInUp row" style="grid-gap: 0px;"
                        data-wow-delay="0.4s">
                        <li class="col-12 col-md-6 col-lg-4">DIN for 2 Directors</li>
                        <li class="col-12 col-md-6 col-lg-4">MOA + AOA</li>
                        <li class="col-12 col-md-6 col-lg-4">Incorporation Master File</li>
                        <li class="col-12 col-md-6 col-lg-4">Bank Account Opening Document Support</li>
                        <li class="col-12 col-md-6 col-lg-4">Digital Signature for Director
                        </li>
                        <li class="col-12 col-md-6 col-lg-4">Incorporation Certificate</li>
                        <li class="col-12 col-md-6 col-lg-4">Company PAN Card</li>
                        <li class="col-12 col-md-6 col-lg-4">Incorporation Kit</li>
                        <li class="col-12 col-md-6 col-lg-4">Company TAN/TDS Number</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <style scoped>
        .faq__area .service__btm-2 ul li,
        .faq__area .service__btm-2 p {
            color: #000;
        }
    </style>

    <!-- Faq area start -->
    <section class="faq__area steps-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="sec-title-wrap">
                                <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">

                                </h2>
                                <h3 class="sec-title wow animate__animated text-center animate__fadeInUp"
                                    data-wow-delay="0.4s">
                                    Basic Requirements for <br>NGO registration
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                                <!-- <div class="">
                                    <h3 class="service__title">At least 2 partners are a must to start LLP in India</h3>
                                </div> -->
                                <div class="service__btm-2">
                                    <p>A minimum of two members (individuals or organizations) are required to form the
                                        company.</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.3s">
                                <!-- <div class="">
                                    <h3 class="service__title">There should be an agreed contribution to capital from
                                        each partner.</h3>
                                </div> -->
                                <div class="service__btm-2">
                                    <p>At least two directors are required.</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                                <!-- <div class="">
                                    <h3 class="service__title">Authorized capital is Rs. 1 Lakh is required </h3>
                                </div> -->
                                <div class="service__btm-2">
                                    <p>The directors and members must have a valid Digital Signature Certificate (DSC)
                                        and Director Identification Number (DIN).
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.6s">
                                <!-- <div class="">
                                    <h3 class="service__title">DIN of both partners</h3>
                                </div> -->
                                <div class="service__btm-2">
                                    <p>The registered office address of the company is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq area end -->

    <!-- About area start -->
    <section class="about__area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="sec-title wow animate__animated animate__fadeInUp text-center" data-wow-delay="0.4s">
                        Documents
                        required for<br>
                        <span> NGO registration</span>
                    </h3>
                    <ul class="list-check wow animate__animated animate__fadeInUp row" style="grid-gap: 0px;"
                        data-wow-delay="0.4s">
                        <li class="col-12 col-md-6 col-lg-4">PAN card of all directors and members</li>
                        <li class="col-12 col-md-6 col-lg-4">Aadhaar card or passport or driving license of all
                            directors and members</li>
                        <li class="col-12 col-md-6 col-lg-4">Address proof of all directors and members</li>
                        <li class="col-12 col-md-6 col-lg-4">Memorandum of Association (MOA) and Articles of Association
                            (AOA) of the company</li>
                        <li class="col-12 col-md-6 col-lg-4">Consent letters from all directors
                        </li>
                        <li class="col-12 col-md-6 col-lg-4">Affidavit and declaration from all directors and members
                        </li>
                        <li class="col-12 col-md-6 col-lg-4">Rental agreement or ownership proof of the registered
                            office address
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->
    <script src="/assets/js/contact2.js"></script>
    <%- include('../partials/footer'); -%>