<%- include('../partials/header'); -%>
    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area" style="background-image: url('/assets/imgs/corporate\ secretarial/1.Home.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__title">One-Person Company Registration <span>- The simplest and quickest
                                way to register your business!</span>
                        </h1>
                        <p><a href="/">Home</a> <a href="/startup">Startup</a> <span>OPC
                                Registration</span></p>
                    </div>
                </div>
            </div>
        </div>
        <img src="/assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Breadcrumb area end -->

    <style scoped>
        table td:first-child {
            font-weight: bold;
        }

        @media (max-width: 767px) {
            table tr {
                display: block;
                margin-bottom: 30px;
            }
        }
    </style>

    <div class="container py-5">
        <div class="row">
            <div class="col-md-6" style="align-self: center;">
                <%- include('../partials/how-it-works'); -%>
            </div>
            <div class="col-md-6 align-self-center">
                <form class="p-3" id="startup-contact-form">
                    <div class=" form-group mb-3">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" pattern="^[a-zA-Z ]+$" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="phone">Mobile:</label>
                        <input type="tel" class="form-control" id="phone" pattern="[+]?[0-9]{0,3}[\s]?\d{5}[\s]?\d{5}"
                            required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                            id="email" required>
                    </div>
                    <input type="hidden" id="subject" value="One Person Company Registration - New Form Submission">
                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>


    <!-- Process area start -->
    <section class="process__area-2 steps-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 align-self-center">
                    <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Unleash your
                        entrepreneurial spirit
                    </h2>
                    <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">For a small
                        business,<br> big ambitions,<br> register as a<br> One-Person Company
                    </h3>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 align-self-center">
                    <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">One Person Company
                        (OPC) is a type of business entity that can be registered under the Companies Act, 2013 in
                        India. It allows a single person to start and operate a business in the form of a private
                        limited company. The concept of OPC was introduced to encourage and support entrepreneurs who
                        wish to start their own venture without the involvement of a co-founder or partner.
                    </p>
                    <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.8s">Deepwork professionals
                        make One-Person Company Registrations easier while offering flexible solutions. Our team of
                        experts provides you with the best assistance and timely delivery guaranteeing 100% customer
                        satisfaction.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Process area end -->

    <!-- About area start -->
    <section class="about__area  py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__left">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            Overview of </h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">One-Person
                            Company Registration
                            <span></span>
                        </h3>
                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">One-Person Company
                            (OPC) registration is a legal process in which a company is incorporated with only one
                            owner, who acts as both the director and shareholder of the company. This type of company
                            was introduced in India in 2013 under the Companies Act, to encourage entrepreneurship and
                            facilitate small businesses.
                            <br /><br />The main objective of OPC registration is to provide a separate legal entity to
                            the business, thereby limiting the liability of the owner. This means that the personal
                            assets of the owner are protected in case of any legal or financial liability arising from
                            the business operations.
                        </p>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__right">
                        <div class="about__right-inner">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Assured
                                Benefits
                                <span></span>
                            </h3>
                            <style>
                                .from-left {
                                    /* grid-column: 2 / 3; */
                                    -webkit-transform: translateX(-50%);
                                    transform: translateX(-50%);
                                }

                                .from-right {
                                    /* grid-column: 3 / 4; */
                                    -webkit-transform: translateX(50%);
                                    transform: translateX(50%);
                                }

                                .from-left,
                                .from-right {
                                    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
                                    transition: opacity 250ms ease-in, transform 400ms ease-in;
                                    transition: opacity 250ms ease-in, transform 400ms ease-in,
                                        -webkit-transform 400ms ease-in;
                                    opacity: 0;
                                }

                                .from-left.appear,
                                .from-right.appear {
                                    -webkit-transform: translateX(0);
                                    transform: translateX(0);
                                    opacity: 1;
                                }
                            </style>


                            <ul class="list-check wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                <li class="slide-in from-left">Better fund-raising options.
                                </li>
                                <li class="slide-in from-left">OPC is exempt from certain compliance requirements.
                                </li>
                                <li class="slide-in from-left">Secure, seamless, and high-quality work.
                                </li>
                                <li class="slide-in from-left">OPC registration provides a separate legal entity to the
                                    business.
                                </li>
                            </ul>
                            <script>

                                const sliders = document.querySelectorAll(".slide-in");

                                const appearOptions = {
                                    threshold: 0,
                                    rootMargin: "0px 0px -150px 0px"
                                };

                                const appearOnScroll = new IntersectionObserver(function (
                                    entries,
                                    appearOnScroll
                                ) {
                                    entries.forEach(entry => {
                                        if (!entry.isIntersecting) {
                                            return;
                                        } else {
                                            entry.target.classList.add("appear");
                                            appearOnScroll.unobserve(entry.target);
                                        }
                                    });
                                },
                                    appearOptions);
                                sliders.forEach(slider => {
                                    appearOnScroll.observe(slider);
                                });

                            </script>
                            <a href="/services" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">GET IN TOUCH</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <!-- Process -->
    <style scoped>
        .steps-section {
            padding: 40px 20px;
            background-image: -webkit-gradient(linear, left top, right top, from(var(--secondary)), to(var(--primary)));
            background-image: linear-gradient(to right, var(--secondary), var(--primary));
            color: var(--white);
        }

        .steps-section h2 {
            font-weight: 600;
            font-size: 16px;
            color: var(--white-color) !important;
        }

        .steps-section .sec-title-wrap {
            padding-bottom: 0;
        }

        .steps-section .sec-title {
            color: var(--white-color);
        }

        .steps-section p {
            /* font-size: 16px; */
            font-weight: 400;
            color: var(--white);
        }

        .steps-section .steps-container {
            margin-top: 40px;
            color: #fff !important;
        }

        .steps-section .steps-container .step h2 {
            font-weight: 600;
            /* font-size: 16px; */
        }

        .steps-section .steps-container .step h2::after {
            content: '';
            /* font-size: 24px; */
            color: var(--white-color);
            /* border-radius: 50%; */
            float: right;
            margin-left: 5px;
            transform: rotate(135deg);
            /* height: 24px;
    width: 24px; */
            width: 14px;
            height: 14px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            margin-top: 0px;
        }

        .steps-section .steps-container .step.active h2::after {
            content: '';
            /* font-size: 24px; */
            color: var(--white-color);
            /* border-radius: 50%; */
            float: right;
            margin-left: 5px;
            transform: rotate(-45deg);
            /* height: 24px;
    width: 24px; */
            width: 14px;
            height: 14px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            margin-top: 10px;
        }

        .steps-section .steps-container .step p {
            margin-top: 10px;
            display: none;
        }

        .steps-section .steps-container .step.active p {
            display: block;
        }

        .steps-section .steps-container .step {
            margin: 20px 0;
            cursor: pointer;
        }
    </style>
    <section class="steps-section service__area-2 py-5">
        <div class="container">
            <div class="col-xxl-12">
                <div class="sec-title-wrap">
                    <h2 class="sec-sub-title wow animate__ animate__fadeInUp animated" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">The
                        Process of
                    </h2>
                    <h3 class="sec-title wow animate__ animate__fadeInUp animated" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        Incorporation</h3>
                </div>
            </div>
            <div class="steps-container">
                <div class="step active">
                    <h2 class="service__title">Step 1: Complete the OPC form</h2>
                    <div class="service__btm-2">
                        <p>Before starting the incorporation process of OPC registration, check for the checklist given
                            above and make sure you carry all the required documents.<br>Now, the first step in the OPC
                            registration process is to fill in your details in our simple online questionnaire.</p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 2: Get DSC & DIN, Name Approval</h2>
                    <div class="service__btm-2">
                        <p>The next step is to obtain a digital signature certificate (DSC) and director identification
                            number (DIN) for the proposed director/member of the company. These are required to sign and
                            file the incorporation documents electronically. Then Lock the name you wanted your business
                            to be represented with. You can do this by filing Form SPICe+ on the MCA portal.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 3: Incorporation of One Person Company</h2>
                    <div class="service__btm-2">
                        <p>After the name is approved, the next step is to draft the Memorandum of Association (MOA) and
                            Articles of Association (AOA) of the company. These documents define the purpose,
                            objectives, and rules of the company and must be drafted in compliance with the Companies
                            Act. Once the MOA and AOA are drafted, you need to file the incorporation documents. The
                            documents include Form SPICe+, SPICe+ MoA, SPICe+ AoA, and Form AGILE-PRO.</p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 4: Obtaining the certificate of incorporation</h2>
                    <div class="service__btm-2">
                        <p>After the documents are verified by the Registrar of Companies (ROC), and if there are no
                            objections, the ROC will issue a Certificate of Incorporation (COI) to the OPC. The COI
                            contains the company identification number (CIN) and other registration details.</p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 5: PAN, TAN Application, Bank Account opening</h2>
                    <div class="service__btm-2">
                        <p>AAfter receiving the COI, you need to apply for the Permanent Account Number (PAN) and Tax
                            Deduction and Collection Account Number (TAN) of the company. These are required for tax
                            compliance and other regulatory purposes.<br><br>The final step is to open a bank account in
                            the name of the OPC and obtain other necessary licenses and registrations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        // Steps Section
        const stepsEl = document.querySelectorAll(".steps-section .steps-container .step");
        // Add click event listeners to each list item
        stepsEl.forEach((step) => {
            step.addEventListener('click', () => {
                // Remove the active class from all list items
                stepsEl.forEach(li => li.classList.remove('active'));
                // Add the active class to the clicked list item
                step.classList.add('active');
            });
        });
    </script>
    <!-- Process end -->

    <!-- About area start -->
    <section class="about__area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="sec-title wow animate__animated animate__fadeInUp text-center" data-wow-delay="0.4s">THE
                        <span>TAKEAWAYS</span>
                    </h3>
                    <ul class="list-check wow animate__animated animate__fadeInUp row" style="grid-gap: 0px;"
                        data-wow-delay="0.4s">
                        <li class="col-12 col-md-6 col-lg-4">DIN for 1 Director</li>
                        <li class="col-12 col-md-6 col-lg-4">MOA + AOA</li>
                        <li class="col-12 col-md-6 col-lg-4">Incorporation Master File for the Company</li>
                        <li class="col-12 col-md-6 col-lg-4">Bank Account Opening Document Support</li>
                        <li class="col-12 col-md-6 col-lg-4">Digital Signature Certificates
                        </li>
                        <li class="col-12 col-md-6 col-lg-4">Incorporation Certificate</li>
                        <li class="col-12 col-md-6 col-lg-4">Business PAN Card
                        </li>
                        <li class="col-12 col-md-6 col-lg-4">TAN/TDS Number</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <style scoped>
        .faq__area .service__btm-2 ul li,
        .faq__area .service__btm-2 p {
            color: #000;
        }
    </style>

    <!-- Faq area start -->
    <style scoped>
        .service__item-2 {
            margin-bottom: 0;
            padding: 20px 20px;
        }

        .service__item-2 .service__title {
            padding-bottom: 0;
        }
    </style>
    <section class="faq__area steps-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="sec-title-wrap">
                                <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">

                                </h2>
                                <h3 class="sec-title wow animate__animated text-center animate__fadeInUp"
                                    data-wow-delay="0.4s">
                                    Basic Requirements for <br>One-Person Company registration
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                                <div class="service__btm-2">
                                    <p>Minimum and Maximum membership requirements must be met</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.3s">
                                <div class="service__btm-2">
                                    <p>One nominee should be chosen before incorporation</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                                <div class="service__btm-2">
                                    <p>The minimum authorized capital is Rs. 1 Lakh
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.6s">
                                <div class="service__btm-2">
                                    <p>Evidence of the OPC registered office
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.6s">
                                <div class="service__btm-2">
                                    <p>DIN of the directors if available
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq area end -->

    <!-- About area start -->
    <section class="about__area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="sec-title wow animate__animated animate__fadeInUp text-center" data-wow-delay="0.4s">
                        Documents
                        required for<br>
                        <span>One-Person Company registration</span>
                    </h3>
                    <ul class="list-check wow animate__animated animate__fadeInUp row" style="grid-gap: 0px;"
                        data-wow-delay="0.4s">
                        <li class="col-12 col-md-6 col-lg-4">Nominee and Director’s PAN Card</li>
                        <li class="col-12 col-md-6 col-lg-4">Address proof of Director and Nominee</li>
                        <li class="col-12 col-md-6 col-lg-4">If the registered office is owned, Business Address proof
                            of office</li>
                        <li class="col-12 col-md-6 col-lg-4">If the office is rented, Rental agreement, NOC from the
                            owner, and Utility bill</li>
                        <li class="col-12 col-md-6 col-lg-4">Passport Size photographs of the director and nominee
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->
    <script src="/assets/js/contact2.js"></script>
    <%- include('../partials/footer'); -%>