<%- include('../partials/header'); -%>
    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area" style="background-image: url('/assets/imgs/corporate\ secretarial/1.Home.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__title">Other Registrations
                        </h1>
                        <p><a href="/">Home</a> <a href="/startup">Startup</a> <span>Other
                                Registrations</span></p>
                    </div>
                </div>
            </div>
        </div>
        <img src="/assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Breadcrumb area end -->

    <!-- Why Choose area start -->
    <style scoped>
        form {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--secondary)), to(var(--primary)));
            background-image: linear-gradient(to right, var(--secondary), var(--primary));
            color: var(--white);
            border-radius: 10px;
        }
    </style>
    <section id="startup-india-registration" class="about__area-2 py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__right-2">
                        <div class="about__right-inner-2">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Startup
                                India Registration
                                <span></span>
                            </h3>
                            <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Startup India is an
                                initiative launched by the Government of India to promote startups and entrepreneurship
                                in the country. The program offers various benefits to startups, such as tax exemptions,
                                funding opportunities, and access to resources.</p>
                            <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">Startup India
                                registration can be beneficial for startups looking to avail themselves of various
                                government schemes and tax benefits. The process is straightforward and can be completed
                                online.
                            </p>
                            <!-- <ul class="list wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                                <li>
                                    <div class="icon"><img src="/assets/imgs/feature/1.png" alt=""></div>
                                    <span>Creative <br>Concept Execution</span>
                                </li>
                                <li>
                                    <div class="icon"><img src="/assets/imgs/feature/4.png" alt=""></div>
                                    <span>One Stop <br>Business Solution</span>
                                </li>
                            </ul> -->
                            <a href="/contact" class="mt-4 cxu-btn-round wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.6s">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 align-self-center">
                    <form class="p-3" id="form1">
                        <div class=" form-group mb-3">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="phone">Mobile:</label>
                            <input type="tel" class="form-control" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" required>
                        </div>
                        <input type="hidden" value="Startup India Registration - New Form Submission">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Choose area end -->

    <!-- Faq area start -->
    <section class="faq__area steps-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="sec-title-wrap">
                                <h3 class="sec-title wow animate__animated pb-2 text-center animate__fadeInUp"
                                    data-wow-delay="0.4s">
                                    Eligibility Criteria
                                </h3>
                                <h2 class="sec-sub-title wow animate__animated pb-3 text-center animate__fadeInUp"
                                    data-wow-delay="0.2s">
                                    To register under the Startup India program, a startup must meet the following
                                    criteria
                                </h2>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                                <div class="service__btm-2">
                                    <p>The startup should be registered as a Private Limited Company, LLP or Partnership
                                        Firm</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.3s">
                                <div class="service__btm-2">
                                    <p>The age of the startup should be less than 10 years from the date of
                                        incorporation.</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                                <div class="service__btm-2">
                                    <p>The annual turnover of the startup should be less than Rs. 100 crores
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.6s">
                                <div class="service__btm-2">
                                    <p>The startup should be working towards innovation, development, deployment, or
                                        commercialization of new products, processes, or services driven by technology
                                        or intellectual property.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq area end -->

    <!-- Process -->
    <style scoped>
        .steps-section-2 .steps-container .step h2::after {
            content: '';
            /* font-size: 24px; */
            color: #000;
            /* border-radius: 50%; */
            float: right;
            margin-left: 5px;
            transform: rotate(135deg);
            /* height: 24px;
    width: 24px; */
            width: 14px;
            height: 14px;
            border-top: 2px solid #000;
            border-right: 2px solid #000;
            margin-top: 0px;
        }

        .steps-section-2 .steps-container .step.active h2::after {
            content: '';
            /* font-size: 24px; */
            color: #000;
            /* border-radius: 50%; */
            float: right;
            margin-left: 5px;
            transform: rotate(-45deg);
            /* height: 24px;
    width: 24px; */
            width: 14px;
            height: 14px;
            border-top: 2px solid #000;
            border-right: 2px solid #000;
            margin-top: 10px;
        }

        .steps-section-2 .steps-container .step p,
        .steps-section-2 .steps-container .step li {
            margin-top: 10px;
            display: none;
        }

        .steps-section-2 .steps-container .step.active p,
        .steps-section-2 .steps-container .step.active li {
            display: block;
        }

        .steps-section-2 .steps-container .step {
            margin: 20px 0;
            cursor: pointer;
        }
    </style>
    <section class="steps-section-2 service__area-2 py-5">
        <div class="container">
            <div class="col-xxl-12">
                <div class="sec-title-wrap">
                    <h3 class="sec-title wow animate__ animate__fadeInUp pb-2 animated" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        Registration Process</h3>
                    <h2 class="sec-sub-title wow animate__ animate__fadeInUp pb-3 text-capitalize animated"
                        data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">The Deepwork
                        experts make the registration process hassle-free and quicker. The registration process for
                        Startup India is as follows:
                    </h2>
                </div>
            </div>
            <div class="steps-container">
                <div class="step active">
                    <h2 class="service__title">Step 1: Fill in the form</h2>
                    <div class="service__btm-2">
                        <p>Fill in the registration form with basic details, including your business name, address, and
                            PAN number.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 2: Upload Documents</h2>
                    <div class="service__btm-2">
                        <p>Upload the necessary documents, such as a Certificate of Incorporation, PAN Card, and a
                            letter of recommendation from an incubator or an industry association.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 3: Submit the Application</h2>
                    <div class="service__btm-2">
                        <p>Once the application is submitted, it will be reviewed by the Startup India team, and you
                            will be notified of your registration status.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Process end -->




    <!-- Udhyam / MSME Registration -->
    <!-- Why Choose area start -->
    <section id="msme-registration" class="about__area-2 py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__right-2">
                        <div class="about__right-inner-2">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                Udhyam/MSME registration
                                <span></span>
                            </h3>
                            <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Udyam/MSME
                                registration can be highly beneficial for small and medium enterprises in India,
                                providing financial, tax, and other benefits to promote business growth. The process is
                                relatively simple and can be completed online through the official website.</p>
                            <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">Udyam Registration
                                (formerly known as MSME registration) is a government registration process. Here's an
                                overview of the Udyam/MSME registration process and the benefits it offers:
                            </p>
                            <!-- <ul class="list wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                                <li>
                                    <div class="icon"><img src="/assets/imgs/feature/1.png" alt=""></div>
                                    <span>Creative <br>Concept Execution</span>
                                </li>
                                <li>
                                    <div class="icon"><img src="/assets/imgs/feature/4.png" alt=""></div>
                                    <span>One Stop <br>Business Solution</span>
                                </li>
                            </ul> -->
                            <a href="/contact" class="mt-4 cxu-btn-round wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.6s">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 align-self-center">
                    <form class="p-3" id="form2">
                        <div class=" form-group mb-3">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="phone">Mobile:</label>
                            <input type="tel" class="form-control" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" required>
                        </div>
                        <input type="hidden" value="MSME Registration - New Form Submission">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Choose area end -->

    <!-- Feature area start -->
    <section class="feature__area py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <img src="/assets/imgs/feature/11.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Financial Benefits</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <img src="/assets/imgs/feature/20.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Tax Benefits</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <img src="/assets/imgs/feature/18.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Easy Access to Credit</h2>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">
                        <img src="/assets/imgs/feature/19.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Priority in Government Tenders</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature area end -->

    <!-- Faq area start -->
    <section class="faq__area steps-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="sec-title-wrap">
                                <h3 class="sec-title wow animate__animated pb-2 text-center animate__fadeInUp"
                                    data-wow-delay="0.4s">
                                    Eligibility Criteria
                                </h3>
                                <h2 class="sec-sub-title wow animate__animated pb-3 text-center animate__fadeInUp"
                                    data-wow-delay="0.2s">
                                    To be eligible for Udyam Registration, your business must fall under the following
                                    criteria:
                                </h2>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                                <div class="service__btm-2">
                                    <p>Your business must be either a sole proprietorship, partnership firm, one-person
                                        company, or a private limited company.
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.3s">
                                <div class="service__btm-2">
                                    <p>The investment in plant and machinery or equipment must be less than Rs. 1 crore
                                        for micro-enterprises, less than Rs. 10 crore for small enterprises, and less
                                        than Rs. 50 crores for medium enterprises.
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                                <div class="service__btm-2">
                                    <p>Your business must be involved in the manufacturing or production of goods or
                                        providing services.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq area end -->

    <!-- Process -->
    <section class="steps-section-2 service__area-2 py-5">
        <div class="container">
            <div class="col-xxl-12">
                <div class="sec-title-wrap">
                    <h3 class="sec-title wow animate__ animate__fadeInUp pb-2 animated" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        Registration Process</h3>
                    <h2 class="sec-sub-title wow animate__ animate__fadeInUp pb-3 text-capitalize animated"
                        data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">The registration
                        process for Udyam Registration is as follows:
                    </h2>
                </div>
            </div>
            <div class="steps-container">
                <div class="step active">
                    <h2 class="service__title">Step 1: Fill in the form</h2>
                    <div class="service__btm-2">
                        <p>The first step is to fill in the registration form with your basic details, including your
                            business name, address, and PAN number.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 2</h2>
                    <div class="service__btm-2">
                        <p>Provide the details of the proprietor, partners, or directors of the business.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 3: Upload Documents</h2>
                    <div class="service__btm-2">
                        <p>Upload the necessary documents, such as a PAN card, Aadhaar card, and bank statement.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 4: Submit the Application</h2>
                    <div class="service__btm-2">
                        <p>Once the application is submitted, it will be reviewed by the Udyam Registration team, and
                            you will be notified of your registration status.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Process end -->


    <!-- Professional Tax Registration -->
    <!-- Why Choose area start -->
    <section id="professional-tax-registration" class="about__area-2 py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__right-2">
                        <div class="about__right-inner-2">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                Professional Tax Registration
                                <span></span>
                            </h3>
                            <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Professional tax is
                                a tax levied by state governments on individuals who earn a living through employment,
                                profession, trade, or business. Professional tax registration is mandatory for employers
                                in India who have employed individuals in their organization. It is a simple process and
                                helps to comply with state laws and regulations, and contributes to employee welfare.
                            </p>
                            <!-- <ul class="list wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                                <li>
                                    <div class="icon"><img src="/assets/imgs/feature/1.png" alt=""></div>
                                    <span>Creative <br>Concept Execution</span>
                                </li>
                                <li>
                                    <div class="icon"><img src="/assets/imgs/feature/4.png" alt=""></div>
                                    <span>One Stop <br>Business Solution</span>
                                </li>
                            </ul> -->
                            <a href="/contact" class="mt-4 cxu-btn-round wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.6s">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 align-self-center">
                    <form class="p-3" id="form3">
                        <div class=" form-group mb-3">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="phone">Mobile:</label>
                            <input type="tel" class="form-control" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" required>
                        </div>
                        <input type="hidden" value="Professional Tax Registration - New Form Submission">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Choose area end -->

    <!-- Feature area start -->
    <section class="feature__area py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <img src="/assets/imgs/feature/10.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Compliance with the law</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <img src="/assets/imgs/feature/13.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Employee welfare</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <img src="/assets/imgs/feature/20.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Tax deduction</h2>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">
                        <img src="/assets/imgs/feature/8.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Easy to register</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature area end -->

    <!-- Faq area start -->
    <section class="faq__area steps-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="sec-title-wrap">
                                <h3 class="sec-title wow animate__animated pb-2 text-center animate__fadeInUp"
                                    data-wow-delay="0.4s">
                                    Eligibility Criteria
                                </h3>
                                <h2 class="sec-sub-title wow animate__animated pb-3 text-center animate__fadeInUp"
                                    data-wow-delay="0.2s">
                                    <!-- To be eligible for Udyam Registration, your business must fall under the following
                                    criteria: -->
                                </h2>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                                <div class="service__btm-2">
                                    <p>All employers who have employed individuals in their organization are liable to
                                        register for professional tax in India. Employees who are earning a monthly
                                        salary or wage above a certain threshold, set by the respective state
                                        government, are also liable to pay professional tax.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq area end -->

    <!-- Process -->
    <section class="steps-section-2 service__area-2 py-5">
        <div class="container">
            <div class="col-xxl-12">
                <div class="sec-title-wrap">
                    <h3 class="sec-title wow animate__ animate__fadeInUp pb-2 animated" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        Registration Process</h3>
                    <h2 class="sec-sub-title wow animate__ animate__fadeInUp pb-3 text-capitalize animated"
                        data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">The registration
                        process for professional tax varies from state to state, but here are some common steps
                        involved:
                    </h2>
                </div>
            </div>
            <div class="steps-container">
                <div class="step active">
                    <h2 class="service__title">Step 1</h2>
                    <div class="service__btm-2">
                        <p>Obtain the application form for professional tax registration from the respective state's
                            commercial tax department or download it from the official website.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 2</h2>
                    <div class="service__btm-2">
                        <p>Fill in the application form with your basic details, such as name, address, PAN card, and
                            bank details.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 3</h2>
                    <div class="service__btm-2">
                        <p>Attach the required documents, such as PAN card, address proof, and salary details of
                            employees.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 4: Submit the Application</h2>
                    <div class="service__btm-2">
                        <p>Submit the application form and pay the registration fee, which varies depending on the
                            state.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Process end -->


    <!-- Trademark Registration -->
    <!-- Why Choose area start -->
    <section id="trademark-registration" class="about__area-2 py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__right-2">
                        <div class="about__right-inner-2">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                Trademark Registration
                                <span></span>
                            </h3>
                            <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Trademark
                                registration is a process of protecting the unique brand identity of a business or
                                product. It provides legal rights to the trademark owner to use their trademark
                                exclusively and prevent others from using it without their consent.
                            </p>
                            <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">Trademark
                                registration is a crucial step for any business looking to protect its brand identity
                                and prevent others from using its trademark. It provides legal protection and exclusive
                                rights to the trademark owner and can be a valuable intangible asset for the business.
                            </p>
                            <!-- <ul class="list wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                                <li>
                                    <div class="icon"><img src="/assets/imgs/feature/1.png" alt=""></div>
                                    <span>Creative <br>Concept Execution</span>
                                </li>
                                <li>
                                    <div class="icon"><img src="/assets/imgs/feature/4.png" alt=""></div>
                                    <span>One Stop <br>Business Solution</span>
                                </li>
                            </ul> -->
                            <a href="/contact" class="mt-4 cxu-btn-round wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.6s">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 align-self-center">
                    <form class="p-3" id="form4">
                        <div class=" form-group mb-3">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="phone">Mobile:</label>
                            <input type="tel" class="form-control" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" required>
                        </div>
                        <input type="hidden" value="Trademark Registration - New Form Submission">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Choose area end -->

    <!-- About area start -->

    <section class="about__area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="sec-title wow animate__animated animate__fadeInUp text-center" data-wow-delay="0.4s">
                        <span>BENEFITS</span>
                    </h3>
                    <ul class="list-check wow animate__animated animate__fadeInUp row" style="grid-gap: 0px;"
                        data-wow-delay="0.4s">
                        <li class="col-12 col-md-6 col-lg-4">The exclusive right to use the trademark</li>
                        <li class="col-12 col-md-6 col-lg-4">Legal protection against trademark infringement</li>
                        <li class="col-12 col-md-6 col-lg-4">Ability to sue for damages in case of infringement</li>
                        <li class="col-12 col-md-6 col-lg-4">The valuable intangible asset for the business</li>
                        <li class="col-12 col-md-6 col-lg-4">Helps build brand identity and customer recognition
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <!-- Process -->
    <style scoped>
    </style>
    <section class="steps-section-2 service__area-2 py-5">
        <div class="container">
            <div class="col-xxl-12">
                <div class="sec-title-wrap">
                    <h3 class="sec-title wow animate__ animate__fadeInUp pb-2 animated" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        Registration Process</h3>
                    <h2 class="sec-sub-title wow animate__ animate__fadeInUp pb-3 text-capitalize animated"
                        data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Here is an
                        overview of the trademark registration process in India:
                    </h2>
                </div>
            </div>
            <div class="steps-container">
                <div class="step active">
                    <h2 class="service__title">Step 1: Trademark Search</h2>
                    <div class="service__btm-2">
                        <p>The first step in the trademark registration process is conducting a trademark search to
                            ensure that the proposed trademark is not already in use or is similar to an existing
                            trademark. This can be done by conducting a search on the Trademark Registry website or
                            seeking the help of a trademark attorney.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 2: Trademark Application</h2>
                    <div class="service__btm-2">
                        <p>Once the trademark search is completed, the trademark application can be filed with the
                            Trademark Registrar. The application must contain the following information:
                        </p>
                        <ul>
                            <li>✅The trademark name and logo</li>
                            <li>✅The name and address of the trademark owner</li>
                            <li>✅The goods or services for which the trademark will be used</li>
                            <li>✅A copy of the trademark</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 3 : Trademark Examination</h2>
                    <div class="service__btm-2">
                        <p>After filing the trademark application, the Trademark Registrar will
                            conduct an examination to verify the trademark's uniqueness and ensure it meets the
                            requirements of the Trademark Act. If the trademark passes the examination, it will be
                            published in the Trademark Journal.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 4: Opposition Proceedings</h2>
                    <div class="service__btm-2">
                        <p>If any third party opposes the trademark registration within three months of its publication
                            in the Trademark Journal, the Registrar will conduct a hearing and decide whether to accept
                            or reject the opposition.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="step">
                    <h2 class="service__title">Step 5: Trademark Registration</h2>
                    <div class="service__btm-2">
                        <p>If there is no opposition, or if the opposition is rejected, the trademark will be
                            registered, and a Certificate of Registration will be issued. The trademark will be
                            protected for ten years from the date of registration and can be renewed indefinitely.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Process end -->


    <script>
        // Steps Section
        const stepsEl = document.querySelectorAll(".steps-section-2 .steps-container .step");
        // Add click event listeners to each list item
        stepsEl.forEach((step) => {
            step.addEventListener('click', () => {
                // Remove the active class from all list items
                stepsEl.forEach(li => li.classList.remove('active'));
                // Add the active class to the clicked list item
                step.classList.add('active');
            });
        });

        // Contact forms handling
        let contactFormEls = document.getElementsByTagName("form");

        for (let i = 0; i < contactFormEls.length; i++) {
            contactFormEls[i].addEventListener("submit", async (e) => {
                e.preventDefault();

                let nameEl = contactFormEls[i].querySelector("input[name='name']");
                let emailEl = contactFormEls[i].querySelector("input[name='email']");
                let phoneEl = contactFormEls[i].querySelector("input[name='phone']");
                let subjectEl = contactFormEls[i].querySelector("input[name='subject']");
                let submitEl = contactFormEls[i].querySelector("button[type='submit']");

                let formData = {
                    name: nameEl.value,
                    email: emailEl.value,
                    phone: phoneEl.value,
                    subject: subjectEl.value,
                }

                submitEl.innerText = "Sending Message..."

                let options = {
                    method: "POST",
                    body: JSON.stringify(formData),
                    headers: { "Content-Type": "application/json" }
                };

                let url = "/sendmail-2";

                await fetch(url, options)
                    .then(function (response) {
                        return response;
                    })
                    .then(function (jsonData) {
                        if (jsonData.status !== 200) {
                            submitEl.innerText = "Something Went Wrong!";
                        }

                        if (jsonData.status === 200) {
                            console.log('success');
                            nameEl.value = "";
                            emailEl.value = "";
                            phoneEl.value = "";
                            submitEl.innerText = "Message Sent Successfully!";
                        }
                    });
            });
        }
    </script>
    <%- include('../partials/footer'); -%>