<%- include('../partials/header'); -%>
    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area"
        style="background-image: url('/assets/imgs/accounting\ &\ bookkeeping/1 Home .jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__title">Great Accounting For A Great Business.
                        </h1>
                        <p><a href="/">Home</a> <a href="/services">Services</a> <span>Accounting
                                Service</span></p>
                    </div>
                </div>
            </div>
        </div>
        <img src="../assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Breadcrumb area end -->

    <!-- Feature area start -->
    <section class="feature__area pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/imgs/feature/1.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Reliability and Accuracy</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <img src="assets/imgs/feature/9.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Compliance</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <img src="assets/imgs/feature/3.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Proactive approach</h2>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">
                        <img src="assets/imgs/feature/4.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Tailored Solutions</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature area end -->

    <!-- Video area start -->
    <!-- <section class="video__area pt-100 pb-100">
        <div class="container">

            <div class="row">
                <div class="col-xxl-12">
                    <div class="video__left text-center">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">All you
                            need to Know
                        </h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Take your
                            Accounting to <span>Profitability</span></h3>
                    </div>
                </div>
                <div class="col-xxl-12">
                    <div class="video__right wow animate__animated animate__fadeInUp" data-wow-delay="0.5s">
                        <p>Accounting consultancy services refer to professional services provided by accounting experts
                            to help businesses and individuals manage their finances more effectively. These services
                            can include bookkeeping, tax preparation, financial reporting, budgeting, and forecasting,
                            financial statement analysis, and more.</p>
                    </div>
                </div>
            </div>


        </div>
    </section> -->
    <!-- Video area end -->

    <!-- Process area start -->
    <section class="process__area-2 py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="process__content-2 inherit-left"
                        style="background-image: url('/assets/imgs/accounting\ &\ bookkeeping/2 Main.jpg');">

                    </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="process__left-3">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">ALL YOU
                            NEED TO KNOW</h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">TAKE YOUR
                            ACCOUNTING TO <span>PROFITABILITY</span></h3>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">Our goal is to
                            provide
                            clients with the financial information and guidance they need to make informed business
                            financial decisions and achieve their financial goals. With the help of a skilled and
                            experienced accountant, clients can gain a better understanding of their financial situation
                            and take steps to improve their bottom line.
                        </p>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.8s">Manage your
                            Accounting &
                            Bookkeeping with us for effective financial record keeping.<br />
                            Your business needs proper accounting & bookkeeping to keep track of your transactions. It
                            is where you can track income and expenditure. It needs both experienced and expert
                            professionals for the professional for reliable accounting services. <br /><br />
                            Our professionals in a way to figure out how bookkeeping can add value to your financials
                            will help you run better. We constitute a plan after we evaluate your preferences. We
                            integrate the accounts based on the ongoing processes to ensure that we could easily rely on
                            the data-driven. The bookkeeping outsourcing from Deepwork ensures to minimize
                            administrative expenses ensuring the data is up to date.
                        </p>
                        <a href="/contact" class="cxu-btn-round wow animate__animated animate__fadeInUp"
                            data-wow-delay="1s">CONTACT US</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Process area end -->

    <!-- Service area start -->
    <style scoped>
        /* .service__item-2:hover h3::before {
            color: var(--white);
        } */
        .service__item-2 {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--secondary)), to(var(--primary)));
            background-image: linear-gradient(to right, var(--secondary), var(--primary));
            color: var(--white);
        }

        .service__item-2 .service__title {
            color: var(--white);
        }

        .service__item-2 .service__btm-2 p {
            color: var(--white);
        }

        .service__item-2-odd {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--white)), to(var(--white)));
            background-image: linear-gradient(to right, var(--white), var(--white));
            color: var(--white);
        }

        .service__item-2-odd .service__title {
            color: var(--black-3);
        }

        .service__item-2-odd .service__btm-2 p {
            color: var(--gray);
        }
    </style>
    <section class="service__area-2 py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="sec-title-wrap">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">SEE OUR
                        </h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            PROCESS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                        <div class="">
                            <h3 class="service__title">Use of latest Technologies to Chart Accounts</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>We start with setting up the chart of your financials and putting together your
                                accounting platform. Accounting automation software is common on the commercial front.
                                Our qualified professionals who are tech-friendly use the most accurate tools to derive
                                your financial calculations.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.3s">
                        <div class="">
                            <h3 class="service__title">Cashflow Management & Ledger Maintenance</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>Our ledger book covers all you need right from the general ledger, expense ledger, and
                                asset/equipment ledger maintenance. This is the most crucial aspect and we ensure your
                                business always has a smooth flow of cash in hand when you need it.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                        <div class="">
                            <h3 class="service__title">Bank Account Reconciliation, Financial Reporting & Analysis</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>We will digitally maintain the real-time track of every check as well as deposit transit.
                                Also, we will maintain your monthly financial analysis and reporting with balance sheets
                                keeping statements of cash inflows and outflows.</p>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.6s">
                        <div class="">
                            <h3 class="service__title">Accountant as an Advisor</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>We have professionals working with more than one domain. They are exposed to many status
                                quo pertinent to every client. Our professionals are excellent advisors about accounting
                                which will become a value-added for companies.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- Service area end -->

    <!-- About area start -->
    <section class="about__area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 d-none d-md-block">
                    <div class="about__left">
                        <!-- <img src="../assets/imgs/about/1.png" alt="Image" class="image">
                        <img src="../assets/imgs/about/2.png" alt="Image" class="image-2">
                        <img src="../assets/imgs/about/3.jpeg" alt="Image" class="image-3">
                        <img src="../assets/imgs/about/s1.png" alt="shape" class="shape"> -->
                        <img src="/assets/imgs/point-images/Accounting.jpg" alt="Image" class="shape">
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="about__right">
                        <div class="about__right-inner">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                What do we
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">cover
                                <span>?</span>
                            </h3>
                            <p>Reconciling your -
                            </p>
                            <ul class="list-check wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                <li>Bank Records with credit statements & company records</li>
                                <li>Vendor Invoices and general ledger</li>
                                <li>Creating bank account reconciliation reports</li>
                                <li>Review of deposited, canceled, cleared, and issued cheques</li>
                                <li>Accounts Payable & Receivable</li>
                                <li>Tax preparation & Financial Reporting</li>
                                <li>Payroll Processing</li>
                            </ul>
                            <a href="/contact" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <!-- Testimonial area start -->
    <%- include('../partials/testimonial'); -%>
        <!-- Testimonial area end -->

        <!-- Hire area start -->
        <section class="hire__area">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="hire__content">
                            <h2 class="hire__title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                Streamline
                                your Financial Process partnering with us. Let us have a call.</h2>
                            <a href="/contact" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">HIRE US NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="../assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
        </section>
        <!-- Hire area end -->

        <!-- Faq area start -->
        <%- include('../partials/faq'); -%>
            <!-- Faq area end -->
            <%- include('../partials/footer'); -%>