<%- include('../partials/header'); -%>
    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area" style="background-image: url('/assets/imgs/ipr/1.Home.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__title">Your Intellectual Property is Our Responsibility.
                        </h1>
                        <p><a href="/">Home</a> <a href="/services">Services</a> <span>IPR Service</span></p>
                    </div>
                </div>
            </div>
        </div>
        <img src="../assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Breadcrumb area end -->

    <!-- Feature area start -->
    <section class="feature__area pt-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <img src="/assets/imgs/feature/12.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Trademark Protect</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <img src="/assets/imgs/feature/1.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Copyright Protect

                        </h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <img src="/assets/imgs/feature/14.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Patent Protect
                        </h2>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">
                        <img src="/assets/imgs/feature/4.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Design Protect</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature area end -->

    <!-- Process area start -->
    <section class="process__area-2 pb-5 pt-0 pt-md-3 pt-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__left">
                        <img src="/assets/imgs/ipr/Main.png" alt="Image" class="shape">
                    </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 pt-3 pt-md-0">
                    <div class="process__left-3">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">ALL YOU
                            NEED TO KNOW</h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Maximize the
                            value of your
                            <br><span>intellectual property with IPR</span>
                        </h3>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">Intellectual
                            property rights (IPR) are legal rights that protect creative and innovative ideas, products,
                            and inventions. They include patents, trademarks, copyrights, and trade secrets, among
                            others. Protecting these rights is crucial for businesses as it allows them to maintain
                            their competitive advantage and safeguard their assets.
                        </p>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">We offer a range
                            of IPR services to help businesses protect their intellectual property, including Patent
                            Research and Analysis: Our team of experts conducts extensive research to determine the
                            validity of a patent and help businesses make informed decisions on their IP portfolio.
                            Trademark Registration: We assist businesses in registering their trademarks and ensuring
                            they are protected under the law. IP Licensing: Our team helps businesses negotiate and
                            draft IP licensing agreements to ensure they receive fair compensation for the use of their
                            intellectual property.
                        </p>
                        <a href="/contact" class="cxu-btn-round wow animate__animated animate__fadeInUp"
                            data-wow-delay="1s">CONTACT US</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Process area end -->

    <!-- Service area start -->
    <style scoped>
        /* .service__item-2:hover h3::before {
            color: var(--white);
        } */
        .service__item-2 {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--secondary)), to(var(--primary)));
            background-image: linear-gradient(to right, var(--secondary), var(--primary));
            color: var(--white);
        }

        .service__item-2 .service__title {
            color: var(--white);
        }

        .service__item-2 .service__btm-2 p {
            color: var(--white);
        }

        .service__item-2-odd {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--white)), to(var(--white)));
            background-image: linear-gradient(to right, var(--white), var(--white));
            color: var(--white);
        }

        .service__item-2-odd .service__title {
            color: var(--black-3);
        }

        .service__item-2-odd .service__btm-2 p {
            color: var(--gray);
        }
    </style>
    <section class="service__area-2 py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="sec-title-wrap">
                        <h2 class="sec-sub-title wow animate__ animate__fadeInUp animated" data-wow-delay="0.2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">SEE OUR
                        </h2>
                        <h3 class="sec-title wow animate__ animate__fadeInUp animated" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            PROCESS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="service__item-2 wow animate__ animate__fadeInUp animated" data-wow-delay="0.15s"
                        style="visibility: visible; animation-delay: 0.15s; animation-name: fadeInUp;">
                        <div class="">
                            <h3 class="service__title">IP Audit & Strategy</h3>
                        </div>
                        <div class="service__btm-2">
                            <ul class="process-list">
                                <li>IP audits are conducted to identify and evaluate the existing IP portfolio.
                                </li>
                                <li>Based on this, customized IP strategy is developed.
                                </li>
                                <li>This includes recommendations for strengthening the existing IP portfolio,
                                    identifying new opportunities for IP protection, and developing a plan for IP
                                    enforcement.</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6">

                    <div class="service__item-2 service__item-2-odd wow animate__ animate__fadeInUp animated"
                        data-wow-delay="0.3s"
                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="">
                            <h3 class="service__title">Filing & Registration</h3>
                        </div>
                        <div class="service__btm-2">

                            <p>We will assist you in preparing and filing applications for IP protection with the
                                relevant authorities such as the Patent Office, Trademark Office, and Copyright Office.
                            </p>

                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6">

                    <div class="service__item-2 wow animate__ animate__fadeInUp animated" data-wow-delay="0.45s"
                        style="visibility: visible; animation-delay: 0.45s; animation-name: fadeInUp;">
                        <div class="">
                            <h3 class="service__title">IP Portfolio Management</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>Our IP portfolio management services include monitoring for infringement, conducting IP
                                due diligence for mergers and acquisitions, and managing licensing and royalty
                                agreements.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6">

                    <div class="service__item-2 service__item-2-odd wow animate__ animate__fadeInUp animated"
                        data-wow-delay="0.6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="">
                            <h3 class="service__title">IP enforcement</h3>
                        </div>
                        <div class="service__btm-2">
                            <ul class="process-list">
                                <li>In case of any infringement of the client's intellectual property rights, we provide
                                    assistance in enforcing these rights through legal action.
                                </li>
                                <li>We also guide your team about the best practices for protecting and managing
                                    intellectual property.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Service area end -->

    <!-- About area start -->
    <section class="about__area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 d-none d-md-block">
                    <div class="about__left">
                        <img src="/assets/imgs/ipr/point.png" alt="Image" class="shape">
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="about__right">
                        <div class="about__right-inner">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                What do we
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">cover
                                <span>?</span>
                            </h3>
                            <ul class="list-check wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                <li>Patent, Trademark, and Copyright registrations</li>
                                <li>We Monitor, track, and update the IPR processes</li>
                                <li>Monitoring and identifying potential IP infringement and providing effective
                                    responses.</li>
                                <li>Negotiating, drafting, and executing IP licenses and other IP-related commercial
                                    agreements.</li>
                                <li>Evaluating the IP assets and liabilities of businesses in mergers and acquisitions,
                                    investment, and financing transactions.</li>
                            </ul>
                            <a href="/contact" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <!-- Testimonial area start -->
    <%- include('../partials/testimonial'); -%>
        <!-- Testimonial area end -->

        <!-- Hire area start -->
        <section class="hire__area">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="hire__content">
                            <h2 class="hire__title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Take
                                the first step towards IP protection <br><span>Schedule a Cionsultation now.</span>
                            </h2>
                            <a href="/contact" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">LET'S TALK</a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="../assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
        </section>
        <!-- Hire area end -->

        <!-- Faq area start -->
        <%- include('../partials/faq'); -%>
            <!-- Faq area end -->
            <%- include('../partials/footer'); -%>