<%- include('../partials/header'); -%>
    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area" style="background-image: url('/assets/imgs/outsourcing/1.Home.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__title">Let us be your partner in achieving successful M&A transactions.
                        </h1>
                        <p><a href="/">Home</a> <a href="/services">Services</a> <span>Mergers and Acquisitions</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <img src="../assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Breadcrumb area end -->

    <!-- Feature area start -->
    <section class="feature__area pt-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <img src="/assets/imgs/feature/1.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">In-house CFO and Senior Controller professionals</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <img src="/assets/imgs/feature/9.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">A comprehensive, research-based approach
                        </h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <img src="/assets/imgs/feature/4.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Rigorous process and project management
                        </h2>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">
                        <img src="/assets/imgs/feature/10.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">In-house legal professional support</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature area end -->

    <!-- Process area start -->
    <section class="process__area-2 pb-5 pt-0 pt-md-3 pt-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__left">
                        <img src="/assets/imgs/mergers and aquisitions/Main.png" alt="Image" class="shape">
                    </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 pt-3 pt-md-0">
                    <div class="process__left-3">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">ALL YOU
                            NEED TO KNOW</h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Maximize
                            value and achieve success with <span>our M&A services!</span></h3>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">Mergers &
                            Acquisitions can be used interchangeably, however, they have a slight difference in
                            definition. Mergers and acquisitions (M&A) services are a range of professional services
                            that are provided to companies involved in the buying, selling, or merging of businesses.
                            These services include financial, legal, strategic, and operational support to help
                            companies navigate the complex process of M&A transactions.
                        </p>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.8s">M&A transactions
                            are a way for companies to grow, expand their market share, and acquire new capabilities.
                            However, the process of mergers and acquisitions can be complicated and risky, involving
                            numerous legal, financial, and operational considerations. M&A service providers help
                            companies manage these complexities and minimize the risks associated with such
                            transactions.
                        </p>
                        <a href="/contact" class="cxu-btn-round wow animate__animated animate__fadeInUp"
                            data-wow-delay="1s">CONTACT US</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Process area end -->

    <!-- Service area start -->
    <style scoped>
        /* .service__item-2:hover h3::before {
            color: var(--white);
        } */
        .service__item-2 {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--secondary)), to(var(--primary)));
            background-image: linear-gradient(to right, var(--secondary), var(--primary));
            color: var(--white);
        }

        .service__item-2 .service__title {
            color: var(--white);
        }

        .service__item-2 .service__btm-2 p {
            color: var(--white);
        }

        .service__item-2-odd {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--white)), to(var(--white)));
            background-image: linear-gradient(to right, var(--white), var(--white));
            color: var(--white);
        }

        .service__item-2-odd .service__title {
            color: var(--black-3);
        }

        .service__item-2-odd .service__btm-2 p {
            color: var(--gray);
        }
    </style>
    <section class="service__area-2 py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="sec-title-wrap">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">SEE OUR
                        </h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            PROCESS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                        <div class="">
                            <h3 class="service__title">Strategy Planning & Target Identification</h3>
                        </div>
                        <div class="service__btm-2">
                            <ul class="process-list">
                                <li>We identify potential targets, assess the risks and benefits, and determine the
                                    potential value of the deal.
                                </li>
                                <li>The next step is to identify potential targets for the merger or acquisition. This
                                    can be done through market research, industry analysis, and other methods.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.3s">
                        <div class="">
                            <h3 class="service__title">Due diligence & Negotiation</h3>
                        </div>
                        <div class="service__btm-2">
                            <ul class="process-list">
                                <li>We start with a thorough investigation of the company's financial and legal history,
                                    as well as its operations, market position, and other factors.
                                </li>
                                <li>Once due diligence is complete, negotiations begin. This involves determining the
                                    terms of the deal, including the purchase price, payment structure, and other key
                                    details.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                        <div class="">
                            <h3 class="service__title">Integration Planning</h3>
                        </div>
                        <div class="service__btm-2">
                            <ul class="process-list">
                                <li>After the deal is finalized, we develop a plan for integrating the two companies.
                                </li>
                                <li>This includes identifying areas of overlap, developing a new organizational
                                    structure, and addressing any other challenges that arise.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.6s">
                        <div class="">
                            <h3 class="service__title">Implementation</h3>
                        </div>
                        <div class="service__btm-2">
                            <ul class="process-list">
                                <li>Finally, the deal is implemented, and the two companies are merged into a single
                                    entity. </li>
                                <li>This involves integrating systems and processes, rebranding the company if
                                    necessary, and implementing the integration plan.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- Service area end -->

    <!-- About area start -->
    <section class="about__area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 d-none d-md-block">
                    <div class="about__left">
                        <img src="/assets/imgs/mergers and aquisitions/point.png" alt="Image" class="shape">
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="about__right">
                        <div class="about__right-inner">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                What do we
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">offer
                                <span>?</span>
                            </h3>
                            <ul class="list-check wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                <li>Cultural Due Diligence & Alignment</li>
                                <li>Organization design & effectiveness</li>
                                <li>M & A playbook design & execution</li>
                                <li>Post-deal risk mitigation</li>
                                <li>Post-Merger integration</li>
                            </ul>
                            <a href="/contact" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <!-- Testimonial area start -->
    <%- include('../partials/testimonial'); -%>
        <!-- Testimonial area end -->

        <!-- Hire area start -->
        <section class="hire__area">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="hire__content">
                            <h2 class="hire__title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                Maximize the value of your business with our M&A solutions.<br> <span>Contact us today
                                    for a
                                    consultation!</span>
                            </h2>
                            <a href="/contact" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">LET'S TALK</a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="../assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
        </section>
        <!-- Hire area end -->

        <!-- Faq area start -->
        <%- include('../partials/faq'); -%>
            <!-- Faq area end -->
            <%- include('../partials/footer'); -%>