<%- include('../partials/header'); -%>
    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area" style="background-image: url('/assets/imgs/payroll-management/1.\ Home.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__title">Payroll Process is easy with Experts
                        </h1>
                        <p><a href="/">Home</a> <a href="/services">Services</a> <span>Payroll Outsourcing</span></p>
                    </div>
                </div>
            </div>
        </div>
        <img src="../assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Breadcrumb area end -->

    <!-- Feature area start -->
    <section class="feature__area pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/imgs/feature/1.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Compliance Expertise</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <img src="assets/imgs/feature/9.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Proactive tax compliance</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <img src="assets/imgs/feature/3.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Robust Confidentiality Measures</h2>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">
                        <img src="assets/imgs/feature/4.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">User-Friendly Platforms</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature area end -->

    <!-- Process area start -->
    <section class="process__area-2 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="process__content-2 inherit-left"
                        style="background-image: url('/assets/imgs/payroll-management/2.Main.jpg');">

                    </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="process__left-3 py-5">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">ALL YOU
                            NEED TO KNOW</h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Focus on
                            what matters the most.
                            <span>Let us handle your payroll.
                            </span>
                        </h3>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">Payroll is every
                            company or organization's core functional area. Even the most experienced and streamlined
                            firms find it a typical task to timeline and process. For this reason, many organizations
                            are looking for cost-effective solutions to automate or hire an outsourcing team who can
                            make this efficient.

                        </p>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">Deepwork has
                            started payroll outsourcing services to address this in many companies. Even the things are
                            streamlined, dealing with the payroll management systems is quite difficult. But, our
                            payroll outsourcing services make it easy. Our payroll management professionals have the
                            in-depth knowledge of managing human resources and building strategies to balance each
                            workflow of the payroll process. The team has years of experience in dealing with different
                            business profiles and payroll structures along with the niche in outsourcing payroll
                            services.

                        </p>
                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">Deepwork provides
                            integrated solutions for processing payrolls with proven strategies. Our team enhances the
                            process of adapting to new systems that structures everything in less time.

                        </p>
                        <a href="/contact" class="cxu-btn-round wow animate__animated animate__fadeInUp"
                            data-wow-delay="1s">CONTACT US</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Process area end -->

    <!-- Service area start -->
    <style scoped>
        /* .service__item-2:hover h3::before {
            color: var(--white);
        } */
        .service__item-2 {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--secondary)), to(var(--primary)));
            background-image: linear-gradient(to right, var(--secondary), var(--primary));
            color: var(--white);
        }

        .service__item-2 .service__title {
            color: var(--white);
        }

        .service__item-2 .service__btm-2 p {
            color: var(--white);
        }

        .service__item-2-odd {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--white)), to(var(--white)));
            background-image: linear-gradient(to right, var(--white), var(--white));
            color: var(--white);
        }

        .service__item-2-odd .service__title {
            color: var(--black-3);
        }

        .service__item-2-odd .service__btm-2 p {
            color: var(--gray);
        }
    </style>
    <section class="service__area-2 pt-100">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="sec-title-wrap">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">SEE OUR
                        </h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            SOLUTIONS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                        <div class="">
                            <h3 class="service__title">Record Maintenance</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>We start with recording the employee data. This includes master details and transactional
                                details. We help you keep track of their advances, statutory deductions, etc.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.3s">
                        <div class="">
                            <h3 class="service__title">Payroll preparation & cost analysis</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>Next, we calculate the payroll of each employee taking the records like computation of
                                Gross Pay, Net Pay, employment tax, Social Security Deductions, and other statutory
                                deductions as per the law of the country.

                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                        <div class="">
                            <h3 class="service__title">Statement Submission to authorities</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>Submitting the payroll statements on time is as important as recording them regularly.
                                Our professionals once hired will take care of the statement submissions to different
                                authorities before the deadlines.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.6s">
                        <div class="">
                            <h3 class="service__title">Salary Credits</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>This is a big day for any organization. Processing net salary and transferring to
                                respective employees involves a chain of processes like checking the deductions or
                                incentive calculation and any other credit/debit assessments. A professional team from
                                Deepwork has all the hands-on to efficiently carry this out.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- Service area end -->

    <!-- About area start -->
    <section class="about__area pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 d-none d-md-block">
                    <div class="about__left">
                        <img src="/assets/imgs/point-images/Payroll Management.jpg" alt="Image" class="shape">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__right">
                        <div class="about__right-inner">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                What do we
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">offer
                                <span>?</span>
                            </h3>
                            <ul class="list-check wow pb-1 animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                <li>We maintain a structured monthly payroll processing and master data.
                                </li>
                                <li>Preparing and Submitting statutory returns.
                                </li>
                                <li>We ensure the timely payment of your organization keeping in mind your compensation
                                    policies.</li>
                                <li>We manage calculations of multiple groups of employees satisfying every
                                    organization's specific need.</li>
                            </ul>
                            <a href="/contact" class="mt-3 cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <!-- Testimonial area start -->
    <%- include('../partials/testimonial'); -%>
        <!-- Testimonial area end -->

        <!-- Hire area start -->
        <section class="hire__area">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="hire__content">
                            <h2 class="hire__title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Get in
                                touch with us today to learn more about our payroll compliance services</h2>
                            <a href="/contact" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">CONTACT US NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="../assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
        </section>
        <!-- Hire area end -->

        <!-- Faq area start -->
        <%- include('../partials/faq'); -%>
            <!-- Faq area end -->
            <%- include('../partials/footer'); -%>