<%- include('../partials/header'); -%>
    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area" style="background-image: url('/assets/imgs/outsourcing/1.Home.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__title">Your partners for Finance Outsourcing & Transformation
                        </h1>
                        <p><a href="/">Home</a> <a href="/services">Services</a> <span>Outsourcing</span></p>
                    </div>
                </div>
            </div>
        </div>
        <img src="../assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Breadcrumb area end -->

    <!-- Feature area start -->
    <section class="feature__area pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <img src="/assets/imgs/feature/13.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Access to specialized expertise</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <img src="/assets/imgs/feature/10.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Reduced risk
                        </h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <img src="/assets/imgs/feature/16.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Scalability
                        </h2>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">
                        <img src="/assets/imgs/feature/9.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Enhanced flexibility</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature area end -->

    <!-- Process area start -->
    <section class="process__area-2 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__left">
                        <img src="/assets/imgs/outsourcing/Main.png" alt="Image" class="shape">
                    </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="process__left-3">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">ALL YOU
                            NEED TO KNOW</h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Streamlined
                            outsourcing solutions for <span>financial efficiency and growth.</span></h3>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">Outsourcing has
                            become commonplace in many companies as they are minimizing the costs of recruitment and
                            increasing efficiency. As businesses are increasing globally, financial outsourcing and
                            globalization have profoundly impacted operations in recent years.
                        </p>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">Outsourcing your
                            financial services to us can help you save time and resources. By outsourcing, you can also
                            focus more on running your business while we handle the financial side of things.
                        </p>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.8s">Deepwork has a
                            team of professionals to help your businesses to make the right approach for your everyday
                            accounting and financing services. You can rely on us for any financial need from Accounting
                            & bookkeeping, GST registrations, ITRs, Business Valuations, etc.
                            <br>
                            Our goal is to provide you with personalized, high-quality financial consulting services
                            that are tailored to meet your specific needs. We understand that every business is unique,
                            which is why we take the time to get to know your business and its goals before developing a
                            customized financial strategy that works for you.
                        </p>
                        <a href="/contact" class="cxu-btn-round wow animate__animated animate__fadeInUp"
                            data-wow-delay="1s">CONTACT US</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Process area end -->

    <!-- Service area start -->
    <style scoped>
        /* .service__item-2:hover h3::before {
            color: var(--white);
        } */
        .service__item-2 {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--secondary)), to(var(--primary)));
            background-image: linear-gradient(to right, var(--secondary), var(--primary));
            color: var(--white);
        }

        .service__item-2 .service__title {
            color: var(--white);
        }

        .service__item-2 .service__btm-2 p {
            color: var(--white);
        }

        .service__item-2-odd {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--white)), to(var(--white)));
            background-image: linear-gradient(to right, var(--white), var(--white));
            color: var(--white);
        }

        .service__item-2-odd .service__title {
            color: var(--black-3);
        }

        .service__item-2-odd .service__btm-2 p {
            color: var(--gray);
        }
    </style>
    <section class="service__area-2 py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="sec-title-wrap">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">SEE OUR
                        </h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            PROCESS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                        <div class="">
                            <h3 class="service__title">Identifying the need</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>We tailor our process to your business needs. So, we start with collecting information to
                                determine which financial services you need. Based on the needs and budget, we will
                                determine the scope of work your business need.</p>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.3s">
                        <div class="">
                            <h3 class="service__title">Allocate potential providers</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>Once we are clear with your financial needs, we will allocate the best professional who
                                has the expertise to handle your business needs. We will then make a contract to ensure
                                that the agreement reflects your requirements and expectations.</p>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                        <div class="">
                            <h3 class="service__title">Transition & Implementation</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>The consultant can periodically review the outsourcing arrangement and recommend
                                adjustments or improvements as needed to ensure that your business's financial
                                outsourcing needs are being met effectively and efficiently.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.6s">
                        <div class="">
                            <h3 class="service__title">Review and Adjustment</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>Our professionals coordinate with your team for the transition of financial processes
                                ensuring a smooth implementation. We will also monitor performance, ensure compliance
                                with the contract, and address any issues or concerns that may arise.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- Service area end -->

    <!-- About area start -->
    <section class="about__area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 d-none d-md-block">
                    <div class="about__left">
                        <img src="/assets/imgs/outsourcing/point.png" alt="Image" class="shape">
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="about__right">
                        <div class="about__right-inner">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                What do we
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">offer
                                <span>?</span>
                            </h3>
                            <ul class="list-check wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                <li>Tax planning and compliance</li>
                                <li>Financial analysis and reporting</li>
                                <li>Budgeting and forecasting</li>
                                <li>Risk management</li>
                                <li>CFO services</li>
                            </ul>
                            <a href="/contact" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <!-- Testimonial area start -->
    <%- include('../partials/testimonial'); -%>
        <!-- Testimonial area end -->

        <!-- Hire area start -->
        <section class="hire__area">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="hire__content">
                            <h2 class="hire__title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Get in
                                touch to enhance your financial operations Today.
                            </h2>
                            <a href="/contact" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">LET'S TALK</a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="../assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
        </section>
        <!-- Hire area end -->

        <!-- Faq area start -->
        <%- include('../partials/faq'); -%>
            <!-- Faq area end -->
            <%- include('../partials/footer'); -%>