<%- include('../partials/header'); -%>
    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area"
        style="background-image: url('/assets/imgs/cost\ and\ works\ compliance/1.Home.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__title">Simplify Cost & Works Accounting with us – your smart choice for
                            businesses.
                        </h1>
                        <p><a href="/">Home</a> <a href="/services">Services</a> <span>Profitability Analytics and
                                Management</span></p>
                    </div>
                </div>
            </div>
        </div>
        <img src="../assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Breadcrumb area end -->

    <!-- Feature area start -->
    <section class="feature__area pt-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <img src="/assets/imgs/feature/3.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Improved financial performance</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <img src="/assets/imgs/feature/10.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Compliance with legal requirements
                        </h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <img src="/assets/imgs/feature/20.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Reduce costs & Increase profitability
                        </h2>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">
                        <img src="/assets/imgs/feature/11.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Effective Cost Management</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature area end -->

    <!-- Process area start -->
    <section class="process__area-2 pb-5 pt-0 pt-md-3 pt-md-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="about__left">
                        <img src="/assets/imgs/cost and works compliance/Main.jpg" alt="Image" class="shape">
                    </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 pt-3 pt-md-0">
                    <div class="process__left-3">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">ALL YOU
                            NEED TO KNOW</h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">Unmatched
                            Cost Audit and
                            <span>Compliance Services!</span>
                        </h3>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">Cost and Works
                            Compliance refers to the process of ensuring that a company is following the regulations
                            related to cost accounting and reporting. In India, the Cost and Works Accountants Act of
                            1959 mandates companies to maintain cost accounting records and submit compliance reports to
                            the government.
                        </p>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">The compliance
                            requirements involve the preparation of cost audit reports and cost compliance reports for
                            the relevant financial year. The reports are prepared by a cost auditor who is an
                            independent professional appointed by the company's board of directors.
                        </p>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.8s">At Deepwork, we
                            have cost auditor professionals who examine the cost accounting records and reports prepared
                            by the company to ensure compliance with the relevant laws and regulations. The auditor also
                            checks for any discrepancies or errors in the records and reports.
                            <br><br>
                            The purpose of cost and works compliance is to ensure that companies maintain accurate and
                            reliable cost accounting records and reports, which help in effective decision-making and
                            efficient management of resources. Compliance also helps to prevent fraud and mismanagement
                            of funds, thereby safeguarding the interests of shareholders and other stakeholders.
                        </p>
                        <a href="/contact" class="cxu-btn-round wow animate__animated animate__fadeInUp"
                            data-wow-delay="1s">CONTACT US</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Process area end -->

    <!-- Service area start -->
    <style scoped>
        /* .service__item-2:hover h3::before {
            color: var(--white);
        } */
        .service__item-2 {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--secondary)), to(var(--primary)));
            background-image: linear-gradient(to right, var(--secondary), var(--primary));
            color: var(--white);
        }

        .service__item-2 .service__title {
            color: var(--white);
        }

        .service__item-2 .service__btm-2 p {
            color: var(--white);
        }

        .service__item-2-odd {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--white)), to(var(--white)));
            background-image: linear-gradient(to right, var(--white), var(--white));
            color: var(--white);
        }

        .service__item-2-odd .service__title {
            color: var(--black-3);
        }

        .service__item-2-odd .service__btm-2 p {
            color: var(--gray);
        }
    </style>
    <section class="service__area-2 py-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="sec-title-wrap">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">SEE OUR
                        </h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            PROCESS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                        <div class="">
                            <h3 class="service__title">Initial Consultation</h3>
                        </div>
                        <div class="service__btm-2">
                            <ul class="process-list">
                                <li>We start with discussing clients’ needs and assessing their current level of
                                    compliance. </li>
                                <li>The client's financial statements and other relevant documentation are reviewed.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.3s">
                        <div class="">
                            <h3 class="service__title">Scope of Work & Data collection</h3>
                        </div>
                        <div class="service__btm-2">
                            <ul class="process-list">
                                <li>We will develop a detailed scope of work outlining the specific services we will
                                    provide and the timeline for completing them. </li>
                                <li>Then the relevant data related to the cost and management of the client's products
                                    or services is collected.</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                        <div class="">
                            <h3 class="service__title">Analysis & Recommendations</h3>
                        </div>
                        <div class="service__btm-2">
                            <ul class="process-list">
                                <li>We will analyze the data to identify areas of non-compliance. We then check for
                                    opportunities for cost reduction or improved cost management.</li>
                                <li>Based on this analysis, we will make recommendations to improve your compliance.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">

                    <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.6s">
                        <div class="">
                            <h3 class="service__title">Implementation & Reporting</h3>
                        </div>
                        <div class="service__btm-2">
                            <ul class="process-list">
                                <li>After recommendations, the consultant may help to implement the necessary changes.
                                </li>
                                <li>We also provide regular reports to make adjustments.</li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- Service area end -->

    <!-- About area start -->
    <section class="about__area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 d-none d-md-block">
                    <div class="about__left">
                        <img src="/assets/imgs/cost and works compliance/point.png" alt="Image" class="shape">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about__right">
                        <div class="about__right-inner">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                What do we
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">offer
                                <span>?</span>
                            </h3>
                            <ul class="list-check wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                <li>Compliance with regulations</li>
                                <li>Improved cost management</li>
                                <li>Better financial reporting</li>
                                <li>Professional expertise</li>
                                <li>Enhanced decision-making</li>
                            </ul>
                            <a href="/contact" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <!-- Testimonial area start -->
    <%- include('../partials/testimonial'); -%>
        <!-- Testimonial area end -->

        <!-- Hire area start -->
        <section class="hire__area">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="hire__content">
                            <h2 class="hire__title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Take
                                the leap <br><span>click here to get started.</span>
                            </h2>
                            <a href="/contact" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">LET'S TALK</a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="../assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
        </section>
        <!-- Hire area end -->

        <!-- Faq area start -->
        <%- include('../partials/faq'); -%>
            <!-- Faq area end -->
            <%- include('../partials/footer'); -%>