<%- include('../partials/header'); -%>
    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__title">Stay Compliant with all organizational laws.
                        </h1>
                        <p><a href="/">Home</a> <a href="/services">Services</a> <span>Monthly Compliances</span></p>
                    </div>
                </div>
            </div>
        </div>
        <img src="../assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
    </section>
    <!-- Breadcrumb area end -->

    <!-- Feature area start -->
    <section class="feature__area pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/imgs/feature/1.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Objective risk assessment</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                        <img src="assets/imgs/feature/9.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Independent Assessment</h2>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                        <img src="assets/imgs/feature/3.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Responsive to regulations</h2>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="feature__item wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">
                        <img src="assets/imgs/feature/4.png" alt="Icon" class="feature__icon">
                        <h2 class="feature__text">Network of experts</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature area end -->

    <!-- Process area start -->
    <section class="process__area-2 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="process__content-2 inherit-left">

                    </div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="process__left-3 pt-130 pb-130">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">ALL YOU
                            NEED TO KNOW</h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">A
                            hassle-free approach to monthly compliance <span>starts from here.
                            </span></h3>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">Monthly compliance
                            refers to the regular monitoring of the company's adherence to laws regulations, and
                            internal policies. This includes comprehensive record keeping, filings, lesioning, and
                            maintenance of the organization. Following all these ensure a healthy compliance score.
                        </p>
                        <p class="wow animate__animated animate__fadeInUp pb-2" data-wow-delay="0.6s">Outsourcing
                            monthly compliance services provide access to experts who have a deep understanding of the
                            laws and regulations that govern a company's operations. This expertise can help the company
                            to identify and mitigate risks that they may not have been aware of. Additionally, the
                            objective nature of an outside consultant can help to ensure that compliance is being
                            approached impartially.

                        </p>
                        <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">We provide access to
                            the latest technology and tools such as data analytics and risk management software to
                            streamline the compliance process and thus improve efficiency. Deepwork professionals have
                            the up to date reports of each new law & regulation that is constantly changing. This makes
                            us make the organizations free from compliances and their associated risk factors.

                        </p>
                        <a href="/contact" class="cxu-btn-round wow animate__animated animate__fadeInUp"
                            data-wow-delay="1s">CONTACT US</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Process area end -->

    <!-- Service area start -->
    <style scoped>
        /* .service__item-2:hover h3::before {
            color: var(--white);
        } */
        .service__item-2 {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--secondary)), to(var(--primary)));
            background-image: linear-gradient(to right, var(--secondary), var(--primary));
            color: var(--white);
        }

        .service__item-2 .service__title {
            color: var(--white);
        }

        .service__item-2 .service__btm-2 p {
            color: var(--white);
        }

        .service__item-2-odd {
            background-image: -webkit-gradient(linear, left top, right top, from(var(--white)), to(var(--white)));
            background-image: linear-gradient(to right, var(--white), var(--white));
            color: var(--white);
        }

        .service__item-2-odd .service__title {
            color: var(--black-3);
        }

        .service__item-2-odd .service__btm-2 p {
            color: var(--gray);
        }
    </style>
    <section class="service__area-2 pt-100">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="sec-title-wrap">
                        <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">SEE OUR
                        </h2>
                        <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                            PROCESS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">
                        <div class="">
                            <h3 class="service__title">Assessment of current compliance</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>We assess the current compliance status of the organization by reviewing the company's
                                policies, procedures, and processes to ensure that they align with the relevant laws,
                                regulations, and standards.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">

                    <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.3s">
                        <div class="">
                            <h3 class="service__title">Identifying non-compliant areas</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>After the assessment, we identify the non-compliant areas verifying against the new laws
                                and regulations. This may be required around data protection, health, and safety,
                                environmental protection, or financial reporting.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">

                    <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.45s">
                        <div class="">
                            <h3 class="service__title">Recommendations for improvements</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>Our compliance professional team after every assessment and identification of
                                non-compliant areas, suggests the improvements to be made in organizational compliance
                                like the development of new policies, procedures, and processes, or the revision of
                                existing ones.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">

                    <div class="service__item-2 service__item-2-odd wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.6s">
                        <div class="">
                            <h3 class="service__title">Implementation Support</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>The professional team is efficient at implementing the new laws into organizations that
                                effectively make the functioning of the organization. We ensure all the changes are
                                efficiently made providing end-to-end guidance and support.</p>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">

                    <div class="service__item-2 wow animate__animated animate__fadeInUp" data-wow-delay="0.75s">
                        <div class="">
                            <h3 class="service__title">Continuous Monitoring and Reporting</h3>
                        </div>
                        <div class="service__btm-2">
                            <p>Monthly compliances need continuous monitoring of the new laws furnishing and the
                                revision or implementation of them at organizational levels. To make this flow
                                efficient, we provide reports for each area of compliance and proceed in that way.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Service area end -->

    <!-- About area start -->
    <section class="about__area pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 d-none d-md-block">
                    <div class="about__left">
                        <img src="../assets/imgs/about/1.png" alt="Image" class="image">
                        <img src="../assets/imgs/about/2.png" alt="Image" class="image-2">
                        <img src="../assets/imgs/about/3.jpeg" alt="Image" class="image-3">
                        <img src="../assets/imgs/about/s1.png" alt="shape" class="shape">
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="about__right">
                        <div class="about__right-inner">
                            <h2 class="sec-sub-title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                                What do we
                            </h2>
                            <h3 class="sec-title wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">offer
                                <span>?</span>
                            </h3>
                            <ul class="list-check wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                                <li>Regulatory compliance to ensure compliance with laws and regulations.</li>
                                <li>Reviewing financial statements to ensure they are accurate and up-to-date with
                                    updated standards.</li>
                                <li>Identifying and assessing potential risks to the company in case of non-compliance.
                                </li>
                                <li>Evaluating internal controls to make necessary recommendations for improvement.
                                </li>
                                <li>Employment compliance to ensure it is up-to-date with new laws and regulations.
                                </li>
                            </ul>
                            <a href="/contact" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About area end -->

    <!-- Testimonial area start -->
    <%- include('../partials/testimonial'); -%>
        <!-- Testimonial area end -->

        <!-- Hire area start -->
        <section class="hire__area">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="hire__content">
                            <h2 class="hire__title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">Don't
                                wait until it's too late.<br> Let the <span>experts</span> handle your monthly
                                compliance.
                            </h2>
                            <a href="/contact" class="cxu-btn-primary wow animate__animated animate__fadeInUp"
                                data-wow-delay="0.4s">SPEAK TO US</a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="../assets/imgs/hero/overlay.png" alt="overlay" class="overlay">
        </section>
        <!-- Hire area end -->

        <!-- Faq area start -->
        <%- include('../partials/faq'); -%>
            <!-- Faq area end -->
            <%- include('../partials/footer'); -%>